In [1]:
import nbimporter
import pandas as pd
from collections import OrderedDict
import read_report_cobol as cobol_reader # type: ignore
import read_report_java as java_reader # type: ignore

def get_employee_types():
    employee_types = ['clt', 'autarquico']
    return employee_types

def get_common_table_types():
    table_types = ['apropriado', 'realizado']
    return table_types

def subtract_dataframes(df1: pd.DataFrame, df2: pd.DataFrame, items:list) -> pd.DataFrame:
    df3 = df1 - df2
    if items is not None:
        df3 = pd.concat([items, df3], axis=1)
    return df3

def correct_autarquico(cobol:pd.DataFrame) -> pd.DataFrame:
    correct_cobol = cobol.iloc[:3,:].copy()
    total_line = pd.to_numeric(correct_cobol.iloc[0, 1:], errors='coerce') + pd.to_numeric(correct_cobol.iloc[2, 1:], errors='coerce')
    correct_cobol.iloc[1, 1:4] = 0.00
    correct_cobol.iloc[1, 5] = correct_cobol.iloc[1, 4]
    correct_cobol.loc[3] = ['total'] + total_line.tolist()
    correct_cobol = correct_cobol.reindex([0,2,3,1])
    correct_cobol = correct_cobol.reset_index(drop=True)
    return correct_cobol

def compare_clt_apropriado(cobol:pd.DataFrame, java:pd.DataFrame) -> pd.DataFrame:
    items = java.iloc[:,0]
    df_j =  java.iloc[:,1:].apply(pd.to_numeric, errors='coerce')
    df_c = cobol.iloc[:,1:].apply(pd.to_numeric, errors='coerce')
    return subtract_dataframes(df_j, df_c, items), cobol, java

def compare_clt_realizado(cobol:pd.DataFrame, java:pd.DataFrame) -> pd.DataFrame:
    items = cobol.iloc[:,0]
    df_j  = java.iloc[2:,1:].apply(pd.to_numeric, errors='coerce')
    df_j  = df_j.reset_index(drop=True)
    df_c  = cobol.iloc[:,1:].apply(pd.to_numeric, errors='coerce')
    return subtract_dataframes(df_j, df_c, items), cobol, java

def compare_autarquico(cobol:pd.DataFrame, java:pd.DataFrame) -> pd.DataFrame:
    cobol = correct_autarquico(cobol)
    return compare_clt_apropriado(cobol, java)

cobol_file_path = "RHPP05LA.PDF"
java_file_path  = "RHPP05LA - GERAL.pdf"

results = {}

# lê os arquivos, adiciona a um dicionario e ordena as chaves
cobol_report = cobol_reader.get_cobol_data_from(cobol_file_path)
java_report = java_reader.get_java_data_from(java_file_path)
cobol_report = OrderedDict(sorted(cobol_report.items()))
java_report  = OrderedDict(sorted(java_report.items()))

# verifica se as chaves sao iguais e na mesma ordem
if list(cobol_report.keys()) == list(java_report.keys()):
    for (c_key, c_item), (j_key, j_item) in zip(cobol_report.items(), java_report.items()):
        for emp_type in get_employee_types():
            for tb_type in get_common_table_types():
                if emp_type == get_employee_types()[0] and tb_type == get_common_table_types()[0]:
                    df_diff = compare_clt_apropriado(c_item[emp_type][tb_type], j_item[emp_type][tb_type])
                elif emp_type == get_employee_types()[0] and tb_type == get_common_table_types()[1]:
                    df_diff = compare_clt_realizado(c_item[emp_type][tb_type], j_item[emp_type][tb_type])
                elif emp_type == get_employee_types()[1]:
                    df_diff = compare_autarquico(c_item[emp_type][tb_type], j_item[emp_type][tb_type])
                else:
                    print("Tabela não identificada")
else:
    print("Chaves diferentes entre os arquivos! Validar PDF.")

abr 16, 2024 6:25:21 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
ADVERTÊNCIA: Using fallback font LiberationSans for base font Symbol
abr 16, 2024 6:25:21 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
ADVERTÊNCIA: Using fallback font LiberationSans for base font ZapfDingbats

'diferenca: (java) - (cobol)'

                 ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  3115.52    1038.13       4153.65     3115.52   7269.17
1    spprevcom     0.00       0.00          0.00       43.59     43.59
2        total  3115.52    1038.13       4153.65     3159.11   7312.76
3       spprev     0.00       0.00          0.00    10407.11  10407.11

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  128438.51   43729.07     172167.58         0.0  172167.58
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  128438.51   43729.07     172167.58         0.0  172167.58
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  1229.3     409.34       1638.64     1229.30   2867.94
1    spprevcom     0.0       0.00          0.00       46.03     46.03
2        total  1229.3     409.34       1638.64     1275.33   2913.97
3       spprev     0.0       0.00          0.00    11882.28  11882.28

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  232063.57    77830.0     309893.57         0.0  309893.57
1    spprevcom       0.00        0.0          0.00         0.0       0.00
2        total  232063.57    77830.0     309893.57         0.0  309893.57
3       spprev       0.00        0.0          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                 ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  1147.28     381.95       1529.23     1147.28   2676.51
1    spprevcom     0.00       0.00          0.00        0.00      0.00
2        total  1147.28     381.95       1529.23     1147.28   2676.51
3       spprev     0.00       0.00          0.00    14571.95  14571.95

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  307388.77  102830.11     410218.88         0.0  410218.88
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  307388.77  102830.11     410218.88         0.0  410218.88
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                 ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  1721.21      573.1       2294.31     1721.21   4015.52
1    spprevcom     0.00        0.0          0.00      242.73    242.73
2        total  1721.21      573.1       2294.31     1963.94   4258.25
3       spprev     0.00        0.0          0.00    16357.75  16357.75

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  249879.8   85663.62     335543.42         0.0  335543.42
1    spprevcom       0.0       0.00          0.00         0.0       0.00
2        total  249879.8   85663.62     335543.42         0.0  335543.42
3       spprev       0.0       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.67      -0.63          -1.3       -0.67    -1.97
1    spprevcom    0.00       0.00           0.0       72.69    72.69
2        total   -0.67      -0.63          -1.3       72.02    70.72
3       spprev    0.00       0.00           0.0     9065.97  9065.97

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  221075.47   75391.35     296466.82         0.0  296466.82
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  221075.47   75391.35     296466.82         0.0  296466.82
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao    -0.8      -0.72         -1.52       -0.80     -2.32
1    spprevcom     0.0       0.00          0.00       35.14     35.14
2        total    -0.8      -0.72         -1.52       34.34     32.82
3       spprev     0.0       0.00          0.00    13882.01  13882.01

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  318356.74  106980.27     425337.01         0.0  425337.01
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  318356.74  106980.27     425337.01         0.0  425337.01
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao  3590.2    1196.32       4786.52     3590.20  8376.72
1    spprevcom     0.0       0.00          0.00      103.79   103.79
2        total  3590.2    1196.32       4786.52     3693.99  8480.51
3       spprev     0.0       0.00          0.00     9733.63  9733.63

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao  71986.43   24726.87       96713.3         0.0  96713.3
1    spprevcom      0.00       0.00           0.0         0.0      0.0
2        total  71986.43   24726.87       96713.3         0.0  96713.3
3       spprev      0.00       0.00           0.0         0.0      0.0

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  965.31     321.28       1286.59      965.31   2251.90
1    spprevcom    0.00       0.00          0.00        0.00      0.00
2        total  965.31     321.28       1286.59      965.31   2251.90
3       spprev    0.00       0.00          0.00    15089.57  15089.57

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  225538.56   75349.68     300888.24         0.0  300888.24
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  225538.56   75349.68     300888.24         0.0  300888.24
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.77      -0.76         -1.53       -0.77     -2.30
1    spprevcom    0.00       0.00          0.00       43.59     43.59
2        total   -0.77      -0.76         -1.53       42.82     41.29
3       spprev    0.00       0.00          0.00    11940.84  11940.84

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  124129.34   43112.42     167241.76         0.0  167241.76
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  124129.34   43112.42     167241.76         0.0  167241.76
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.53      -0.49         -1.02       -0.53    -1.55
1    spprevcom    0.00       0.00          0.00        0.00     0.00
2        total   -0.53      -0.49         -1.02       -0.53    -1.55
3       spprev    0.00       0.00          0.00     8503.52  8503.52

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  163141.22    54591.2     217732.42         0.0  217732.42
1    spprevcom       0.00        0.0          0.00         0.0       0.00
2        total  163141.22    54591.2     217732.42         0.0  217732.42
3       spprev       0.00        0.0          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                 ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao  2943.53     980.96       3924.49     2943.53  6868.02
1    spprevcom     0.00       0.00          0.00       31.97    31.97
2        total  2943.53     980.96       3924.49     2975.50  6899.99
3       spprev     0.00       0.00          0.00     7316.72  7316.72

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  139964.27   47524.87     187489.14         0.0  187489.14
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  139964.27   47524.87     187489.14         0.0  187489.14
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.38      -0.28         -0.66       -0.38    -1.04
1    spprevcom    0.00       0.00          0.00        0.00     0.00
2        total   -0.38      -0.28         -0.66       -0.38    -1.04
3       spprev    0.00       0.00          0.00     3406.64  3406.64

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  42898.16    14349.5      57247.66         0.0  57247.66
1    spprevcom      0.00        0.0          0.00         0.0      0.00
2        total  42898.16    14349.5      57247.66         0.0  57247.66
3       spprev      0.00        0.0          0.00         0.0      0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.91      -0.91         -1.82       -0.91     -2.73
1    spprevcom    0.00       0.00          0.00      177.95    177.95
2        total   -0.91      -0.91         -1.82      177.04    175.22
3       spprev    0.00       0.00          0.00    18448.78  18448.78

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  168050.21   57288.01     225338.22         0.0  225338.22
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  168050.21   57288.01     225338.22         0.0  225338.22
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao  315.34     104.71        420.05      315.34   735.39
1    spprevcom    0.00       0.00          0.00       58.13    58.13
2        total  315.34     104.71        420.05      373.47   793.52
3       spprev    0.00       0.00          0.00     8462.85  8462.85

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  130532.67   43814.92     174347.59         0.0  174347.59
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  130532.67   43814.92     174347.59         0.0  174347.59
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.51      -0.57         -1.08       -0.51     -1.59
1    spprevcom    0.00       0.00          0.00       84.24     84.24
2        total   -0.51      -0.57         -1.08       83.73     82.65
3       spprev    0.00       0.00          0.00    10195.33  10195.33

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  82755.93   28887.09     111643.02   -78390.83  33252.19
1    spprevcom      0.00       0.00          0.00        0.00      0.00
2        total  82755.93   28887.09     111643.02   -78390.83  33252.19
3       spprev      0.00       0.00          0.00   -17220.03 -17220.03

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.73      -0.64         -1.37       -0.73     -2.10
1    spprevcom    0.00       0.00          0.00       67.48     67.48
2        total   -0.73      -0.64         -1.37       66.75     65.38
3       spprev    0.00       0.00          0.00    11291.18  11291.18

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  111006.04   38009.82     149015.86      123.04  149138.9
1    spprevcom       0.00       0.00          0.00        0.00       0.0
2        total  111006.04   38009.82     149015.86      123.04  149138.9
3       spprev       0.00       0.00          0.00        0.00       0.0

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.25      -0.31         -0.56       -0.25    -0.81
1    spprevcom    0.00       0.00          0.00        0.00     0.00
2        total   -0.25      -0.31         -0.56       -0.25    -0.81
3       spprev    0.00       0.00          0.00     7287.99  7287.99

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  45985.11   15949.38      61934.49         0.0  61934.49
1    spprevcom      0.00       0.00          0.00         0.0      0.00
2        total  45985.11   15949.38      61934.49         0.0  61934.49
3       spprev      0.00       0.00          0.00         0.0      0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -3.57      -3.71         -7.28       -3.57    -10.85
1    spprevcom    0.00       0.00          0.00       -0.01     -0.01
2        total   -3.57      -3.71         -7.28       -3.58    -10.86
3       spprev    0.00       0.00          0.00    50093.37  50093.37

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario       total
0  apropriacao  836019.12  283186.54    1119205.66         0.0  1119205.66
1    spprevcom       0.00       0.00          0.00         0.0        0.00
2        total  836019.12  283186.54    1119205.66         0.0  1119205.66
3       spprev       0.00       0.00          0.00         0.0        0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.72      -0.78          -1.5       -0.72     -2.22
1    spprevcom    0.00       0.00           0.0        0.00      0.00
2        total   -0.72      -0.78          -1.5       -0.72     -2.22
3       spprev    0.00       0.00           0.0    13633.71  13633.71

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  211175.89   71850.99     283026.88         0.0  283026.88
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  211175.89   71850.99     283026.88         0.0  283026.88
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.79       -0.9         -1.69       -0.79     -2.48
1    spprevcom    0.00        0.0          0.00        0.00      0.00
2        total   -0.79       -0.9         -1.69       -0.79     -2.48
3       spprev    0.00        0.0          0.00    12902.67  12902.67

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  334499.35  112887.42     447386.77         0.0  447386.77
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  334499.35  112887.42     447386.77         0.0  447386.77
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.87      -0.87         -1.74       -0.87     -2.61
1    spprevcom    0.00       0.00          0.00        0.00      0.00
2        total   -0.87      -0.87         -1.74       -0.87     -2.61
3       spprev    0.00       0.00          0.00    17418.53  17418.53

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  278948.27   93904.96     372853.23         0.0  372853.23
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  278948.27   93904.96     372853.23         0.0  372853.23
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.28      -0.23         -0.51       -0.28    -0.79
1    spprevcom    0.00       0.00          0.00        0.00     0.00
2        total   -0.28      -0.23         -0.51       -0.28    -0.79
3       spprev    0.00       0.00          0.00     2764.22  2764.22

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  33301.03   12202.65      45503.68         0.0  45503.68
1    spprevcom      0.00       0.00          0.00         0.0      0.00
2        total  33301.03   12202.65      45503.68         0.0  45503.68
3       spprev      0.00       0.00          0.00         0.0      0.00

'------------'

'diferenca: (java) - (cobol)'

                 ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  1310.98     435.78       1746.76     1310.98   3057.74
1    spprevcom     0.00       0.00          0.00       -0.01     -0.01
2        total  1310.98     435.78       1746.76     1310.97   3057.73
3       spprev     0.00       0.00          0.00    31209.52  31209.52

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  489965.39  167891.59     657856.98   -37102.08  620754.9
1    spprevcom       0.00       0.00          0.00        0.00       0.0
2        total  489965.39  167891.59     657856.98   -37102.08  620754.9
3       spprev       0.00       0.00          0.00    -7975.40   -7975.4

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -1.18      -1.22          -2.4       -1.18     -3.58
1    spprevcom    0.00       0.00           0.0       -0.04     -0.04
2        total   -1.18      -1.22          -2.4       -1.22     -3.62
3       spprev    0.00       0.00           0.0    21643.25  21643.25

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  299529.97  102736.71     402266.68     6801.93  409068.61
1    spprevcom       0.00       0.00          0.00        0.00       0.00
2        total  299529.97  102736.71     402266.68     6801.93  409068.61
3       spprev       0.00       0.00          0.00        0.00       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.92      -1.09         -2.01       -0.92     -2.93
1    spprevcom    0.00       0.00          0.00       -0.01     -0.01
2        total   -0.92      -1.09         -2.01       -0.93     -2.94
3       spprev    0.00       0.00          0.00    14178.48  14178.48

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  617410.19  206886.45     824296.64   -33128.12  791168.52
1    spprevcom       0.00       0.00          0.00        0.00       0.00
2        total  617410.19  206886.45     824296.64   -33128.12  791168.52
3       spprev       0.00       0.00          0.00    -7477.73   -7477.73

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario   total
0  apropriacao   -0.04      -0.04         -0.08       -0.04   -0.12
1    spprevcom    0.00       0.00          0.00       12.48   12.48
2        total   -0.04      -0.04         -0.08       12.44   12.36
3       spprev    0.00       0.00          0.00      822.59  822.59

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario  total
0  apropriacao     0.0        0.0           0.0         0.0    0.0
1    spprevcom     0.0        0.0           0.0         0.0    0.0
2        total     0.0        0.0           0.0         0.0    0.0
3       spprev     0.0        0.0           0.0         0.0    0.0

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -0.65      -0.77         -1.42       -0.65     -2.07
1    spprevcom    0.00       0.00          0.00       -0.01     -0.01
2        total   -0.65      -0.77         -1.42       -0.66     -2.08
3       spprev    0.00       0.00          0.00    15395.33  15395.33

'------------'

'diferenca: (java) - (cobol)'

                   ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  146256.84   49705.68     195962.52         0.0  195962.52
1    spprevcom       0.00       0.00          0.00         0.0       0.00
2        total  146256.84   49705.68     195962.52         0.0  195962.52
3       spprev       0.00       0.00          0.00         0.0       0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.37      -0.32         -0.69       -0.37    -1.06
1    spprevcom    0.00       0.00          0.00        0.00     0.00
2        total   -0.37      -0.32         -0.69       -0.37    -1.06
3       spprev    0.00       0.00          0.00     4653.02  4653.02

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  61717.46   21156.89      82874.35     1744.73  84619.08
1    spprevcom      0.00       0.00          0.00        0.00      0.00
2        total  61717.46   21156.89      82874.35     1744.73  84619.08
3       spprev      0.00       0.00          0.00        0.00      0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.11      -0.11         -0.22       -0.11    -0.33
1    spprevcom    0.00       0.00          0.00        0.00     0.00
2        total   -0.11      -0.11         -0.22       -0.11    -0.33
3       spprev    0.00       0.00          0.00     1598.25  1598.25

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  11092.96    3697.65      14790.61         0.0  14790.61
1    spprevcom      0.00       0.00          0.00         0.0      0.00
2        total  11092.96    3697.65      14790.61         0.0  14790.61
3       spprev      0.00       0.00          0.00         0.0      0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario   total
0  apropriacao   -0.05      -0.02         -0.07       -0.05   -0.12
1    spprevcom    0.00       0.00          0.00       36.34   36.34
2        total   -0.05      -0.02         -0.07       36.29   36.22
3       spprev    0.00       0.00          0.00      290.08  290.08

'------------'

'diferenca: (java) - (cobol)'

                 ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao  7100.73    2366.91       9467.64         0.0  9467.64
1    spprevcom     0.00       0.00          0.00         0.0     0.00
2        total  7100.73    2366.91       9467.64         0.0  9467.64
3       spprev     0.00       0.00          0.00         0.0     0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario   total
0  apropriacao   -0.06      -0.03         -0.09       -0.06   -0.15
1    spprevcom    0.00       0.00          0.00        0.00    0.00
2        total   -0.06      -0.03         -0.09       -0.06   -0.15
3       spprev    0.00       0.00          0.00      547.14  547.14

'------------'

'diferenca: (java) - (cobol)'

                 ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  19318.6    6439.53      25758.13         0.0  25758.13
1    spprevcom      0.0       0.00          0.00         0.0      0.00
2        total  19318.6    6439.53      25758.13         0.0  25758.13
3       spprev      0.0       0.00          0.00         0.0      0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao   -0.07      -0.08         -0.15       -0.07    -0.22
1    spprevcom    0.00       0.00          0.00        0.00     0.00
2        total   -0.07      -0.08         -0.15       -0.07    -0.22
3       spprev    0.00       0.00          0.00     1069.67  1069.67

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario   total
0  apropriacao     0.0     602.84        602.84         0.0  602.84
1    spprevcom     0.0       0.00          0.00         0.0    0.00
2        total     0.0     602.84        602.84         0.0  602.84
3       spprev     0.0       0.00          0.00         0.0    0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario   total
0  apropriacao   -0.07      -0.06         -0.13       -0.07   -0.20
1    spprevcom    0.00       0.00          0.00        0.00    0.00
2        total   -0.07      -0.06         -0.13       -0.07   -0.20
3       spprev    0.00       0.00          0.00      190.16  190.16

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario  total
0  apropriacao     0.0        0.0           0.0         0.0    0.0
1    spprevcom     0.0        0.0           0.0         0.0    0.0
2        total     0.0        0.0           0.0         0.0    0.0
3       spprev     0.0        0.0           0.0         0.0    0.0

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario    total
0  apropriacao    -0.1      -0.08         -0.18       -0.10    -0.28
1    spprevcom     0.0       0.00          0.00        0.00     0.00
2        total    -0.1      -0.08         -0.18       -0.10    -0.28
3       spprev     0.0       0.00          0.00     1226.68  1226.68

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario  total
0  apropriacao     0.0        0.0           0.0         0.0    0.0
1    spprevcom     0.0        0.0           0.0         0.0    0.0
2        total     0.0        0.0           0.0         0.0    0.0
3       spprev     0.0        0.0           0.0         0.0    0.0

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario   total
0  apropriacao   -0.07      -0.06         -0.13       -0.07   -0.20
1    spprevcom    0.00       0.00          0.00        0.00    0.00
2        total   -0.07      -0.06         -0.13       -0.07   -0.20
3       spprev    0.00       0.00          0.00      677.88  677.88

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario  total
0  apropriacao     0.0      53.77         53.77         0.0  53.77
1    spprevcom     0.0       0.00          0.00         0.0   0.00
2        total     0.0      53.77         53.77         0.0  53.77
3       spprev     0.0       0.00          0.00         0.0   0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario   total
0  apropriacao   -0.07      -0.08         -0.15       -0.07   -0.22
1    spprevcom    0.00       0.00          0.00       96.05   96.05
2        total   -0.07      -0.08         -0.15       95.98   95.83
3       spprev    0.00       0.00          0.00      515.25  515.25

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao  10759.38    3586.46      14345.84         0.0  14345.84
1    spprevcom      0.00       0.00          0.00         0.0      0.00
2        total  10759.38    3586.46      14345.84         0.0  14345.84
3       spprev      0.00       0.00          0.00         0.0      0.00

'------------'

'diferenca: (java) - (cobol)'

                ferias  13_ferias  total_ferias  13_salario     total
0  apropriacao   -1.59      -1.51          -3.1       -1.59     -4.69
1    spprevcom    0.00       0.00           0.0       31.96     31.96
2        total   -1.59      -1.51          -3.1       30.37     27.27
3       spprev    0.00       0.00           0.0    24885.71  24885.71

'------------'

'diferenca: (java) - (cobol)'

                  ferias  13_ferias  total_ferias  13_salario      total
0  apropriacao  272527.7   95445.84     367973.54         0.0  367973.54
1    spprevcom       0.0       0.00          0.00         0.0       0.00
2        total  272527.7   95445.84     367973.54         0.0  367973.54
3       spprev       0.0       0.00          0.00         0.0       0.00

'------------'

In [2]:
code = 40434

# display("cobol", "clt")
display("apropriado", cobol_report[code]['clt']['apropriado'])
# display("realizado", cobol[code]['clt']['realizado'])
# display("autarquico")
# display("apropriado", cobol[code]['autarquico']['apropriado'])
# display("realizado", cobol[code]['autarquico']['realizado'])
# display("java", "clt")
display("apropriado", java_report[code]['clt']['apropriado'])
# display("realizado", java[code]['clt']['realizado'])
# display("autarquico")
# display("apropriado", java[code]['autarquico']['apropriado'])
# display("realizado", java[code]['autarquico']['realizado'])

items = java_report[code]['clt']['apropriado'].iloc[:,0]
df1 = java_report[code]['clt']['apropriado'].iloc[:,1:].apply(pd.to_numeric, errors='coerce')
df2 = cobol_report[code]['clt']['apropriado'].iloc[:,1:].apply(pd.to_numeric, errors='coerce')

df3 = df1 - df2
df3 = pd.concat([items, df3], axis=1)

display(df3)

'apropriado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  360940.90  120313.76    481254.66  360940.90   842195.56
1            inss   61317.13   20439.04     81756.17   61317.13   143073.30
2         ac_trab    1531.42     510.10      2041.52    1531.42     3572.94
3            fgts   24526.11    8175.33     32701.44   24526.11    57227.55
4       spprevcom       0.00       0.00         0.00    1668.03     1668.03
5  total_encargos   87374.66   29124.47    116499.13   89042.69   205541.82
6           total  448315.56  149438.23    597753.79  449983.59  1047737.38

'apropriado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  364641.26  121545.68    486186.94  364641.26   850828.20
1            inss   72926.76   24308.00     97234.76   62057.50   159292.26
2         ac_trab    1821.50     605.96      2427.46    1549.83     3977.29
3            fgts   29169.32    9721.89     38891.21   24822.20    63713.41
4       spprevcom       0.00       0.00         0.00    1959.04     1959.04
5  total_encargos  103917.58   34635.85    138553.43   90388.57   228942.00
6           total  468558.84  156181.53    624740.37  455029.83  1079770.20

                     ferias  13_ferias  total_ferias  13_salario     total
0     apropriacao   3700.36    1231.92       4932.28     3700.36   8632.64
1            inss  11609.63    3868.96      15478.59      740.37  16218.96
2         ac_trab    290.08      95.86        385.94       18.41    404.35
3            fgts   4643.21    1546.56       6189.77      296.09   6485.86
4       spprevcom      0.00       0.00          0.00      291.01    291.01
5  total_encargos  16542.92    5511.38      22054.30     1345.88  23400.18
6           total  20243.28    6743.30      26986.58     5046.24  32032.82