IMPORTS AND INSTALL

In [58]:
# imports
from PyPDF2 import PdfReader
import pandas as pd

# local do arquivo
file_path = 'RHPP05LA.PDF'

VARIÁVEIS

In [59]:
# correcao de dados
SUBSTITUICOES = {
    "1/12 FERIAS"           : "ferias", 
    "1/12 ferias"           : "ferias", 
    "1/12 DE 1 /3 FERIAS"   : "13_ferias", 
    "1 /3 ferias"           : "13_ferias", 
    "1 /3 FERIAS"           : "13_ferias", 
    "1/12 DE 13_ferias"     : "13_ferias", 
    "TOTAL ferias"          : "total_ferias", 
    "TOTAL FERIAS"          : "total_ferias", 
    "1/12 13 SAL ARIO"      : "13_salario", 
    "13 SAL ARIO"           : "13_salario", 
    "T O T A L"             : "total", 
    "PROVISIONAMENTO"       : "apropriacao", 
    "INSS  20,00%"          : "inss", 
    "SP-PREVCOM"            : "sp-prevcom", 
    "AC TRAB  "             : "ac_trab_", 
    "FGTS 8%"               : "fgts", 
    "TOTAL DE ENCARGOS"     : "total_encargos", 
    "."                     : "", 
    ","                     : ".", 
    "SPPREV"                : "spprev", 
    "FERIAS"                : "ferias"
}

FUNÇÕES

In [60]:
# funcao que divide uma lista em duas listas
# de acordo com a palavra enviada e os pads definidos
def split_tables(
        tb: list, 
        split_word:str="", 
        pad_top_tb1:int=0,
        pad_bottom_tb1:int=0,
        pad_top_tb2:int=0,
        pad_bottom_tb2:int=0
        ):
    
    for i in range(len(tb)):
        if split_word in tb[i]:
            tb1 = tb[pad_top_tb1:i+pad_bottom_tb1]
            tb2 = tb[i+pad_top_tb2:] if pad_bottom_tb2==0 else tb[i+pad_top_tb2:pad_bottom_tb2] 
    return tb1, tb2

# funcao que normatiza palavras-campos das tabelas
def correct_words(tb: list):
    for i in range(len(tb)):
        for search, correct in SUBSTITUICOES.items():
            tb[i] = tb[i].replace(search, correct.lower())
    return tb

# funcao que corrige os dados numericos quebrados por espaco
def data_processing(datas:list):
    for data in datas:
        i = 0
        while i < len(data) - 1:
            if "." not in data[i]:
                data[i] += data[i+1]
                del data[i+1]
            else:
                i += 1
    return datas

# funcao que extrai cabecalho, itens e dados da lista 
# formato tabela: 
## linha    0:  cabecalhos
## coluna   0:  itens
## coluna 1-5:  dados
def extract_tables(tb:list):
    tb = correct_words(tb)

    headers = tb[0].split()

    datas = tb[1:]
    for i in range(len(datas)):
        datas[i] = datas[i].split()
    
    items = [data[0] for data in datas]

    datas = [data[1:] for data in datas]
    datas = data_processing(datas)

    return headers, items, datas

def cast_table_to_df(tb:list) -> pd.DataFrame:
    headers, items, datas = extract_tables(tb)

    dictionary = {' ': items}

    for header, collumn in zip(headers, zip(*datas)):
        dictionary[header] = float(collumn) if isinstance(collumn, float) else collumn

    return pd.DataFrame(dictionary)



# funcao que coloca a tabela em formato de tupla
def cast_table_to_tuple(tb:list) -> tuple:
    headers, items, datas = extract_tables(tb)
    
    tup = {}
    
    for type, data in zip(items, datas):
        tup[type] = {}
        for header, value in zip(headers, data):
            tup[type][header] = float(value)

    return tup

EXECUÇÃO PRINCIPAL

In [61]:
unidades = {}

# ler pdf
with open(file_path, 'rb') as pdf_file:
    pdf_reader = PdfReader(pdf_file)
    pages = pdf_reader.pages

    # para cada page indexada com um number_page
    # extrair texto e colocar em lines (retirando as em branco)
    for number_page, page in enumerate(pages, start=1):
        text = page.extract_text()
        lines = text.split("\n")
        lines = [line for line in lines if not line.isspace()]

        # extrai dados da unidade
        unidade = {}
        unidade['codigo'] = int(lines[3].strip().split(" - ")[0].replace(" ", ""))
        unidade['nome'] = lines[3].strip().split(" - ")[1]

        # se a pagina for impar, os dados sao referentes apropriado e realizado da unidade
        # se a pagina for par, os dados sao referentes aos totais da unidade
        if(number_page %2 == 1):

            # extrai tabela CLT e Autarquico
            tb_clt, tb_aut = split_tables(lines, "A U T A R Q U I C O", 7, -1, 2, -1)

            # extrai apropriado e realizado da tabela
            tb_clt_apropriado, tb_clt_realizado = split_tables(tb_clt, "R E V E R S A O", 1, 0, 1)
            tb_aut_apropriado, tb_aut_realizado = split_tables(tb_aut, "R E V E R S A O", 1, 0, 1)

            # gera dataframe para as tabelas
            tb_clt_apropriado   = cast_table_to_df(tb_clt_apropriado)
            tb_clt_realizado    = cast_table_to_df(tb_clt_realizado)
            tb_aut_apropriado   = cast_table_to_df(tb_aut_apropriado)
            tb_aut_realizado    = cast_table_to_df(tb_aut_realizado)

            display(str(unidade["codigo"])+" - "+unidade["nome"], "CLT", tb_clt_apropriado, tb_clt_realizado, "AUTÁRQUICO", tb_aut_apropriado, tb_aut_realizado)

'34240 - C.RIO CLARO-IB'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  121536.56  40512.20    162048.76  121536.56  283585.32
1             inss   20141.29   6713.74     26855.03   20141.29   46996.32
2  ac_trab_0.5000%     503.15    167.71       670.86     503.15    1174.01
3             fgts    8056.28   2685.46     10741.74    8056.28   18798.02
4       sp-prevcom       0.00      0.00         0.00    2244.59    2244.59
5   total_encargos   28700.72   9566.91     38267.63   30945.31   69212.94
6            total  150237.28  50079.11    200316.39  152481.87  352798.26

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  196436.52  65477.99    261914.51    8254.74  270169.25
1             inss   36138.03  12045.20     48183.23    1650.78   49834.01
2  ac_trab_0.5000%     903.98    300.49      1204.47      41.04    1245.51
3             fgts   14497.57   4831.55     19329.12     660.09   19989.21
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   51539.58  17177.24     68716.82    2351.91   71068.73
6            total  247976.10  82655.23    330631.33   10606.65  341237.98

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  172491.14  57497.01    229988.15  172491.14  402479.29
1          spprev   31728.19      0.00     31728.19   31728.19   63456.38
2      sp-prevcom       0.00      0.00         0.00     693.46     693.46
3  total_encargos   31728.19      0.00     31728.19   32421.65   64149.84
4           total  204219.33  57497.01    261716.34  204912.79  466629.13

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34241 - C.RIO CLARO-IGCE'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  158930.39  52976.78    211907.17  158930.39  370837.56
1             inss   24058.39   8019.41     32077.80   24058.39   56136.19
2  ac_trab_0.5000%     601.01    200.36       801.37     601.01    1402.38
3             fgts    9623.05   3207.70     12830.75    9623.05   22453.80
4       sp-prevcom       0.00      0.00         0.00    2946.95    2946.95
5   total_encargos   34282.45  11427.47     45709.92   37229.40   82939.32
6            total  193212.84  64404.25    257617.09  196159.79  453776.88

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  362868.76  120954.52    483823.28   23841.90  507665.18
1             inss   67111.46   22368.69     89480.15    4761.03   94241.18
2  ac_trab_0.5000%    1682.05     559.14      2241.19     118.64    2359.83
3             fgts   26972.57    8989.01     35961.58    1904.22   37865.80
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   95766.08   31916.84    127682.92    6783.89  134466.81
6            total  458634.84  152871.36    611506.20   30625.79  642131.99

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  206333.86  68777.94    275111.80  206333.86  481445.66
1          spprev   37582.50      0.00     37582.50   37582.50   75165.00
2      sp-prevcom       0.00      0.00         0.00     660.56     660.56
3  total_encargos   37582.50      0.00     37582.50   38243.06   75825.56
4           total  243916.36  68777.94    312694.30  244576.92  557271.22

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34262 - C.MARILIA-FFC'

'CLT'

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  264702.30   88234.11    352936.41  264702.30  617638.71
1             inss   38345.90   12781.95     51127.85   38345.90   89473.75
2  ac_trab_1.4316%    2744.07     914.76      3658.83    2744.07    6402.90
3             fgts   15338.00    5112.70     20450.70   15338.00   35788.70
4       sp-prevcom       0.00       0.00         0.00    3048.88    3048.88
5   total_encargos   56427.97   18809.41     75237.38   59476.85  134714.23
6            total  321130.27  107043.52    428173.79  324179.15  752352.94

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  549472.76  183156.22    732628.98       0.00  732628.98
1             inss  100635.50   33543.76    134179.26       0.00  134179.26
2  ac_trab_1.4316%    2515.51     837.29      3352.80       0.00    3352.80
3             fgts   40307.36   13434.69     53742.05       0.00   53742.05
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos  143458.37   47815.74    191274.11       0.00  191274.11
6            total  692931.13  230971.96    923903.09       0.00  923903.09

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  243702.83  81234.28    324937.11  243702.83  568639.94
1          spprev   44170.63      0.00     44170.63   44170.63   88341.26
2      sp-prevcom       0.00      0.00         0.00     381.61     381.61
3  total_encargos   44170.63      0.00     44170.63   44552.24   88722.87
4           total  287873.46  81234.28    369107.74  288255.07  657362.81

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34284 - C.PRES. PRUDENTE-FCT'

'CLT'

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  266996.22   88998.79    355995.01  266996.22  622991.23
1             inss   38516.46   12838.77     51355.23   38516.46   89871.69
2  ac_trab_0.5000%     962.27     320.79      1283.06     962.27    2245.33
3             fgts   15406.11    5135.40     20541.51   15406.11   35947.62
4       sp-prevcom       0.00       0.00         0.00    4804.09    4804.09
5   total_encargos   54884.84   18294.96     73179.80   59688.93  132868.73
6            total  321881.06  107293.75    429174.81  326685.15  755859.96

                       ferias  13_ferias total_ferias 13_salario       total
0      apropriacao  673103.04  224365.83    897468.87    2622.17   900091.04
1             inss  122269.55   40754.72    163024.27     476.07   163500.34
2  ac_trab_0.5000%    5076.12    1689.96      6766.08      11.88     6777.96
3             fgts   49119.44   16371.50     65490.94     190.40    65681.34
4       sp-prevcom       0.00       0.00         0.00       0.00        0.00
5   total_encargos  176465.11   58816.18    235281.29     678.35   235959.64
6            total  849568.15  283182.01   1132750.16    3300.52  1136050.68

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  272677.27  90892.43    363569.70  272677.27  636246.97
1          spprev   50568.07      0.00     50568.07   50568.07  101136.14
2      sp-prevcom       0.00      0.00         0.00     922.98     922.98
3  total_encargos   50568.07      0.00     50568.07   51491.05  102059.12
4           total  323245.34  90892.43    414137.77  324168.32  738306.09

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34306 - C.FRANCA-FCHS'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  114899.33  38299.80    153199.13  114899.33  268098.46
1             inss   16478.44   5492.79     21971.23   16478.44   38449.67
2  ac_trab_0.5000%     411.59    137.15       548.74     411.59     960.33
3             fgts    6591.13   2197.11      8788.24    6591.13   15379.37
4       sp-prevcom       0.00      0.00         0.00     900.90     900.90
5   total_encargos   23481.16   7827.05     31308.21   24382.06   55690.27
6            total  138380.49  46126.85    184507.34  139281.39  323788.73

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  288676.49   96224.61    384901.10       0.00  384901.10
1             inss   52132.35   17376.77     69509.12       0.00   69509.12
2  ac_trab_0.5000%    1306.05     434.52      1740.57       0.00    1740.57
3             fgts   20928.52    6975.35     27903.87       0.00   27903.87
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   74366.92   24786.64     99153.56       0.00   99153.56
6            total  363043.41  121011.25    484054.66       0.00  484054.66

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  163153.35  54384.46    217537.81  163153.35  380691.16
1          spprev   30074.07      0.00     30074.07   30074.07   60148.14
2      sp-prevcom       0.00      0.00         0.00      79.94      79.94
3  total_encargos   30074.07      0.00     30074.07   30154.01   60228.08
4           total  193227.42  54384.46    247611.88  193307.36  440919.24

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34328 - C.ASSIS-FCL'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  155506.79  51835.55    207342.34  155506.79  362849.13
1             inss   24278.56   8092.81     32371.37   24278.56   56649.93
2  ac_trab_1.5149%    1838.51    612.84      2451.35    1838.51    4289.86
3             fgts    9711.11   3237.09     12948.20    9711.11   22659.31
4       sp-prevcom       0.00      0.00         0.00    1454.91    1454.91
5   total_encargos   35828.18  11942.74     47770.92   37283.09   85054.01
6            total  191334.97  63778.29    255113.26  192789.88  447903.14

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  298950.79   99649.28    398600.07       0.00  398600.07
1             inss   54568.62   18188.12     72756.74       0.00   72756.74
2  ac_trab_1.5149%    1364.07     453.43      1817.50       0.00    1817.50
3             fgts   21869.44    7288.52     29157.96       0.00   29157.96
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   77802.13   25930.07    103732.20       0.00  103732.20
6            total  376752.92  125579.35    502332.27       0.00  502332.27

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  237355.43  79118.46    316473.89  237355.43  553829.32
1          spprev   43300.36      0.00     43300.36   43300.36   86600.72
2      sp-prevcom       0.00      0.00         0.00     666.67     666.67
3  total_encargos   43300.36      0.00     43300.36   43967.03   87267.39
4           total  280655.79  79118.46    359774.25  281322.46  641096.71

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34412 - C.S.J.CAMPOS-ICT'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  157775.10  52591.71    210366.81  157775.10  368141.91
1             inss   23524.75   7841.52     31366.27   23524.75   54891.02
2  ac_trab_0.5000%     587.64    195.82       783.46     587.64    1371.10
3             fgts    9409.52   3136.47     12545.99    9409.52   21955.51
4       sp-prevcom       0.00      0.00         0.00    3046.70    3046.70
5   total_encargos   33521.91  11173.81     44695.72   36568.61   81264.33
6            total  191297.01  63765.52    255062.53  194343.71  449406.24

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  355681.38  118559.03    474240.41   28825.67  503066.08
1             inss   64726.82   21574.35     86301.17    5378.04   91679.21
2  ac_trab_0.5000%    1626.16     540.95      2167.11     134.35    2301.46
3             fgts   26070.14    8688.81     34758.95    2151.13   36910.08
4       sp-prevcom       0.00       0.00         0.00    1037.40    1037.40
5   total_encargos   92423.12   30804.11    123227.23    8700.92  131928.15
6            total  448104.50  149363.14    597467.64   37526.59  634994.23

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  154157.16  51385.75    205542.91  154157.16  359700.07
1          spprev   29866.98      0.00     29866.98   29866.98   59733.96
2      sp-prevcom       0.00      0.00         0.00     227.91     227.91
3  total_encargos   29866.98      0.00     29866.98   30094.89   59961.87
4           total  184024.14  51385.75    235409.89  184252.05  419661.94

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34445 - C.ARARAQUARA-FO'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  100753.39  33584.45    134337.84  100753.39  235091.23
1             inss   15919.50   5306.47     21225.97   15919.50   37145.47
2  ac_trab_0.5000%     397.61    132.54       530.15     397.61     927.76
3             fgts    6367.54   2122.50      8490.04    6367.54   14857.58
4       sp-prevcom       0.00      0.00         0.00    2042.55    2042.55
5   total_encargos   22684.65   7561.51     30246.16   24727.20   54973.36
6            total  123438.04  41145.96    164584.00  125480.59  290064.59

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  121749.40  40582.51    162331.91     458.71  162790.62
1             inss   22307.63   7435.18     29742.81      91.73   29834.54
2  ac_trab_0.5000%     581.74    193.46       775.20       2.28     777.48
3             fgts    9012.08   3003.65     12015.73      36.68   12052.41
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   31901.45  10632.29     42533.74     130.69   42664.43
6            total  153650.85  51214.80    204865.65     589.40  205455.05

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  227922.89  75974.31    303897.20  227922.89  531820.09
1          spprev   44089.91      0.00     44089.91   44089.91   88179.82
2      sp-prevcom       0.00      0.00         0.00     313.29     313.29
3  total_encargos   44089.91      0.00     44089.91   44403.20   88493.11
4           total  272012.80  75974.31    347987.11  272326.09  620313.20

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34447 - C.ARARAQUARA-FCL'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  198269.02  66089.69    264358.71  198269.02  462627.73
1             inss   30090.91  10030.27     40121.18   30090.91   70212.09
2  ac_trab_0.5000%     751.70    250.52      1002.22     751.70    1753.92
3             fgts   12036.06   4012.00     16048.06   12036.06   28084.12
4       sp-prevcom       0.00      0.00         0.00    2138.50    2138.50
5   total_encargos   42878.67  14292.79     57171.46   45017.17  102188.63
6            total  241147.69  80382.48    321530.17  243286.19  564816.36

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  391797.89  130597.92    522395.81   12460.50  534856.31
1             inss   71595.41   23864.23     95459.64    2484.06   97943.70
2  ac_trab_0.5000%    1804.11     600.20      2404.31      61.76    2466.07
3             fgts   28911.74    9636.04     38547.78     993.33   39541.11
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos  102311.26   34100.47    136411.73    3539.15  139950.88
6            total  494109.15  164698.39    658807.54   15999.65  674807.19

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  205336.57  68445.54    273782.11  205336.57  479118.68
1          spprev   38342.60      0.00     38342.60   38342.60   76685.20
2      sp-prevcom       0.00      0.00         0.00     251.26     251.26
3  total_encargos   38342.60      0.00     38342.60   38593.86   76936.46
4           total  243679.17  68445.54    312124.71  243930.43  556055.14

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34451 - C.ARARAQUARA-IQ'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  141928.13  47309.39    189237.52  141928.13  331165.65
1             inss   22275.78   7425.23     29701.01   22275.78   51976.79
2  ac_trab_0.5000%     556.49    185.48       741.97     556.49    1298.46
3             fgts    8910.02   2970.02     11880.04    8910.02   20790.06
4       sp-prevcom       0.00      0.00         0.00    2123.31    2123.31
5   total_encargos   31742.29  10580.73     42323.02   33865.60   76188.62
6            total  173670.42  57890.12    231560.54  175793.73  407354.27

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  201142.62  67046.04    268188.66       0.00  268188.66
1             inss   36772.67  12256.16     49028.83       0.00   49028.83
2  ac_trab_0.5000%     921.39    305.87      1227.26       0.00    1227.26
3             fgts   14789.77   4928.41     19718.18       0.00   19718.18
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   52483.83  17490.44     69974.27       0.00   69974.27
6            total  253626.45  84536.48    338162.93       0.00  338162.93

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  140917.45  46972.49    187889.94  140917.45  328807.39
1          spprev   25743.15      0.00     25743.15   25743.15   51486.30
2      sp-prevcom       0.00      0.00         0.00     428.78     428.78
3  total_encargos   25743.15      0.00     25743.15   26171.93   51915.08
4           total  166660.60  46972.49    213633.09  167089.38  380722.47

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34459 - C.ARARAQUARA-FCF'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  120189.89  40063.29    160253.18  120189.89  280443.07
1             inss   18392.21   6130.70     24522.91   18392.21   42915.12
2  ac_trab_0.5000%     459.43    153.15       612.58     459.43    1072.01
3             fgts    7356.66   2452.22      9808.88    7356.66   17165.54
4       sp-prevcom       0.00      0.00         0.00    1515.43    1515.43
5   total_encargos   26208.30   8736.07     34944.37   27723.73   62668.10
6            total  146398.19  48799.36    195197.55  147913.62  343111.17

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  239361.20   79786.28    319147.48   26064.16  345211.64
1             inss   43653.62   14550.36     58203.98    5007.23   63211.21
2  ac_trab_0.5000%    1093.07     363.32      1456.39     125.05    1581.44
3             fgts   17526.09    5841.06     23367.15    2002.81   25369.96
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   62272.78   20754.74     83027.52    7135.09   90162.61
6            total  301633.98  100541.02    402175.00   33199.25  435374.25

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  125707.58  41902.46    167610.04  125707.58  293317.62
1          spprev   23082.08      0.00     23082.08   23082.08   46164.16
2      sp-prevcom       0.00      0.00         0.00      11.62      11.62
3  total_encargos   23082.08      0.00     23082.08   23093.70   46175.78
4           total  148789.66  41902.46    190692.12  148801.28  339493.40

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34461 - C.BAURU-AG'

'CLT'

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  41540.41  13846.80     55387.21   41540.41   96927.62
1             inss   6731.09   2243.67      8974.76    6731.09   15705.85
2  ac_trab_0.5000%    168.07     55.99       224.06     168.07     392.13
3             fgts   2692.30    897.47      3589.77    2692.30    6282.07
4       sp-prevcom      0.00      0.00         0.00     109.28     109.28
5   total_encargos   9591.46   3197.13     12788.59    9700.74   22489.33
6            total  51131.87  17043.93     68175.80   51241.15  119416.95

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  59864.20  19954.36     79818.56       0.00   79818.56
1             inss  10584.74   3527.79     14112.53       0.00   14112.53
2  ac_trab_0.5000%    623.86    207.36       831.22       0.00     831.22
3             fgts   4246.10   1414.92      5661.02       0.00    5661.02
4       sp-prevcom      0.00      0.00         0.00       0.00       0.00
5   total_encargos  15454.70   5150.07     20604.77       0.00   20604.77
6            total  75318.90  25104.43    100423.33       0.00  100423.33

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  73038.32  24346.02     97384.34   73038.32  170422.66
1          spprev  14450.21      0.00     14450.21   14450.21   28900.42
2      sp-prevcom      0.00      0.00         0.00       0.00       0.00
3  total_encargos  14450.21      0.00     14450.21   14450.21   28900.42
4           total  87488.53  24346.02    111834.55   87488.53  199323.08

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34462 - C.BAURU-FC'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  219356.06  73118.71    292474.77  219356.06  511830.83
1             inss   34615.31  11538.37     46153.68   34615.31   80768.99
2  ac_trab_0.5000%     864.77    288.18      1152.95     864.77    2017.72
3             fgts   13845.76   4615.33     18461.09   13845.76   32306.85
4       sp-prevcom       0.00      0.00         0.00    4107.10    4107.10
5   total_encargos   49325.84  16441.88     65767.72   53432.94  119200.66
6            total  268681.90  89560.59    358242.49  272789.00  631031.49

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  369547.56  123180.72    492728.28    7981.78  500710.06
1             inss   66953.09   22316.51     89269.60    1580.06   90849.66
2  ac_trab_0.5000%    1701.10     565.67      2266.77      39.30    2306.07
3             fgts   27163.62    9053.26     36216.88     631.81   36848.69
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   95817.81   31935.44    127753.25    2251.17  130004.42
6            total  465365.37  155116.16    620481.53   10232.95  630714.48

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  291367.72  97122.60    388490.32  291367.72  679858.04
1          spprev   54890.15      0.00     54890.15   54890.15  109780.30
2      sp-prevcom       0.00      0.00         0.00     502.57     502.57
3  total_encargos   54890.15      0.00     54890.15   55392.72  110282.87
4           total  346257.87  97122.60    443380.47  346760.44  790140.91

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34463 - C.BAURU-FAAC'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  116642.40  38880.81    155523.21  116642.40  272165.61
1             inss   18972.15   6324.07     25296.22   18972.15   44268.37
2  ac_trab_0.5000%     474.00    157.98       631.98     474.00    1105.98
3             fgts    7588.66   2529.57     10118.23    7588.66   17706.89
4       sp-prevcom       0.00      0.00         0.00    1484.35    1484.35
5   total_encargos   27034.81   9011.62     36046.43   28519.16   64565.59
6            total  143677.21  47892.43    191569.64  145161.56  336731.20

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  168959.34  56318.93    225278.27    5059.95  230338.22
1             inss   30691.95  10230.13     40922.08     924.78   41846.86
2  ac_trab_0.5000%     769.33    255.70      1025.03      23.06    1048.09
3             fgts   12335.41   4111.22     16446.63     369.88   16816.51
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   43796.69  14597.05     58393.74    1317.72   59711.46
6            total  212756.03  70915.98    283672.01    6377.67  290049.68

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  148311.96  49437.33    197749.29  148311.96  346061.25
1          spprev   27406.93      0.00     27406.93   27406.93   54813.86
2      sp-prevcom       0.00      0.00         0.00     372.06     372.06
3  total_encargos   27406.93      0.00     27406.93   27778.99   55185.92
4           total  175718.89  49437.33    225156.22  176090.95  401247.17

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34464 - C.BAURU-FE'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao   84968.36  28322.77    113291.13   84968.36  198259.49
1             inss   12937.16   4312.38     17249.54   12937.16   30186.70
2  ac_trab_0.5000%     323.20    107.76       430.96     323.20     754.16
3             fgts    5174.68   1724.91      6899.59    5174.68   12074.27
4       sp-prevcom       0.00      0.00         0.00    1580.68    1580.68
5   total_encargos   18435.04   6145.05     24580.09   20015.72   44595.81
6            total  103403.40  34467.82    137871.22  104984.08  242855.30

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  183664.34  61220.70    244885.04    7891.10  252776.14
1             inss   33922.17  11306.93     45229.10    1578.00   46807.10
2  ac_trab_0.5000%     847.46    281.88      1129.34      39.26    1168.60
3             fgts   13579.18   4525.91     18105.09     631.01   18736.10
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   48348.81  16114.72     64463.53    2248.27   66711.80
6            total  232013.15  77335.42    309348.57   10139.37  319487.94

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  173606.11  57868.70    231474.81  173606.11  405080.92
1          spprev   32174.08      0.00     32174.08   32174.08   64348.16
2      sp-prevcom       0.00      0.00         0.00     561.15     561.15
3  total_encargos   32174.08      0.00     32174.08   32735.23   64909.31
4           total  205780.19  57868.70    263648.89  206341.34  469990.23

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   87538.67  29179.57    116718.24   80085.35  196803.59
1          spprev   18826.51      0.00     18826.51   17220.03   36046.54
2      sp-prevcom       0.00      0.00         0.00       0.00       0.00
3  total_encargos   18826.51      0.00     18826.51   17220.03   36046.54
4           total  106365.18  29179.57    135544.75   97305.38  232850.13

'34474 - C.ARACATUBA-FO'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  137352.41  45784.14    183136.55  137352.41  320488.96
1             inss   20945.93   6981.93     27927.86   20945.93   48873.79
2  ac_trab_1.5821%    1656.54    552.22      2208.76    1656.54    3865.30
3             fgts    8378.11   2792.70     11170.81    8378.11   19548.92
4       sp-prevcom       0.00      0.00         0.00    2175.82    2175.82
5   total_encargos   30980.58  10326.85     41307.43   33156.40   74463.83
6            total  168332.99  56110.99    224443.98  170508.81  394952.79

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  231897.57  77297.89    309195.46    5170.36  314365.82
1             inss   42158.98  14051.33     56210.31    1015.32   57225.63
2  ac_trab_1.5821%    1054.29    350.05      1404.34      25.29    1429.63
3             fgts   16916.72   5637.36     22554.08     406.04   22960.12
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   60129.99  20038.74     80168.73    1446.65   81615.38
6            total  292027.56  97336.63    389364.19    6617.01  395981.20

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  188561.36  62853.75    251415.11  188561.36  439976.47
1          spprev   36610.03      0.00     36610.03   36610.03   73220.06
2      sp-prevcom       0.00      0.00         0.00     174.23     174.23
3  total_encargos   36610.03      0.00     36610.03   36784.26   73394.29
4           total  225171.39  62853.75    288025.14  225345.62  513370.76

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34475 - C.ARACATUBA-FMV'

'CLT'

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  60133.80  20044.61     80178.41   60133.80  140312.21
1             inss   9992.00   3330.66     13322.66    9992.00   23314.66
2  ac_trab_1.7872%    892.66    297.54      1190.20     892.66    2082.86
3             fgts   3996.64   1332.22      5328.86    3996.64    9325.50
4       sp-prevcom      0.00      0.00         0.00     549.05     549.05
5   total_encargos  14881.30   4960.42     19841.72   15430.35   35272.07
6            total  75015.10  25005.03    100020.13   75564.15  175584.28

                      ferias 13_ferias total_ferias 13_salario     total
0      apropriacao  58509.55  19502.76     78012.31       0.00  78012.31
1             inss  10662.16   3553.42     14215.58       0.00  14215.58
2  ac_trab_1.7872%    670.88    223.25       894.13       0.00    894.13
3             fgts   4270.24   1423.12      5693.36       0.00   5693.36
4       sp-prevcom      0.00      0.00         0.00       0.00      0.00
5   total_encargos  15603.28   5199.79     20803.07       0.00  20803.07
6            total  74112.83  24702.55     98815.38       0.00  98815.38

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  109613.86  36537.97    146151.83  109613.86  255765.69
1          spprev   21735.61      0.00     21735.61   21735.61   43471.22
2      sp-prevcom       0.00      0.00         0.00       0.00       0.00
3  total_encargos   21735.61      0.00     21735.61   21735.61   43471.22
4           total  131349.47  36537.97    167887.44  131349.47  299236.91

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34646 - C.BOTUCATU-FM'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  186414.30  62138.11    248552.41  186414.30  434966.71
1             inss   30964.25  10321.41     41285.66   30964.25   72249.91
2  ac_trab_0.5000%     773.40    257.76      1031.16     773.40    1804.56
3             fgts   12385.29   4128.46     16513.75   12385.29   28899.04
4       sp-prevcom       0.00      0.00         0.00    2875.54    2875.54
5   total_encargos   44122.94  14707.63     58830.57   46998.48  105829.05
6            total  230537.24  76845.74    307382.98  233412.78  540795.76

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  290621.48   96872.33    387493.81   36163.63  423657.44
1             inss   53613.17   17869.56     71482.73    7098.50   78581.23
2  ac_trab_0.5000%    1341.15     445.39      1786.54     176.49    1963.03
3             fgts   21516.05    7170.56     28686.61    2838.57   31525.18
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   76470.37   25485.51    101955.88   10113.56  112069.44
6            total  367091.85  122357.84    489449.69   46277.19  535726.88

'AUTÁRQUICO'

                       ferias  13_ferias total_ferias  13_salario       total
0     apropriacao   905650.72  301883.71   1207534.43   905650.72  2113185.15
1          spprev   171496.36       0.00    171496.36   171496.36   342992.72
2      sp-prevcom        0.00       0.00         0.00      914.75      914.75
3  total_encargos   171496.36       0.00    171496.36   172411.11   343907.47
4           total  1077147.08  301883.71   1379030.79  1078061.83  2457092.62

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34647 - C.BOTUCATU-FMVZ'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao   93553.37  31184.49    124737.86   93553.37  218291.23
1             inss   14649.46   4883.15     19532.61   14649.46   34182.07
2  ac_trab_0.5000%     365.88    121.95       487.83     365.88     853.71
3             fgts    5859.50   1953.15      7812.65    5859.50   13672.15
4       sp-prevcom       0.00      0.00         0.00    1178.06    1178.06
5   total_encargos   20874.84   6958.25     27833.09   22052.90   49885.99
6            total  114428.21  38142.74    152570.95  115606.27  268177.22

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  170589.13  56862.32    227451.45       0.00  227451.45
1             inss   31556.35  10518.11     42074.46       0.00   42074.46
2  ac_trab_0.5000%     787.93    262.02      1049.95       0.00    1049.95
3             fgts   12631.70   4210.02     16841.72       0.00   16841.72
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   44975.98  14990.15     59966.13       0.00   59966.13
6            total  215565.11  71852.47    287417.58       0.00  287417.58

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  244015.89  81338.66    325354.55  244015.89  569370.44
1          spprev   43266.06      0.00     43266.06   43266.06   86532.12
2      sp-prevcom       0.00      0.00         0.00      48.50      48.50
3  total_encargos   43266.06      0.00     43266.06   43314.56   86580.62
4           total  287281.95  81338.66    368620.61  287330.45  655951.06

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34648 - C.BOTUCATU-FCA'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  142047.86  47349.26    189397.12  142047.86  331444.98
1             inss   21469.55   7156.52     28626.07   21469.55   50095.62
2  ac_trab_0.5000%     536.20    178.74       714.94     536.20    1251.14
3             fgts    8587.43   2862.50     11449.93    8587.43   20037.36
4       sp-prevcom       0.00      0.00         0.00    2161.05    2161.05
5   total_encargos   30593.18  10197.76     40790.94   32754.23   73545.17
6            total  172641.04  57547.02    230188.06  174802.09  404990.15

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  257854.44   85950.23    343804.67    3901.87  347706.54
1             inss   47242.03   15746.49     62988.52     780.31   63768.83
2  ac_trab_0.5000%    2432.26     809.85      3242.11      19.46    3261.57
3             fgts   18928.44    6308.52     25236.96     312.09   25549.05
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   68602.73   22864.86     91467.59    1111.86   92579.45
6            total  326457.17  108815.09    435272.26    5013.73  440285.99

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  225167.36  75055.84    300223.20  225167.36  525390.56
1          spprev   41668.12      0.00     41668.12   41668.12   83336.24
2      sp-prevcom       0.00      0.00         0.00     273.34     273.34
3  total_encargos   41668.12      0.00     41668.12   41941.46   83609.58
4           total  266835.48  75055.84    341891.32  267108.82  609000.14

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34649 - C.BOTUCATU-IB'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  170719.47  56906.47    227625.94  170719.47  398345.41
1             inss   26323.05   8774.30     35097.35   26323.05   61420.40
2  ac_trab_0.5000%     657.61    219.18       876.79     657.61    1534.40
3             fgts   10529.00   3509.72     14038.72   10529.00   24567.72
4       sp-prevcom       0.00      0.00         0.00    3130.36    3130.36
5   total_encargos   37509.66  12503.20     50012.86   40640.02   90652.88
6            total  208229.13  69409.67    277638.80  211359.49  488998.29

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  299694.37   99897.00    399591.37   17219.32  416810.69
1             inss   53859.41   17951.73     71811.14    3168.79   74979.93
2  ac_trab_0.5000%    1348.24     448.16      1796.40      79.04    1875.44
3             fgts   21612.42    7203.18     28815.60    1267.42   30083.02
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   76820.07   25603.07    102423.14    4515.25  106938.39
6            total  376514.44  125500.07    502014.51   21734.57  523749.08

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  291362.90  97120.98    388483.88  291362.90  679846.78
1          spprev   52851.22      0.00     52851.22   52851.22  105702.44
2      sp-prevcom       0.00      0.00         0.00    1494.07    1494.07
3  total_encargos   52851.22      0.00     52851.22   54345.29  107196.51
4           total  344214.12  97120.98    441335.10  345708.19  787043.29

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34650 - C.BOTUCATU-AG'

'CLT'

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  46096.19  15365.41     61461.60   46096.19  107557.79
1             inss   7746.56   2582.17     10328.73    7746.56   18075.29
2  ac_trab_0.5000%    193.42     64.47       257.89     193.42     451.31
3             fgts   3098.46   1032.83      4131.29    3098.46    7229.75
4       sp-prevcom      0.00      0.00         0.00     173.05     173.05
5   total_encargos  11038.44   3679.47     14717.91   11211.49   25929.40
6            total  57134.63  19044.88     76179.51   57307.68  133487.19

                      ferias 13_ferias total_ferias 13_salario     total
0      apropriacao  52199.07  17399.04     69598.11       0.00  69598.11
1             inss   9235.77   3078.10     12313.87       0.00  12313.87
2  ac_trab_0.5000%    236.50     78.39       314.89       0.00    314.89
3             fgts   3718.88   1238.98      4957.86       0.00   4957.86
4       sp-prevcom      0.00      0.00         0.00       0.00      0.00
5   total_encargos  13191.15   4395.47     17586.62       0.00  17586.62
6            total  65390.22  21794.51     87184.73       0.00  87184.73

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  74217.53  24739.17     98956.70   74217.53  173174.23
1          spprev  10750.30      0.00     10750.30   10750.30   21500.60
2      sp-prevcom      0.00      0.00         0.00       0.00       0.00
3  total_encargos  10750.30      0.00     10750.30   10750.30   21500.60
4           total  84967.83  24739.17    109707.00   84967.83  194674.83

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34720 - C.JABOTICABAL-FCAV'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  196287.70  65429.23    261716.93  196287.70  458004.63
1             inss   30611.71  10203.91     40815.62   30611.71   71427.33
2  ac_trab_0.5000%     764.57    254.78      1019.35     764.57    1783.92
3             fgts   12244.23   4081.42     16325.65   12244.23   28569.88
4       sp-prevcom       0.00      0.00         0.00    3193.60    3193.60
5   total_encargos   43620.51  14540.11     58160.62   46814.11  104974.73
6            total  239908.21  79969.34    319877.55  243101.81  562979.36

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  351128.15  117041.05    468169.20   43409.82  511579.02
1             inss   64209.09   21401.01     85610.10    8232.65   93842.75
2  ac_trab_0.5000%    1613.06     535.51      2148.57     205.40    2353.97
3             fgts   25753.12    8582.21     34335.33    3292.69   37628.02
4       sp-prevcom       0.00       0.00         0.00    1253.52    1253.52
5   total_encargos   91575.27   30518.73    122094.00   12984.26  135078.26
6            total  442703.42  147559.78    590263.20   56394.08  646657.28

'AUTÁRQUICO'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  576694.47  192231.40    768925.87  576694.47  1345620.34
1          spprev  101845.58       0.00    101845.58  101845.58   203691.16
2      sp-prevcom       0.00       0.00         0.00    1197.16     1197.16
3  total_encargos  101845.58       0.00    101845.58  103042.74   204888.32
4           total  678540.05  192231.40    870771.45  679737.21  1550508.66

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  39921.83  13307.22     53229.05   37102.08   90331.13
1          spprev   8594.55      0.00      8594.55    7975.40   16569.95
2      sp-prevcom      0.00      0.00         0.00       0.00       0.00
3  total_encargos   8594.55      0.00      8594.55    7975.40   16569.95
4           total  48516.38  13307.22     61823.60   45077.48  106901.08

'34874 - C.S.J.R.PRETO-IBILCE'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  238536.39  79512.20    318048.59  238536.39  556584.98
1             inss   34774.90  11591.58     46366.48   34774.90   81141.38
2  ac_trab_0.5000%     868.79    289.58      1158.37     868.79    2027.16
3             fgts   13909.57   4636.51     18546.08   13909.57   32455.65
4       sp-prevcom       0.00      0.00         0.00    4594.01    4594.01
5   total_encargos   49553.26  16517.67     66070.93   54147.27  120218.20
6            total  288089.65  96029.87    384119.52  292683.66  676803.18

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  447254.65  149083.36    596338.01       0.00  596338.01
1             inss   81458.80   27151.16    108609.96       0.00  108609.96
2  ac_trab_0.5000%    2035.20     677.17      2712.37       0.00    2712.37
3             fgts   32625.14   10873.65     43498.79       0.00   43498.79
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos  116119.14   38701.98    154821.12       0.00  154821.12
6            total  563373.79  187785.34    751159.13       0.00  751159.13

'AUTÁRQUICO'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  364611.70  121537.27    486148.97  364611.70  850760.67
1          spprev   66043.30       0.00     66043.30   66043.30  132086.60
2      sp-prevcom       0.00       0.00         0.00    1630.83    1630.83
3  total_encargos   66043.30       0.00     66043.30   67674.13  133717.43
4           total  430655.00  121537.27    552192.27  432285.83  984478.10

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'34895 - C.GUARATINGUETA-FE'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  143953.51  47984.41    191937.92  143953.51  335891.43
1             inss   24728.97   8242.96     32971.93   24728.97   57700.90
2  ac_trab_1.3734%    1697.52    565.78      2263.30    1697.52    3960.82
3             fgts    9891.21   3297.02     13188.23    9891.21   23079.44
4       sp-prevcom       0.00      0.00         0.00    2316.27    2316.27
5   total_encargos   36317.70  12105.76     48423.46   38633.97   87057.43
6            total  180271.21  60090.17    240361.38  182587.48  422948.86

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  171534.69  57177.49    228712.18    1279.32  229991.50
1             inss   31433.96  10477.32     41911.28     255.84   42167.12
2  ac_trab_1.3734%    2918.61    972.00      3890.61      24.18    3914.79
3             fgts   12631.17   4209.24     16840.41     102.30   16942.71
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   46983.74  15658.56     62642.30     382.32   63024.62
6            total  218518.43  72836.05    291354.48    1661.64  293016.12

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  276624.93  92208.41    368833.34  276624.93  645458.27
1          spprev   47271.34      0.00     47271.34   47271.34   94542.68
2      sp-prevcom       0.00      0.00         0.00     732.55     732.55
3  total_encargos   47271.34      0.00     47271.34   48003.89   95275.23
4           total  323896.27  92208.41    416104.68  324628.82  740733.50

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  42199.08  14066.30     56265.38   35444.91   91710.29
1          spprev   8944.42      0.00      8944.42    7477.73   16422.15
2      sp-prevcom      0.00      0.00         0.00       0.00       0.00
3  total_encargos   8944.42      0.00      8944.42    7477.73   16422.15
4           total  51143.50  14066.30     65209.80   42922.64  108132.44

'34950 - C.LIT PAULISTA-IB'

'CLT'

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  81390.47  27130.18    108520.65   81390.47  189911.12
1             inss  12837.22   4279.03     17116.25   12837.22   29953.47
2  ac_trab_0.5000%    320.65    106.85       427.50     320.65     748.15
3             fgts   5134.72   1711.59      6846.31    5134.72   11981.03
4       sp-prevcom      0.00      0.00         0.00    1286.12    1286.12
5   total_encargos  18292.59   6097.47     24390.06   19578.71   43968.77
6            total  99683.06  33227.65    132910.71  100969.18  233879.89

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  148423.97  49474.16    197898.13    4688.79  202586.92
1             inss   27130.31   9042.96     36173.27     799.39   36972.66
2  ac_trab_0.5000%     680.61    226.38       906.99      21.01     928.00
3             fgts   10911.63   3636.76     14548.39     336.89   14885.28
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   38722.55  12906.10     51628.65    1157.29   52785.94
6            total  187146.52  62380.26    249526.78    5846.08  255372.86

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  13569.95   4523.32     18093.27   13569.95  31663.22
1          spprev   2533.29      0.00      2533.29    2533.29   5066.58
2      sp-prevcom      0.00      0.00         0.00     107.45    107.45
3  total_encargos   2533.29      0.00      2533.29    2640.74   5174.03
4           total  16103.24   4523.32     20626.56   16210.69  36837.25

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40434 - REITORIA'

'CLT'

                       ferias  13_ferias total_ferias 13_salario       total
0      apropriacao  360940.90  120313.76    481254.66  360940.90   842195.56
1             inss   61317.13   20439.04     81756.17   61317.13   143073.30
2  ac_trab_0.5000%    1531.42     510.10      2041.52    1531.42     3572.94
3             fgts   24526.11    8175.33     32701.44   24526.11    57227.55
4       sp-prevcom       0.00       0.00         0.00    1668.03     1668.03
5   total_encargos   87374.66   29124.47    116499.13   89042.69   205541.82
6            total  448315.56  149438.23    597753.79  449983.59  1047737.38

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  395869.72  131954.37    527824.09   13408.63  541232.72
1             inss   73436.62   24477.13     97913.75    2630.23  100543.98
2  ac_trab_0.5000%    1841.74     611.38      2453.12      65.66    2518.78
3             fgts   29549.08    9847.95     39397.03    1052.06   40449.09
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos  104827.44   34936.46    139763.90    3747.95  143511.85
6            total  500697.16  166890.83    667587.99   17156.58  684744.57

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  261646.60  87215.56    348862.16  261646.60  610508.76
1          spprev   47318.13      0.00     47318.13   47318.13   94636.26
2      sp-prevcom       0.00      0.00         0.00     164.55     164.55
3  total_encargos   47318.13      0.00     47318.13   47482.68   94800.81
4           total  308964.73  87215.56    396180.29  309129.28  705309.57

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40435 - C.SAO PAULO-IA'

'CLT'

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  57536.94  19179.00     76715.94   57536.94  134252.88
1             inss   9005.41   3001.76     12007.17    9005.41   21012.58
2  ac_trab_0.5000%    224.92     74.99       299.91     224.92     524.83
3             fgts   3602.03   1200.71      4802.74    3602.03    8404.77
4       sp-prevcom      0.00      0.00         0.00     451.18     451.18
5   total_encargos  12832.36   4277.46     17109.82   13283.54   30393.36
6            total  70369.30  23456.46     93825.76   70820.48  164646.24

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  120722.71  40240.62    160963.33    4857.37  165820.70
1             inss   21826.93   7275.30     29102.23     927.68   30029.91
2  ac_trab_0.5000%     544.80    181.37       726.17      23.17     749.34
3             fgts    8730.13   2909.77     11639.90     371.08   12010.98
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   31101.86  10366.44     41468.30    1321.93   42790.23
6            total  151824.57  50607.06    202431.63    6179.30  208610.93

'AUTÁRQUICO'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   86603.67  28867.88    115471.55   86603.67  202075.22
1          spprev   15519.66      0.00     15519.66   15519.66   31039.32
2      sp-prevcom       0.00      0.00         0.00     412.02     412.02
3  total_encargos   15519.66      0.00     15519.66   15931.68   31451.34
4           total  102123.33  28867.88    130991.21  102535.35  233526.56

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40436 - C.DRACENA-FCAT'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao   98669.63  32889.86    131559.49   98669.63  230229.12
1             inss   14565.93   4855.28     19421.21   14565.93   33987.14
2  ac_trab_1.7924%    1305.08    435.05      1740.13    1305.08    3045.21
3             fgts    5826.18   1942.11      7768.29    5826.18   13594.47
4       sp-prevcom       0.00      0.00         0.00    1655.63    1655.63
5   total_encargos   21697.19   7232.44     28929.63   23352.82   52282.45
6            total  120366.82  40122.30    160489.12  122022.45  282511.57

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  212388.69  70795.13    283183.82       0.00  283183.82
1             inss   38098.06  12698.75     50796.81       0.00   50796.81
2  ac_trab_1.7924%    1780.30    592.62      2372.92       0.00    2372.92
3             fgts   15281.99   5093.24     20375.23       0.00   20375.23
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   55160.35  18384.61     73544.96       0.00   73544.96
6            total  267549.04  89179.74    356728.78       0.00  356728.78

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  30183.13  10061.05     40244.18   30183.13  70427.31
1          spprev   5052.89      0.00      5052.89    5052.89  10105.78
2      sp-prevcom      0.00      0.00         0.00     407.76    407.76
3  total_encargos   5052.89      0.00      5052.89    5460.65  10513.54
4           total  35236.02  10061.05     45297.07   35643.78  80940.85

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40437 - C.ITAPEVA-ICE'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao   87749.91  29249.94    116999.85   87749.91  204749.76
1             inss   12930.61   4310.17     17240.78   12930.61   30171.39
2  ac_trab_0.5000%     323.01    107.65       430.66     323.01     753.67
3             fgts    5172.05   1724.01      6896.06    5172.05   12068.11
4       sp-prevcom       0.00      0.00         0.00    1380.74    1380.74
5   total_encargos   18425.67   6141.83     24567.50   19806.41   44373.91
6            total  106175.58  35391.77    141567.35  107556.32  249123.67

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  233945.00  77980.65    311925.65   29865.95  341791.60
1             inss   42459.27  14152.37     56611.64    5432.80   62044.44
2  ac_trab_0.5000%    2122.10    706.43      2828.53     271.56    3100.09
3             fgts   17012.70   5670.34     22683.04    2173.04   24856.08
4       sp-prevcom       0.00      0.00         0.00    1098.80    1098.80
5   total_encargos   61594.07  20529.14     82123.21    8976.20   91099.41
6            total  295539.07  98509.79    394048.86   38842.15  432891.01

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  10103.50   3367.82     13471.32   10103.50  23574.82
1          spprev   1261.85      0.00      1261.85    1261.85   2523.70
2      sp-prevcom      0.00      0.00         0.00     125.51    125.51
3  total_encargos   1261.85      0.00      1261.85    1387.36   2649.21
4           total  11365.35   3367.82     14733.17   11490.86  26224.03

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40438 - C.OURINHOS-FCTE'

'CLT'

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  60733.94  20244.64     80978.58   60733.94  141712.52
1             inss   8853.33   2951.12     11804.45    8853.33   20657.78
2  ac_trab_0.5000%    221.18     73.69       294.87     221.18     516.05
3             fgts   3541.24   1180.41      4721.65    3541.24    8262.89
4       sp-prevcom      0.00      0.00         0.00    1111.61    1111.61
5   total_encargos  12615.75   4205.22     16820.97   13727.36   30548.33
6            total  73349.69  24449.86     97799.55   74461.30  172260.85

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  123692.46  41230.22    164922.68       0.00  164922.68
1             inss   22238.99   7412.53     29651.52       0.00   29651.52
2  ac_trab_0.5000%    1132.11    376.96      1509.07       0.00    1509.07
3             fgts    9099.53   3032.63     12132.16       0.00   12132.16
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   32470.63  10822.12     43292.75       0.00   43292.75
6            total  156163.09  52052.34    208215.43       0.00  208215.43

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao   9056.15   3018.71     12074.86    9056.15  21131.01
1          spprev   1715.85      0.00      1715.85    1715.85   3431.70
2      sp-prevcom      0.00      0.00         0.00       0.00      0.00
3  total_encargos   1715.85      0.00      1715.85    1715.85   3431.70
4           total  10772.00   3018.71     13790.71   10772.00  24562.71

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40439 - C.REGISTRO-FCAVR'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  113603.77  37867.95    151471.72  113603.77  265075.49
1             inss   16240.81   5413.58     21654.39   16240.81   37895.20
2  ac_trab_0.5000%     405.67    135.24       540.91     405.67     946.58
3             fgts    6496.09   2165.36      8661.45    6496.09   15157.54
4       sp-prevcom       0.00      0.00         0.00    2141.32    2141.32
5   total_encargos   23142.57   7714.18     30856.75   25283.89   56140.64
6            total  136746.34  45582.13    182328.47  138887.66  321216.13

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  260913.71   86970.34    347884.05     152.44  348036.49
1             inss   48044.45   16013.84     64058.29      30.48   64088.77
2  ac_trab_0.5000%    2395.21     797.22      3192.43       1.52    3193.95
3             fgts   19231.02    6409.23     25640.25      12.19   25652.44
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   69670.68   23220.29     92890.97      44.19   92935.16
6            total  330584.39  110190.63    440775.02     196.63  440971.65

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  18622.04   6207.35     24829.39   18622.04  43451.43
1          spprev   3433.95      0.00      3433.95    3433.95   6867.90
2      sp-prevcom      0.00      0.00         0.00       0.00      0.00
3  total_encargos   3433.95      0.00      3433.95    3433.95   6867.90
4           total  22055.99   6207.35     28263.34   22055.99  50319.33

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40440 - C.ROSANA-FEC'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao   89007.58  29669.20    118676.78   89007.58  207684.36
1             inss   12820.43   4273.48     17093.91   12820.43   29914.34
2  ac_trab_0.5000%     320.28    106.77       427.05     320.28     747.33
3             fgts    5128.02   1709.35      6837.37    5128.02   11965.39
4       sp-prevcom       0.00      0.00         0.00    1302.08    1302.08
5   total_encargos   18268.73   6089.60     24358.33   19570.81   43929.14
6            total  107276.31  35758.80    143035.11  108578.39  251613.50

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  229276.06  76424.46    305700.52       0.00  305700.52
1             inss   41385.88  13794.65     55180.53       0.00   55180.53
2  ac_trab_0.5000%    2103.12    700.19      2803.31       0.00    2803.31
3             fgts   16874.00   5623.98     22497.98       0.00   22497.98
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   60363.00  20118.82     80481.82       0.00   80481.82
6            total  289639.06  96543.28    386182.34       0.00  386182.34

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  10586.93   3528.98     14115.91   10586.93  24702.84
1          spprev   1141.92      0.00      1141.92    1141.92   2283.84
2      sp-prevcom      0.00      0.00         0.00     266.15    266.15
3  total_encargos   1141.92      0.00      1141.92    1408.07   2549.99
4           total  11728.85   3528.98     15257.83   11995.00  27252.83

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40441 - C.SOROCABA-ICT'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  142959.24  47653.09    190612.33  142959.24  333571.57
1             inss   19488.01   6495.98     25983.99   19488.01   45472.00
2  ac_trab_0.5000%     486.97    162.34       649.31     486.97    1136.28
3             fgts    7794.98   2598.33     10393.31    7794.98   18188.29
4       sp-prevcom       0.00      0.00         0.00    3006.67    3006.67
5   total_encargos   27769.96   9256.65     37026.61   30776.63   67803.24
6            total  170729.20  56909.74    227638.94  173735.87  401374.81

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  416735.47  138910.83    555646.30       0.00  555646.30
1             inss   76703.34   25566.71    102270.05       0.00  102270.05
2  ac_trab_0.5000%    1942.09     646.31      2588.40       0.00    2588.40
3             fgts   30768.85   10255.34     41024.19       0.00   41024.19
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos  109414.28   36468.36    145882.64       0.00  145882.64
6            total  526149.75  175379.19    701528.94       0.00  701528.94

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  21640.16   7213.38     28853.54   21640.16  50493.70
1          spprev   3874.47      0.00      3874.47    3874.47   7748.94
2      sp-prevcom      0.00      0.00         0.00      57.51     57.51
3  total_encargos   3874.47      0.00      3874.47    3931.98   7806.45
4           total  25514.63   7213.38     32728.01   25572.14  58300.15

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40442 - C.TUPA-FCE'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  119186.58  39728.84    158915.42  119186.58  278102.00
1             inss   18500.27   6166.71     24666.98   18500.27   43167.25
2  ac_trab_0.5000%     462.14    154.09       616.23     462.14    1078.37
3             fgts    7399.85   2466.63      9866.48    7399.85   17266.33
4       sp-prevcom       0.00      0.00         0.00    2650.07    2650.07
5   total_encargos   26362.26   8787.43     35149.69   29012.33   64162.02
6            total  145548.84  48516.27    194065.11  148198.91  342264.02

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  203177.20  67725.01    270902.21       0.00  270902.21
1             inss   36829.91  12275.94     49105.85       0.00   49105.85
2  ac_trab_0.5000%     928.18    308.40      1236.58       0.00    1236.58
3             fgts   14880.20   4959.06     19839.26       0.00   19839.26
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   52638.29  17543.40     70181.69       0.00   70181.69
6            total  255815.49  85268.41    341083.90       0.00  341083.90

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  12133.91   4044.64     16178.55   12133.91  28312.46
1          spprev   2214.86      0.00      2214.86    2214.86   4429.72
2      sp-prevcom      0.00      0.00         0.00      87.18     87.18
3  total_encargos   2214.86      0.00      2214.86    2302.04   4516.90
4           total  14348.77   4044.64     18393.41   14435.95  32829.36

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'40443 - C.S.J.BOA VISTA-FE'

'CLT'

                      ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  81855.66  27285.25    109140.91   81855.66  190996.57
1             inss  11815.18   3938.40     15753.58   11815.18   27568.76
2  ac_trab_0.5000%    295.09     98.33       393.42     295.09     688.51
3             fgts   4725.95   1575.35      6301.30    4725.95   11027.25
4       sp-prevcom      0.00      0.00         0.00    1408.12    1408.12
5   total_encargos  16836.22   5612.08     22448.30   18244.34   40692.64
6            total  98691.88  32897.33    131589.21  100100.00  231689.21

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  179356.03  59784.58    239140.61       0.00  239140.61
1             inss   32589.07  10862.57     43451.64       0.00   43451.64
2  ac_trab_0.5000%    1626.51    541.35      2167.86       0.00    2167.86
3             fgts   13103.94   4367.24     17471.18       0.00   17471.18
4       sp-prevcom       0.00      0.00         0.00       0.00       0.00
5   total_encargos   47319.52  15771.16     63090.68       0.00   63090.68
6            total  226675.55  75555.74    302231.29       0.00  302231.29

'AUTÁRQUICO'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  17903.03   5967.68     23870.71   17903.03  41773.74
1          spprev   2218.90      0.00      2218.90    2218.90   4437.80
2      sp-prevcom      0.00      0.00         0.00     270.41    270.41
3  total_encargos   2218.90      0.00      2218.90    2489.31   4708.21
4           total  20121.93   5967.68     26089.61   20392.34  46481.95

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00

'99998 - C.ILHA SOLTEIRA-FE'

'CLT'

                       ferias 13_ferias total_ferias 13_salario      total
0      apropriacao  189086.18  63028.79    252114.97  189086.18  441201.15
1             inss   28138.69   9379.50     37518.19   28138.69   65656.88
2  ac_trab_0.5000%     702.74    234.26       937.00     702.74    1639.74
3             fgts   11255.03   3751.66     15006.69   11255.03   26261.72
4       sp-prevcom       0.00      0.00         0.00    2598.55    2598.55
5   total_encargos   40096.46  13365.42     53461.88   42695.01   96156.89
6            total  229182.64  76394.21    305576.85  231781.19  537358.04

                       ferias  13_ferias total_ferias 13_salario      total
0      apropriacao  355099.47  118365.12    473464.59    1398.34  474862.93
1             inss   64466.55   21487.46     85954.01     279.66   86233.67
2  ac_trab_0.5000%    1611.85     536.32      2148.17       6.98    2155.15
3             fgts   25835.30    8610.41     34445.71     111.86   34557.57
4       sp-prevcom       0.00       0.00         0.00       0.00       0.00
5   total_encargos   91913.70   30634.19    122547.89     398.50  122946.39
6            total  447013.17  148999.31    596012.48    1796.84  597809.32

'AUTÁRQUICO'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  424601.22  141533.72    566134.94  424601.22   990736.16
1          spprev   79748.71       0.00     79748.71   79748.71   159497.42
2      sp-prevcom       0.00       0.00         0.00     800.42      800.42
3  total_encargos   79748.71       0.00     79748.71   80549.13   160297.84
4           total  504349.93  141533.72    645883.65  505150.35  1151034.00

                  ferias 13_ferias total_ferias 13_salario total
0     apropriacao   0.00      0.00         0.00       0.00  0.00
1          spprev   0.00      0.00         0.00       0.00  0.00
2      sp-prevcom   0.00      0.00         0.00       0.00  0.00
3  total_encargos   0.00      0.00         0.00       0.00  0.00
4           total   0.00      0.00         0.00       0.00  0.00