In [1]:
import nbimporter
import read_report_java_pdfreader as jLine_reader # type: ignore
import read_report_java_tabula as jTable_reader # type: ignore

In [2]:
def add_to_results(results, op_code, op_name, employee_type, table_type, table):
    if op_code not in results:
        results[op_code] = {
            "codigo" : op_code,
            "unidade" : op_name
        }
    results[op_code].setdefault(table_type, {})[employee_type] = table
    return results

def get_java_data_from(file_path:str):
    results = {}
    lines   = jLine_reader.get_lines_from(file_path)
    tables  = jTable_reader.get_tables_from(file_path)
    index = 0
    for key, value in tables.items():
        for employee_type, table in value:
            op_name, op_code, table_type = lines[index//4]
            results = add_to_results(results, op_code, op_name, employee_type, table_type, table)
            index += 1
    return results

In [3]:
results = get_java_data_from("RHPP05LA - GERAL.pdf")

code = 40434

display(results[code]['clt']['apropriado'])
display(results[code]['clt']['realizado'])
display(results[code]['autarquico']['apropriado'])
display(results[code]['autarquico']['realizado'])

abr 17, 2024 4:22:13 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
ADVERTÊNCIA: Using fallback font LiberationSans for base font Symbol
abr 17, 2024 4:22:13 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
ADVERTÊNCIA: Using fallback font LiberationSans for base font ZapfDingbats

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  364641.26  121545.68    486186.94  364641.26   850828.20
1            inss   72926.76   24308.00     97234.76   62057.50   159292.26
2         ac_trab    1821.50     605.96      2427.46    1549.83     3977.29
3            fgts   29169.32    9721.89     38891.21   24822.20    63713.41
4       spprevcom       0.00       0.00         0.00    1959.04     1959.04
5  total_encargos  103917.58   34635.85    138553.43   90388.57   228942.00
6           total  468558.84  156181.53    624740.37  455029.83  1079770.20

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  491626.71  164915.44    656542.15     562.31  657104.46
1  ferias_pecunia  105434.36       0.00    105434.36       0.00  105434.36
2    total_ferias  597061.07  164915.44    761976.51     562.31  762538.82
3            inss  119411.83   32982.72    152394.55       0.00  152394.55
4         ac_trab    2984.89     824.15      3809.04       0.00    3809.04
5            fgts   47764.42   13192.79     60957.21       0.00   60957.21
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  170161.14   46999.66    217160.80       0.00  217160.80
8           total  767222.21  211915.10    979137.31     562.31  979699.62

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  261645.95  87214.79    348860.74  261645.95  610506.69
1    spprevcom       0.00      0.00         0.00     164.54     164.54
2        total  261645.95  87214.79    348860.74  261810.49  610671.23
3       spprev       0.00      0.00         0.00   62713.46   62713.46

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  146256.84  49705.68    195962.52       0.00  195962.52
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  146256.84  49705.68    195962.52       0.00  195962.52
3       spprev       0.00      0.00         0.00       0.00       0.00