IMPORTS E PARÂMETROS

In [1]:
import tabula as tb
import pandas as pd
import numpy  as np

FUNÇÕES

In [2]:
def get_normalized_java_texts():
    normalized_java_texts = {
        "1/3 Férias Total Férias": "13_ferias total_ferias", 
        "1/3 Férias"            : "13_ferias", 
        "Total Férias"          : "total_ferias", 
        "13o Salário"           : "13_salario", 
        "TOTAL"                 : "total", 
        "Apropriação"           : "apropriacao", 
        "INSS 20,00%"           : "inss", 
        ".*Ac. Trab. .*"        : "ac_trab", 
        "FGTS 8%"               : "fgts", 
        "SP-PREVCOM"            : "spprevcom", 
        "Total de Encargos"     : "total_encargos", 
        "Férias em pecúnia"     : "ferias_pecunia", 
        "SPPREV"                : "spprev", 
        "Férias"                : "ferias", 
        "\."                    : "",
        ","                     : ".",
        "APROPRIAÇÃO MENSAL"    : "apropriado",
        "REALIZADO MENSAL"      : "realizado",
        "SALDO FINAL MENSAL"    : "saldo",
        "REVERSÃO / REVISÃO DAS APROPRIAÇÕES" : "revertido",
        "Total"                 : "total_ferias",
    }
    return normalized_java_texts

def get_table_types():
    table_types =  [
        "CLT", 
        "AUTÁRQUICO", 
    ]
    return table_types

def get_ignored_table_types():
    ignored_table_types = [
        "TOTAIS", 
    ]
    return ignored_table_types

def get_renamed_columns():
    renamed_collumns = {
        "Unnamed: 0": "tipo", 
        "Unnamed: 1":"Col1", 
        "Col1":"Col2", 
        "Col2":"Col3", 
        "Unnamed: 2":"Col4", 
        "Unnamed: 3":"Col5",
    }
    return renamed_collumns

def get_reordered_columns():
    reordered_columns = [
    "Unnamed: 0", 
    "Unnamed: 1", 
    "Col1", 
    "Col2", 
    "Unnamed: 2", 
    "Unnamed: 3", 
    ]
    return reordered_columns

def get_internal_tables():
    internal_tables = [
        "apropriado", 
        "realizado", 
        "saldo", 
        "revertido", 
    ]
    return internal_tables

def normalize_java_text(tables:list) -> list:
    for index, table in enumerate(tables, start=1):
        tables[index-1] = table.replace(get_normalized_java_texts(), inplace=False, regex=True)
    return tables

def get_table_type(table:list) -> str:
    if not any(ignore_type in column for column in table for ignore_type in get_ignored_table_types()):
        for type in get_table_types():
            if type in table.columns:
                return type
    return None

def split_column(table:list, type:str, col1="Col1", col2="Col2") -> pd.DataFrame:
    df = pd.DataFrame(columns=[col1, col2])
    for value in table[type]:
        values = value.split()
        df.loc[len(df)] = [values[0], values[1] if len(values) > 1 else None]
    return df

def join_columns(table:list, df:pd.DataFrame, type:str) -> pd.DataFrame:
    table.drop(columns=[type], inplace=True)
    table = pd.concat([table, df], axis=1)
    return table

def format_data_frame(df:pd.DataFrame, type:str)->pd.DataFrame:
    df = df.reindex(columns=get_reordered_columns())
    colunas_renomeadas = get_renamed_columns()
    colunas_renomeadas["Unnamed: 0"] = type
    df = df.rename(columns=colunas_renomeadas)
    return df

def get_line_positions(df:pd.DataFrame, col:str="Col2") -> list:
    positions = []
    for index, line in enumerate(df[col]):
        if line in get_internal_tables():
            positions.append(index)
    positions.append(len(df))
    return positions

def split_internal_dataframe(df_main:pd.DataFrame, pos:list):
    results = []
    for i in range(len(pos) - 1):
            df_new  = df_main[pos[i] : pos[i+1]]
            type_df = df_new.iloc[0,2]
            df_new  = df_new.rename(columns=df_new.iloc[1].replace(np.nan, ""))[2:]
            df_new.reset_index(drop=True, inplace=True)
            results.append((type_df, df_new))
    return results

def get_dataframes(df_main:pd.DataFrame) -> list:
    type = get_table_type(df_main)
    if type is not None:
        df_main = join_columns(df_main, split_column(df_main, type), type)
        df_main = format_data_frame(df_main, type)
        return split_internal_dataframe(df_main, get_line_positions(df_main))
    else:
        return []

def get_tables_from(file_path:str)->dict:
    output = {}
    tables = normalize_java_text(tb.read_pdf(file_path, pages="all"))
    for idx, table in enumerate(tables, start=1):
        results = get_dataframes(table)
        table_results = [] 
        for table_type, sub_tables in results:
            table_results.append((table_type, sub_tables))
        output[idx] = table_results
    return output

EXECUÇÃO PRINCIPAL

In [3]:
output = get_tables_from("RHPP05LA - GERAL.pdf")

for key, value in output.items():
    for tipo_tabela, tabela in value:
            display(tipo_tabela)
            display(tabela)

abr 17, 2024 4:20:53 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
ADVERTÊNCIA: Using fallback font LiberationSans for base font Symbol
abr 17, 2024 4:20:53 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
ADVERTÊNCIA: Using fallback font LiberationSans for base font ZapfDingbats

'apropriado'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  60133.58  20044.36     80177.94   60133.58  140311.52
1            inss  12026.48   4008.66     16035.14    9991.98   26027.12
2         ac_trab   1074.44    357.95      1432.39     892.65    2325.04
3            fgts   4810.46   1603.31      6413.77    3996.63   10410.40
4       spprevcom      0.00      0.00         0.00     718.24     718.24
5  total_encargos  17911.38   5969.92     23881.30   15599.50   39480.80
6           total  78044.96  26014.28    104059.24   75733.08  179792.32

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   80594.28  28188.65    108782.93       0.00  108782.93
1  ferias_pecunia   15287.07      0.00     15287.07       0.00   15287.07
2    total_ferias   95881.35  28188.65    124070.00       0.00  124070.00
3            inss   19176.23   5637.66     24813.89       0.00   24813.89
4         ac_trab    1713.52    503.72      2217.24       0.00    2217.24
5            fgts    7670.44   2255.00      9925.44       0.00    9925.44
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   28560.19   8396.38     36956.57       0.00   36956.57
8           total  124441.54  36585.03    161026.57       0.00  161026.57

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  34818.99  11606.20     46425.19   60133.58  106558.77
1            inss   6963.65   2321.11      9284.76    9991.98   19276.74
2         ac_trab    622.10    207.24       829.34     892.65    1721.99
3            fgts   2785.35    928.32      3713.67    3996.63    7710.30
4       spprevcom      0.00      0.00         0.00     718.24     718.24
5  total_encargos  10371.10   3456.67     13827.77   15599.50   29427.27
6           total  45190.09  15062.87     60252.96   75733.08  135986.04

'revertido'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  70566.76  19750.49     90317.25       0.00   90317.25
1            inss  14113.40   3950.11     18063.51       0.00   18063.51
2         ac_trab   1261.18    353.01      1614.19       0.00    1614.19
3            fgts   5645.33   1580.01      7225.34       0.00    7225.34
4       spprevcom      0.00      0.00         0.00       0.00       0.00
5  total_encargos  21019.91   5883.13     26903.04       0.00   26903.04
6           total  91586.67  25633.62    117220.29       0.00  117220.29

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  109613.61  36537.66    146151.27  109613.61  255764.88
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  109613.61  36537.66    146151.27  109613.61  255764.88
3       spprev       0.00      0.00         0.00   29023.60   29023.60

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  45985.11  15949.38     61934.49       0.00  61934.49
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  45985.11  15949.38     61934.49       0.00  61934.49
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  63628.50  21209.29     84837.79  109613.61  194451.40
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  63628.50  21209.29     84837.79  109613.61  194451.40
3       spprev      0.00      0.00         0.00   29023.60   29023.60

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  36970.02  12323.35     49293.37       0.00  49293.37
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  36970.02  12323.35     49293.37       0.00  49293.37
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  137351.86  45783.58    183135.44  137351.86  320487.30
1            inss   27469.88   9156.28     36626.16   20945.91   57572.07
2         ac_trab    2172.58    723.79      2896.37    1656.49    4552.86
3            fgts   10987.62   3662.18     14649.80    8378.05   23027.85
4       spprevcom       0.00      0.00         0.00    2235.46    2235.46
5  total_encargos   40630.08  13542.25     54172.33   33215.91   87388.24
6           total  177981.94  59325.83    237307.77  170567.77  407875.54

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  327301.03  110345.19    437646.22     272.99  437919.21
1  ferias_pecunia   59561.70       0.00     59561.70       0.00   59561.70
2    total_ferias  386862.73  110345.19    497207.92     272.99  497480.91
3            inss   77372.30   22068.83     99441.13       0.00   99441.13
4         ac_trab    6120.26    1745.53      7865.79       0.00    7865.79
5            fgts   30948.78    8827.40     39776.18       0.00   39776.18
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  114441.34   32641.76    147083.10       0.00  147083.10
8           total  501304.07  142986.95    644291.02     272.99  644564.01

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  36416.38  12138.59     48554.97  137078.87  185633.84
1            inss   7283.01   2427.49      9710.50   20945.91   30656.41
2         ac_trab    575.96    191.76       767.72    1656.49    2424.21
3            fgts   2913.06    970.82      3883.88    8378.05   12261.93
4       spprevcom      0.00      0.00         0.00    2235.46    2235.46
5  total_encargos  10772.03   3590.07     14362.10   33215.91   47578.01
6           total  47188.41  15728.66     62917.07  170294.78  233211.85

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  285007.60  76700.20    361707.80   -2829.25  358878.55
1            inss   57001.50  15340.04     72341.54       0.00   72341.54
2         ac_trab    4509.10   1213.50      5722.60       0.00    5722.60
3            fgts   22800.65   6136.04     28936.69       0.00   28936.69
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   84311.25  22689.58    107000.83       0.00  107000.83
6           total  369318.85  99389.78    468708.63   -2829.25  465879.38

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  188560.63  62853.11    251413.74  188560.63  439974.37
1    spprevcom       0.00      0.00         0.00     241.71     241.71
2        total  188560.63  62853.11    251413.74  188802.34  440216.08
3       spprev       0.00      0.00         0.00   47901.21   47901.21

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  111006.04  38009.82    149015.86     123.04  149138.90
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  111006.04  38009.82    149015.86     123.04  149138.90
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  77554.59  25797.63    103352.22  188437.59  291789.81
1    spprevcom      0.00      0.00         0.00     241.71     241.71
2        total  77554.59  25797.63    103352.22  188679.30  292031.52
3       spprev      0.00      0.00         0.00   47901.21   47901.21

'revertido'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  90513.36  30224.65    120738.01   -1966.90  118771.11
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  90513.36  30224.65    120738.01   -1966.90  118771.11
3       spprev      0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  120189.46  40062.85    160252.31  120189.46  280441.77
1            inss   24037.48   8012.19     32049.67   18392.19   50441.86
2         ac_trab     600.54    199.91       800.45     459.41    1259.86
3            fgts    9614.74   3204.60     12819.34    7356.64   20175.98
4       spprevcom       0.00      0.00         0.00    1637.43    1637.43
5  total_encargos   34252.76  11416.70     45669.46   27845.67   73515.13
6           total  154442.22  51479.55    205921.77  148035.13  353956.90

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  273539.20   91583.78    365122.98       0.00  365122.98
1  ferias_pecunia   57847.69       0.00     57847.69       0.00   57847.69
2    total_ferias  331386.89   91583.78    422970.67       0.00  422970.67
3            inss   66277.21   18316.60     84593.81       0.00   84593.81
4         ac_trab    1656.77     457.71      2114.48       0.00    2114.48
5            fgts   26510.76    7326.53     33837.29       0.00   33837.29
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos   94444.74   26100.84    120545.58       0.00  120545.58
8           total  425831.63  117684.62    543516.25       0.00  543516.25

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  39987.90  13329.14     53317.04  120189.46  173506.50
1            inss   7997.35   2665.65     10663.00   18392.19   29055.19
2         ac_trab    199.75     66.47       266.22     459.41     725.63
3            fgts   3198.81   1066.08      4264.89    7356.64   11621.53
4       spprevcom      0.00      0.00         0.00    1637.43    1637.43
5  total_encargos  11395.91   3798.20     15194.11   27845.67   43039.78
6           total  51383.81  17127.34     68511.15  148035.13  216546.28

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  251185.33  64850.07    316035.40       0.00  316035.40
1            inss   50237.08  12970.06     63207.14       0.00   63207.14
2         ac_trab    1255.98    324.27      1580.25       0.00    1580.25
3            fgts   20094.83   5188.01     25282.84       0.00   25282.84
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   71587.89  18482.34     90070.23       0.00   90070.23
6           total  322773.22  83332.41    406105.63       0.00  406105.63

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  128651.11  42883.42    171534.53  128651.11  300185.64
1    spprevcom       0.00      0.00         0.00      43.59      43.59
2        total  128651.11  42883.42    171534.53  128694.70  300229.23
3       spprev       0.00      0.00         0.00   30398.80   30398.80

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  139964.27  47524.87    187489.14       0.00  187489.14
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  139964.27  47524.87    187489.14       0.00  187489.14
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  -11313.16  -3970.83    -15283.99  128651.11  113367.12
1    spprevcom       0.00      0.00         0.00      43.59      43.59
2        total  -11313.16  -3970.83    -15283.99  128694.70  113410.71
3       spprev       0.00      0.00         0.00   30398.80   30398.80

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  109249.74  36616.13    145865.87       0.00  145865.87
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  109249.74  36616.13    145865.87       0.00  145865.87
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  198268.36  66089.07    264357.43  198268.36  462625.79
1            inss   39653.19  13217.36     52870.55   30090.80   82961.35
2         ac_trab     990.74    329.82      1320.56     751.68    2072.24
3            fgts   15860.84   5286.53     21147.37   12035.98   33183.35
4       spprevcom       0.00      0.00         0.00    2228.16    2228.16
5  total_encargos   56504.77  18833.71     75338.48   45106.62  120445.10
6           total  254773.13  84922.78    339695.91  243374.98  583070.89

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  438808.77  146967.54    585776.31       0.00  585776.31
1  ferias_pecunia  122494.15       0.00    122494.15       0.00  122494.15
2    total_ferias  561302.92  146967.54    708270.46       0.00  708270.46
3            inss  112260.34   29393.31    141653.65       0.00  141653.65
4         ac_trab    2806.23     734.56      3540.79       0.00    3540.79
5            fgts   44903.96   11757.13     56661.09       0.00   56661.09
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  159970.53   41885.00    201855.53       0.00  201855.53
8           total  721273.45  188852.54    910125.99       0.00  910125.99

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  67225.97  22408.42     89634.39  198268.36  287902.75
1            inss  13444.90   4481.45     17926.35   30090.80   48017.15
2         ac_trab    335.81    111.71       447.52     751.68    1199.20
3            fgts   5377.70   1792.33      7170.03   12035.98   19206.01
4       spprevcom      0.00      0.00         0.00    2228.16    2228.16
5  total_encargos  19158.41   6385.49     25543.90   45106.62   70650.52
6           total  86384.38  28793.91    115178.29  243374.98  358553.27

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  430260.53  103286.89    533547.42       0.00  533547.42
1            inss   86052.05   20657.40    106709.45       0.00  106709.45
2         ac_trab    2151.30     516.45      2667.75       0.00    2667.75
3            fgts   34420.82    8262.93     42683.75       0.00   42683.75
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  122624.17   29436.78    152060.95       0.00  152060.95
6           total  552884.70  132723.67    685608.37       0.00  685608.37

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  205335.80  68444.78    273780.58  205335.80  479116.38
1    spprevcom       0.00      0.00         0.00     294.85     294.85
2        total  205335.80  68444.78    273780.58  205630.65  479411.23
3       spprev       0.00      0.00         0.00   50283.44   50283.44

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  124129.34  43112.42    167241.76       0.00  167241.76
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  124129.34  43112.42    167241.76       0.00  167241.76
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  81206.46  27048.90    108255.36  205335.80  313591.16
1    spprevcom      0.00      0.00         0.00     294.85     294.85
2        total  81206.46  27048.90    108255.36  205630.65  313886.01
3       spprev      0.00      0.00         0.00   50283.44   50283.44

'revertido'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  98388.06  32815.51    131203.57       0.00  131203.57
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  98388.06  32815.51    131203.57       0.00  131203.57
3       spprev      0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  101288.27  33762.49    135050.76  101288.27  236339.03
1            inss   20257.30   6752.19     27009.49   16026.51   43036.00
2         ac_trab     506.01    168.39       674.40     400.24    1074.64
3            fgts    8102.66   2700.58     10803.24    6410.35   17213.59
4       spprevcom       0.00      0.00         0.00    2106.88    2106.88
5  total_encargos   28865.97   9621.16     38487.13   24943.98   63431.11
6           total  130154.24  43383.65    173537.89  126232.25  299770.14

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  202101.38  67060.64    269162.02       0.00  269162.02
1  ferias_pecunia   47215.11      0.00     47215.11       0.00   47215.11
2    total_ferias  249316.49  67060.64    316377.13       0.00  316377.13
3            inss   49863.16  13411.96     63275.12       0.00   63275.12
4         ac_trab    1246.38    335.14      1581.52       0.00    1581.52
5            fgts   19945.16   5364.69     25309.85       0.00   25309.85
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   71054.70  19111.79     90166.49       0.00   90166.49
8           total  320371.19  86172.43    406543.62       0.00  406543.62

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  42153.74  14051.08     56204.82  101288.27  157493.09
1            inss   8430.55   2810.05     11240.60   16026.51   27267.11
2         ac_trab    210.51     70.01       280.52     400.24     680.76
3            fgts   3372.06   1123.83      4495.89    6410.35   10906.24
4       spprevcom      0.00      0.00         0.00    2106.88    2106.88
5  total_encargos  12013.12   4003.89     16017.01   24943.98   40960.99
6           total  54166.86  18054.97     72221.83  126232.25  198454.08

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  186873.88  47349.23    234223.11       0.00  234223.11
1            inss   37374.80   9469.82     46844.62       0.00   46844.62
2         ac_trab     934.34    236.76      1171.10       0.00    1171.10
3            fgts   14949.92   3787.94     18737.86       0.00   18737.86
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   53259.06  13494.52     66753.58       0.00   66753.58
6           total  240132.94  60843.75    300976.69       0.00  300976.69

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  228888.20  76295.59    305183.79  228888.20  534071.99
1    spprevcom       0.00      0.00         0.00     313.29     313.29
2        total  228888.20  76295.59    305183.79  229201.49  534385.28
3       spprev       0.00      0.00         0.00   59179.48   59179.48

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  225538.56  75349.68    300888.24       0.00  300888.24
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  225538.56  75349.68    300888.24       0.00  300888.24
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  11383.32   3774.89     15158.21  228888.20  244046.41
1    spprevcom      0.00      0.00         0.00     313.29     313.29
2        total  11383.32   3774.89     15158.21  229201.49  244359.70
3       spprev      0.00      0.00         0.00   59179.48   59179.48

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  172247.00  57434.81    229681.81       0.00  229681.81
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  172247.00  57434.81    229681.81       0.00  229681.81
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  141927.62  47308.90    189236.52  141927.62  331164.14
1            inss   28385.08   9461.32     37846.40   22275.77   60122.17
2         ac_trab     709.19    236.06       945.25     556.45    1501.70
3            fgts   11353.67   3784.18     15137.85    8909.99   24047.84
4       spprevcom       0.00      0.00         0.00    2367.63    2367.63
5  total_encargos   40447.94  13481.56     53929.50   34109.84   88039.34
6           total  182375.56  60790.46    243166.02  176037.46  419203.48

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  322589.58  107795.80    430385.38       0.00  430385.38
1  ferias_pecunia   34843.43       0.00     34843.43       0.00   34843.43
2    total_ferias  357433.01  107795.80    465228.81       0.00  465228.81
3            inss   71486.36   21558.91     93045.27       0.00   93045.27
4         ac_trab    1786.94     538.74      2325.68       0.00    2325.68
5            fgts   28594.47    8623.43     37217.90       0.00   37217.90
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  101867.77   30721.08    132588.85       0.00  132588.85
8           total  459300.78  138516.88    597817.66       0.00  597817.66

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  47643.86  15881.13     63524.99  141927.62  205452.61
1            inss   9528.53   3175.99     12704.52   22275.77   34980.29
2         ac_trab    238.00     79.19       317.19     556.45     873.64
3            fgts   3811.23   1270.22      5081.45    8909.99   13991.44
4       spprevcom      0.00      0.00         0.00    2367.63    2367.63
5  total_encargos  13577.76   4525.40     18103.16   34109.84   52213.00
6           total  61221.62  20406.53     81628.15  176037.46  257665.61

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  263149.25  76366.07    339515.32       0.00  339515.32
1            inss   52629.81  15273.19     67903.00       0.00   67903.00
2         ac_trab    1315.75    381.87      1697.62       0.00    1697.62
3            fgts   21052.03   6109.32     27161.35       0.00   27161.35
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   74997.59  21764.38     96761.97       0.00   96761.97
6           total  338146.84  98130.45    436277.29       0.00  436277.29

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  140916.92  46972.00    187888.92  140916.92  328805.84
1    spprevcom       0.00      0.00         0.00     428.78     428.78
2        total  140916.92  46972.00    187888.92  141345.70  329234.62
3       spprev       0.00      0.00         0.00   34246.67   34246.67

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  163141.22  54591.20    217732.42       0.00  217732.42
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  163141.22  54591.20    217732.42       0.00  217732.42
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  -3636.84  -1320.66     -4957.50  140916.92  135959.42
1    spprevcom      0.00      0.00         0.00     428.78     428.78
2        total  -3636.84  -1320.66     -4957.50  141345.70  136388.20
3       spprev      0.00      0.00         0.00   34246.67   34246.67

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  114127.32  38150.58    152277.90       0.00  152277.90
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  114127.32  38150.58    152277.90       0.00  152277.90
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  156736.19  52245.04    208981.23  156736.19  365717.42
1            inss   31346.79  10448.52     41795.31   24524.54   66319.85
2         ac_trab    2373.83    790.87      3164.70    1857.12    5021.82
3            fgts   12538.33   4179.08     16717.41    9809.47   26526.88
4       spprevcom       0.00      0.00         0.00    1767.67    1767.67
5  total_encargos   46258.95  15418.47     61677.42   37958.80   99636.22
6           total  202995.14  67663.51    270658.65  194694.99  465353.64

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  290262.95   97165.22    387428.17       0.00  387428.17
1  ferias_pecunia  117164.00       0.00    117164.00       0.00  117164.00
2    total_ferias  407426.95   97165.22    504592.17       0.00  504592.17
3            inss   81485.17   19432.83    100918.00       0.00  100918.00
4         ac_trab    6171.87    1471.68      7643.55       0.00    7643.55
5            fgts   32593.89    7772.94     40366.83       0.00   40366.83
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  120250.93   28677.45    148928.38       0.00  148928.38
8           total  527677.88  125842.67    653520.55       0.00  653520.55

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  63579.57  21193.00     84772.57  156736.19  241508.76
1            inss  12715.68   4238.36     16954.04   24524.54   41478.58
2         ac_trab    962.88    320.70      1283.58    1857.12    3140.70
3            fgts   5086.06   1695.14      6781.20    9809.47   16590.67
4       spprevcom      0.00      0.00         0.00    1767.67    1767.67
5  total_encargos  18764.62   6254.20     25018.82   37958.80   62977.62
6           total  82344.19  27447.20    109791.39  194694.99  304486.38

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  314270.33  66113.18    380383.51       0.00  380383.51
1            inss   62854.06  13222.67     76076.73       0.00   76076.73
2         ac_trab    4760.92   1001.51      5762.43       0.00    5762.43
3            fgts   25141.62   5289.00     30430.62       0.00   30430.62
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   92756.60  19513.18    112269.78       0.00  112269.78
6           total  407026.93  85626.36    492653.29       0.00  492653.29

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  237354.63  79117.74    316472.37  237354.63  553827.00
1    spprevcom       0.00      0.00         0.00     701.81     701.81
2        total  237354.63  79117.74    316472.37  238056.44  554528.81
3       spprev       0.00      0.00         0.00   57182.37   57182.37

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  318356.74  106980.27    425337.01       0.00  425337.01
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  318356.74  106980.27    425337.01       0.00  425337.01
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  -81002.11  -27194.42   -108196.53  237354.63  129158.10
1    spprevcom       0.00       0.00         0.00     701.81     701.81
2        total  -81002.11  -27194.42   -108196.53  238056.44  129859.91
3       spprev       0.00       0.00         0.00   57182.37   57182.37

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  252585.97  84388.67    336974.64       0.00  336974.64
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  252585.97  84388.67    336974.64       0.00  336974.64
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  41540.20  13846.58     55386.78   41540.20   96926.98
1            inss   8307.80   2769.13     11076.93    6731.06   17807.99
2         ac_trab    207.43     69.00       276.43     168.05     444.48
3            fgts   3322.93   1107.42      4430.35    2692.29    7122.64
4       spprevcom      0.00      0.00         0.00     196.27     196.27
5  total_encargos  11838.16   3945.55     15783.71    9787.67   25571.38
6           total  53378.36  17792.13     71170.49   51327.87  122498.36

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   84547.39  28229.92    112777.31       0.00  112777.31
1  ferias_pecunia    9590.98      0.00      9590.98       0.00    9590.98
2    total_ferias   94138.37  28229.92    122368.29       0.00  122368.29
3            inss   18827.60   5645.91     24473.51       0.00   24473.51
4         ac_trab     470.61    141.06       611.67       0.00     611.67
5            fgts    7531.01   2258.30      9789.31       0.00    9789.31
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   26829.22   8045.27     34874.49       0.00   34874.49
8           total  120967.59  36275.19    157242.78       0.00  157242.78

'saldo'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  17630.65   5876.79     23507.44   41540.20  65047.64
1            inss   3525.96   1175.23      4701.19    6731.06  11432.25
2         ac_trab     88.00     29.24       117.24     168.05    285.29
3            fgts   1410.27    469.96      1880.23    2692.29   4572.52
4       spprevcom      0.00      0.00         0.00     196.27    196.27
5  total_encargos   5024.23   1674.43      6698.66    9787.67  16486.33
6           total  22654.88   7551.22     30206.10   51327.87  81533.97

'revertido'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  70228.82  20260.13     90488.95       0.00   90488.95
1            inss  14045.76   4052.01     18097.77       0.00   18097.77
2         ac_trab    351.18    101.30       452.48       0.00     452.48
3            fgts   5618.35   1620.84      7239.19       0.00    7239.19
4       spprevcom      0.00      0.00         0.00       0.00       0.00
5  total_encargos  20015.29   5774.15     25789.44       0.00   25789.44
6           total  90244.11  26034.28    116278.39       0.00  116278.39

'apropriado'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  73037.94  24345.74     97383.68   73037.94  170421.62
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  73037.94  24345.74     97383.68   73037.94  170421.62
3       spprev      0.00      0.00         0.00   17856.85   17856.85

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  42898.16  14349.50     57247.66       0.00  57247.66
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  42898.16  14349.50     57247.66       0.00  57247.66
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  30139.78  10000.60     40140.38   73037.94  113178.32
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  30139.78  10000.60     40140.38   73037.94  113178.32
3       spprev      0.00      0.00         0.00   17856.85   17856.85

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  33932.92  11356.75     45289.67       0.00  45289.67
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  33932.92  11356.75     45289.67       0.00  45289.67
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  116856.69  38951.94    155808.63  116856.69  272665.32
1            inss   23370.98   7790.07     31161.05   19015.05   50176.10
2         ac_trab     583.90    194.42       778.32     475.04    1253.36
3            fgts    9348.11   3115.78     12463.89    7605.78   20069.67
4       spprevcom       0.00      0.00         0.00    1720.43    1720.43
5  total_encargos   33302.99  11100.27     44403.26   28816.30   73219.56
6           total  150159.68  50052.21    200211.89  145672.99  345884.88

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  232353.20  77626.77    309979.97       0.00  309979.97
1  ferias_pecunia   29002.14      0.00     29002.14       0.00   29002.14
2    total_ferias  261355.34  77626.77    338982.11       0.00  338982.11
3            inss   52270.93  15525.21     67796.14       0.00   67796.14
4         ac_trab    1306.60    387.96      1694.56       0.00    1694.56
5            fgts   20908.27   6209.96     27118.23       0.00   27118.23
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   74485.80  22123.13     96608.93       0.00   96608.93
8           total  335841.14  99749.90    435591.04       0.00  435591.04

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  46119.78  15373.11     61492.89  116856.69  178349.58
1            inss   9223.74   3074.44     12298.18   19015.05   31313.23
2         ac_trab    230.40     76.68       307.08     475.04     782.12
3            fgts   3689.33   1229.66      4918.99    7605.78   12524.77
4       spprevcom      0.00      0.00         0.00    1720.43    1720.43
5  total_encargos  13143.47   4380.78     17524.25   28816.30   46340.55
6           total  59263.25  19753.89     79017.14  145672.99  224690.13

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  190618.43  54047.94    244666.37       0.00  244666.37
1            inss   38123.69  10809.58     48933.27       0.00   48933.27
2         ac_trab     953.10    270.22      1223.32       0.00    1223.32
3            fgts   15249.49   4323.84     19573.33       0.00   19573.33
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   54326.28  15403.64     69729.92       0.00   69729.92
6           total  244944.71  69451.58    314396.29       0.00  314396.29

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  148627.30  49542.04    198169.34  148627.30  346796.64
1    spprevcom       0.00      0.00         0.00     430.19     430.19
2        total  148627.30  49542.04    198169.34  149057.49  347226.83
3       spprev       0.00      0.00         0.00   35869.78   35869.78

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  130532.67  43814.92    174347.59       0.00  174347.59
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  130532.67  43814.92    174347.59       0.00  174347.59
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  18094.63   6031.15     24125.78  148627.30  172753.08
1    spprevcom      0.00      0.00         0.00     430.19     430.19
2        total  18094.63   6031.15     24125.78  149057.49  173183.27
3       spprev      0.00      0.00         0.00   35869.78   35869.78

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  103067.48  34355.88    137423.36       0.00  137423.36
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  103067.48  34355.88    137423.36       0.00  137423.36
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  219355.32  73118.04    292473.36  219355.32  511828.68
1            inss   43870.43  14623.08     58493.51   34615.27   93108.78
2         ac_trab    1096.08    364.98      1461.06     864.73    2325.79
3            fgts   17547.75   5848.71     23396.46   13845.73   37242.19
4       spprevcom       0.00      0.00         0.00    5011.61    5011.61
5  total_encargos   62514.26  20836.77     83351.03   54337.34  137688.37
6           total  281869.58  93954.81    375824.39  273692.66  649517.05

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  410251.03  137702.06    547953.09    2548.46  550501.55
1  ferias_pecunia  119409.13       0.00    119409.13       0.00  119409.13
2    total_ferias  529660.16  137702.06    667362.22    2548.46  669910.68
3            inss  105931.84   27540.18    133472.02       0.00  133472.02
4         ac_trab    2648.04     688.26      3336.30       0.00    3336.30
5            fgts   42372.56   11015.87     53388.43       0.00   53388.43
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  150952.44   39244.31    190196.75       0.00  190196.75
8           total  680612.60  176946.37    857558.97    2548.46  860107.43

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   85901.55  28633.61    114535.16  216806.86  331342.02
1            inss   17179.92   5726.41     22906.33   34615.27   57521.60
2         ac_trab     429.11    142.84       571.95     864.73    1436.68
3            fgts    6871.74   2290.26      9162.00   13845.73   23007.73
4       spprevcom       0.00      0.00         0.00    5011.61    5011.61
5  total_encargos   24480.77   8159.51     32640.28   54337.34   86977.62
6           total  110382.32  36793.12    147175.44  271144.20  418319.64

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  396206.39   93217.63    489424.02    -515.00  488909.02
1            inss   79241.33   18643.51     97884.84       0.00   97884.84
2         ac_trab    1981.07     466.12      2447.19       0.00    2447.19
3            fgts   31696.55    7457.42     39153.97       0.00   39153.97
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  112918.95   26567.05    139486.00       0.00  139486.00
6           total  509125.34  119784.68    628910.02    -515.00  628395.02

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  291366.81  97121.69    388488.50  291366.81  679855.31
1    spprevcom       0.00      0.00         0.00     680.52     680.52
2        total  291366.81  97121.69    388488.50  292047.33  680535.83
3       spprev       0.00      0.00         0.00   73338.93   73338.93

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  168050.21  57288.01    225338.22       0.00  225338.22
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  168050.21  57288.01    225338.22       0.00  225338.22
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  123316.60  41104.95    164421.55  291366.81  455788.36
1    spprevcom       0.00      0.00         0.00     680.52     680.52
2        total  123316.60  41104.95    164421.55  292047.33  456468.88
3       spprev       0.00      0.00         0.00   73338.93   73338.93

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  134834.11  44944.77    179778.88       0.00  179778.88
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  134834.11  44944.77    179778.88       0.00  179778.88
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   84968.00  28322.46    113290.46   84968.00  198258.46
1            inss   16993.36   5664.23     22657.59   12937.16   35594.75
2         ac_trab     424.56    141.32       565.88     323.16     889.04
3            fgts    6797.14   2265.49      9062.63    5174.64   14237.27
4       spprevcom       0.00      0.00         0.00    1620.66    1620.66
5  total_encargos   24215.06   8071.04     32286.10   20055.62   52341.72
6           total  109183.06  36393.50    145576.56  105023.62  250600.18

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  194099.77  65425.36    259525.13     625.67  260150.80
1  ferias_pecunia   46639.85      0.00     46639.85       0.00   46639.85
2    total_ferias  240739.62  65425.36    306164.98     625.67  306790.65
3            inss   48147.84  13085.00     61232.84       0.00   61232.84
4         ac_trab    1203.58    327.01      1530.59       0.00    1530.59
5            fgts   19259.05   5233.92     24492.97       0.00   24492.97
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   68610.47  18645.93     87256.40       0.00   87256.40
8           total  309350.09  84071.29    393421.38     625.67  394047.05

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  29349.95   9783.19     39133.14   84342.33  123475.47
1            inss   5869.83   1956.48      7826.31   12937.16   20763.47
2         ac_trab    146.57     48.72       195.29     323.16     518.45
3            fgts   2347.80    782.43      3130.23    5174.64    8304.87
4       spprevcom      0.00      0.00         0.00    1620.66    1620.66
5  total_encargos   8364.20   2787.63     11151.83   20055.62   31207.45
6           total  37714.15  12570.82     50284.97  104397.95  154682.92

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  185121.57  46886.09    232007.66     -16.19  231991.47
1            inss   37024.31   9377.25     46401.56       0.00   46401.56
2         ac_trab     925.59    234.41      1160.00       0.00    1160.00
3            fgts   14809.71   3750.86     18560.57       0.00   18560.57
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   52759.61  13362.52     66122.13       0.00   66122.13
6           total  237881.18  60248.61    298129.79     -16.19  298113.60

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  173605.60  57868.13    231473.73  173605.60  405079.33
1    spprevcom       0.00      0.00         0.00     645.39     645.39
2        total  173605.60  57868.13    231473.73  174250.99  405724.72
3       spprev       0.00      0.00         0.00   42369.41   42369.41

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  170294.60  58066.66    228361.26    1694.52  230055.78
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  170294.60  58066.66    228361.26    1694.52  230055.78
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                 ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  3311.00   1103.26      4414.26  171911.08  176325.34
1    spprevcom     0.00      0.00         0.00     645.39     645.39
2        total  3311.00   1103.26      4414.26  172556.47  176970.73
3       spprev     0.00      0.00         0.00   42369.41   42369.41

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  137193.24  45731.15    182924.39   -1133.31  181791.08
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  137193.24  45731.15    182924.39   -1133.31  181791.08
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  46980.60  15659.96     62640.56   46980.60  109621.16
1            inss   9395.88   3131.79     12527.67    7923.49   20451.16
2         ac_trab    234.62     77.99       312.61     197.80     510.41
3            fgts   3758.17   1252.49      5010.66    3169.22    8179.88
4       spprevcom      0.00      0.00         0.00     222.33     222.33
5  total_encargos  13388.67   4462.27     17850.94   11512.84   29363.78
6           total  60369.27  20122.23     80491.50   58493.44  138984.94

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   71778.16  25913.38     97691.54     847.91   98539.45
1  ferias_pecunia   10301.89      0.00     10301.89       0.00   10301.89
2    total_ferias   82080.05  25913.38    107993.43     847.91  108841.34
3            inss   16415.93   5182.58     21598.51       0.00   21598.51
4         ac_trab     410.28    129.47       539.75       0.00     539.75
5            fgts    6566.33   2072.97      8639.30       0.00    8639.30
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   23392.54   7385.02     30777.56       0.00   30777.56
8           total  105472.59  33298.40    138770.99     847.91  139618.90

'saldo'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  22912.47   7637.35     30549.82   46132.69  76682.51
1            inss   4582.34   1527.35      6109.69    7923.49  14033.18
2         ac_trab    114.38     37.99       152.37     197.80    350.17
3            fgts   1832.80    610.79      2443.59    3169.22   5612.81
4       spprevcom      0.00      0.00         0.00     222.33    222.33
5  total_encargos   6529.52   2176.13      8705.65   11512.84  20218.49
6           total  29441.99   9813.48     39255.47   57645.53  96901.00

'revertido'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  58011.92  17890.77     75902.69    -369.72  75532.97
1            inss  11602.39   3578.14     15180.53       0.00  15180.53
2         ac_trab    290.04     89.47       379.51       0.00    379.51
3            fgts   4640.96   1431.27      6072.23       0.00   6072.23
4       spprevcom      0.00      0.00         0.00       0.00      0.00
5  total_encargos  16533.39   5098.88     21632.27       0.00  21632.27
6           total  74545.31  22989.65     97534.96    -369.72  97165.24

'apropriado'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  74217.25  24738.94     98956.19   74217.25  173173.44
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  74217.25  24738.94     98956.19   74217.25  173173.44
3       spprev      0.00      0.00         0.00   13514.52   13514.52

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  33301.03  12202.65     45503.68       0.00  45503.68
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  33301.03  12202.65     45503.68       0.00  45503.68
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  40916.22  13559.34     54475.56   74217.25  128692.81
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  40916.22  13559.34     54475.56   74217.25  128692.81
3       spprev      0.00      0.00         0.00   13514.52   13514.52

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  26524.25   8920.69     35444.94       0.00  35444.94
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  26524.25   8920.69     35444.94       0.00  35444.94
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  143506.02  47834.97    191340.99  143506.02  334847.01
1            inss   28700.79   9566.55     38267.34   21695.45   59962.79
2         ac_trab     716.94    238.61       955.55     541.81    1497.36
3            fgts   11479.95   3826.29     15306.24    8677.77   23984.01
4       spprevcom       0.00      0.00         0.00    2522.46    2522.46
5  total_encargos   40897.68  13631.45     54529.13   33437.49   87966.62
6           total  184403.70  61466.42    245870.12  176943.51  422813.63

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  320104.19  107073.48    427177.67       0.00  427177.67
1  ferias_pecunia   80076.45       0.00     80076.45       0.00   80076.45
2    total_ferias  400180.64  107073.48    507254.12       0.00  507254.12
3            inss   80035.94   21414.48    101450.42       0.00  101450.42
4         ac_trab    2000.67     535.14      2535.81       0.00    2535.81
5            fgts   32014.20    8565.66     40579.86       0.00   40579.86
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  114050.81   30515.28    144566.09       0.00  144566.09
8           total  514231.45  137588.76    651820.21       0.00  651820.21

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  48660.42  16219.94     64880.36  143506.02  208386.38
1            inss   9731.84   3243.73     12975.57   21695.45   34671.02
2         ac_trab    242.97     80.80       323.77     541.81     865.58
3            fgts   3892.53   1297.32      5189.85    8677.77   13867.62
4       spprevcom      0.00      0.00         0.00    2522.46    2522.46
5  total_encargos  13867.34   4621.85     18489.19   33437.49   51926.68
6           total  62527.76  20841.79     83369.55  176943.51  260313.06

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  305335.04  75458.45    380793.49       0.00  380793.49
1            inss   61066.99  15091.66     76158.65       0.00   76158.65
2         ac_trab    1526.70    377.33      1904.03       0.00    1904.03
3            fgts   24426.78   6036.69     30463.47       0.00   30463.47
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   87020.47  21505.68    108526.15       0.00  108526.15
6           total  392355.51  96964.13    489319.64       0.00  489319.64

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  225166.57  75054.94    300221.51  225166.57  525388.08
1    spprevcom       0.00      0.00         0.00     273.34     273.34
2        total  225166.57  75054.94    300221.51  225439.91  525661.42
3       spprev       0.00      0.00         0.00   54570.79   54570.79

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  334499.35  112887.42    447386.77       0.00  447386.77
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  334499.35  112887.42    447386.77       0.00  447386.77
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  -91805.13  -30963.74   -122768.87  225166.57  102397.70
1    spprevcom       0.00       0.00         0.00     273.34     273.34
2        total  -91805.13  -30963.74   -122768.87  225439.91  102671.04
3       spprev       0.00       0.00         0.00   54570.79   54570.79

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  256981.79  86022.14    343003.93       0.00  343003.93
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  256981.79  86022.14    343003.93       0.00  343003.93
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  187615.35  62537.94    250153.29  187615.35  437768.64
1            inss   37522.41  12507.01     50029.42   31135.89   81165.31
2         ac_trab     937.31    311.89      1249.20     777.67    2026.87
3            fgts   15008.41   5002.30     20010.71   12453.91   32464.62
4       spprevcom       0.00      0.00         0.00    3379.55    3379.55
5  total_encargos   53468.13  17821.20     71289.33   47747.02  119036.35
6           total  241083.48  80359.14    321442.62  235362.37  556804.99

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  335633.49  112236.55    447870.04       0.00  447870.04
1  ferias_pecunia   31900.05       0.00     31900.05       0.00   31900.05
2    total_ferias  367533.54  112236.55    479770.09       0.00  479770.09
3            inss   73506.48   22447.09     95953.57       0.00   95953.57
4         ac_trab    1837.41     560.91      2398.32       0.00    2398.32
5            fgts   29402.46    8978.72     38381.18       0.00   38381.18
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  104746.35   31986.72    136733.07       0.00  136733.07
8           total  472279.89  144223.27    616503.16       0.00  616503.16

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   90562.48  30187.16    120749.64  187615.35  308364.99
1            inss   18112.04   6037.04     24149.08   31135.89   55284.97
2         ac_trab     452.29    150.41       602.70     777.67    1380.37
3            fgts    7244.44   2414.46      9658.90   12453.91   22112.81
4       spprevcom       0.00      0.00         0.00    3379.55    3379.55
5  total_encargos   25808.77   8601.91     34410.68   47747.02   82157.70
6           total  116371.25  38789.07    155160.32  235362.37  390522.69

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  270480.67   79885.77    350366.44       0.00  350366.44
1            inss   54096.11   15977.12     70073.23       0.00   70073.23
2         ac_trab    1352.39     399.43      1751.82       0.00    1751.82
3            fgts   21638.49    6390.88     28029.37       0.00   28029.37
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos   77086.99   22767.43     99854.42       0.00   99854.42
6           total  347567.66  102653.20    450220.86       0.00  450220.86

'apropriado'

                   ferias  13_ferias total_ferias 13_salario       total
0  apropriacao  905647.15  301880.00   1207527.15  905647.15  2113174.30
1    spprevcom       0.00       0.00         0.00     914.74      914.74
2        total  905647.15  301880.00   1207527.15  906561.89  2114089.04
3       spprev       0.00       0.00         0.00  221589.73   221589.73

'realizado'

                   ferias  13_ferias total_ferias 13_salario       total
0  apropriacao  836019.12  283186.54   1119205.66       0.00  1119205.66
1    spprevcom       0.00       0.00         0.00       0.00        0.00
2        total  836019.12  283186.54   1119205.66       0.00  1119205.66
3       spprev       0.00       0.00         0.00       0.00        0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario       total
0  apropriacao  149354.72  49466.19    198820.91  905647.15  1104468.06
1    spprevcom       0.00      0.00         0.00     914.74      914.74
2        total  149354.72  49466.19    198820.91  906561.89  1105382.80
3       spprev       0.00      0.00         0.00  221589.73   221589.73

'revertido'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  622803.67  207917.89    830721.56       0.00  830721.56
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  622803.67  207917.89    830721.56       0.00  830721.56
3       spprev       0.00       0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   94930.57  31643.24    126573.81   94930.57  221504.38
1            inss   18985.75   6328.29     25314.04   14878.36   40192.40
2         ac_trab     474.23    157.76       631.99     371.57    1003.56
3            fgts    7593.98   2531.04     10125.02    5951.03   16076.05
4       spprevcom       0.00      0.00         0.00    1525.55    1525.55
5  total_encargos   27053.96   9017.09     36071.05   22726.51   58797.56
6           total  121984.53  40660.33    162644.86  117657.08  280301.94

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  185345.61  63760.20    249105.81       0.00  249105.81
1  ferias_pecunia   52584.23      0.00     52584.23       0.00   52584.23
2    total_ferias  237929.84  63760.20    301690.04       0.00  301690.04
3            inss   47585.86  12751.92     60337.78       0.00   60337.78
4         ac_trab    1189.46    318.63      1508.09       0.00    1508.09
5            fgts   19034.24   5100.66     24134.90       0.00   24134.90
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   67809.56  18171.21     85980.77       0.00   85980.77
8           total  305739.40  81931.41    387670.81       0.00  387670.81

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  35139.67  11713.07     46852.74   94930.57  141783.31
1            inss   7027.68   2342.40      9370.08   14878.36   24248.44
2         ac_trab    175.46     58.30       233.76     371.57     605.33
3            fgts   2810.86    936.76      3747.62    5951.03    9698.65
4       spprevcom      0.00      0.00         0.00    1525.55    1525.55
5  total_encargos  10014.00   3337.46     13351.46   22726.51   36077.97
6           total  45153.67  15050.53     60204.20  117657.08  177861.28

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  178138.94  43830.03    221968.97       0.00  221968.97
1            inss   35627.79   8766.03     44393.82       0.00   44393.82
2         ac_trab     890.69    219.17      1109.86       0.00    1109.86
3            fgts   14251.12   3506.38     17757.50       0.00   17757.50
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   50769.60  12491.58     63261.18       0.00   63261.18
6           total  228908.54  56321.61    285230.15       0.00  285230.15

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  244015.17  81337.88    325353.05  244015.17  569368.22
1    spprevcom       0.00      0.00         0.00      48.50      48.50
2        total  244015.17  81337.88    325353.05  244063.67  569416.72
3       spprev       0.00      0.00         0.00   56899.77   56899.77

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  211175.89  71850.99    283026.88       0.00  283026.88
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  211175.89  71850.99    283026.88       0.00  283026.88
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  72650.31  24216.25     96866.56  244015.17  340881.73
1    spprevcom      0.00      0.00         0.00      48.50      48.50
2        total  72650.31  24216.25     96866.56  244063.67  340930.23
3       spprev      0.00      0.00         0.00   56899.77   56899.77

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  137175.28  45725.16    182900.44       0.00  182900.44
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  137175.28  45725.16    182900.44       0.00  182900.44
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  170718.80  56905.93    227624.73  170718.80  398343.53
1            inss   34143.27  11380.72     45523.99   26323.03   71847.02
2         ac_trab     853.11    284.01      1137.12     657.56    1794.68
3            fgts   13656.94   4551.90     18208.84   10528.93   28737.77
4       spprevcom       0.00      0.00         0.00    3428.84    3428.84
5  total_encargos   48653.32  16216.63     64869.95   40938.36  105808.31
6           total  219372.12  73122.56    292494.68  211657.16  504151.84

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  309937.77  103377.92    413315.69       0.00  413315.69
1  ferias_pecunia  155940.30       0.00    155940.30       0.00  155940.30
2    total_ferias  465878.07  103377.92    569255.99       0.00  569255.99
3            inss   93175.42   20675.40    113850.82       0.00  113850.82
4         ac_trab    2329.17     516.69      2845.86       0.00    2845.86
5            fgts   37270.03    8270.00     45540.03       0.00   45540.03
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  132774.62   29462.09    162236.71       0.00  162236.71
8           total  598652.69  132840.01    731492.70       0.00  731492.70

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  58048.81  19349.41     77398.22  170718.80  248117.02
1            inss  11609.46   3869.63     15479.09   26323.03   41802.12
2         ac_trab    289.96     96.43       386.39     657.56    1043.95
3            fgts   4643.59   1547.62      6191.21   10528.93   16720.14
4       spprevcom      0.00      0.00         0.00    3428.84    3428.84
5  total_encargos  16543.01   5513.68     22056.69   40938.36   62995.05
6           total  74591.82  24863.09     99454.91  211657.16  311112.07

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  353208.08  65821.40    419029.48       0.00  419029.48
1            inss   70641.61  13164.31     83805.92       0.00   83805.92
2         ac_trab    1766.02    329.11      2095.13       0.00    2095.13
3            fgts   28256.68   5265.72     33522.40       0.00   33522.40
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  100664.31  18759.14    119423.45       0.00  119423.45
6           total  453872.39  84580.54    538452.93       0.00  538452.93

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  291362.03  97120.11    388482.14  291362.03  679844.17
1    spprevcom       0.00      0.00         0.00    1494.07    1494.07
2        total  291362.03  97120.11    388482.14  292856.10  681338.24
3       spprev       0.00      0.00         0.00   70269.75   70269.75

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  278948.27  93904.96    372853.23       0.00  372853.23
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  278948.27  93904.96    372853.23       0.00  372853.23
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  24351.34   8115.28     32466.62  291362.03  323828.65
1    spprevcom      0.00      0.00         0.00    1494.07    1494.07
2        total  24351.34   8115.28     32466.62  292856.10  325322.72
3       spprev      0.00      0.00         0.00   70269.75   70269.75

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  216090.87  72031.63    288122.50       0.00  288122.50
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  216090.87  72031.63    288122.50       0.00  288122.50
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   98669.25  32889.58    131558.83   98669.25  230228.08
1            inss   19733.56   6577.63     26311.19   14565.91   40877.10
2         ac_trab    1768.18    589.15      2357.33    1305.07    3662.40
3            fgts    7893.23   2630.78     10524.01    5826.17   16350.18
4       spprevcom       0.00      0.00         0.00    1782.31    1782.31
5  total_encargos   29394.97   9797.56     39192.53   23479.46   62671.99
6           total  128064.22  42687.14    170751.36  122148.71  292900.07

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  223933.32  74889.28    298822.60       0.00  298822.60
1  ferias_pecunia   81483.65      0.00     81483.65       0.00   81483.65
2    total_ferias  305416.97  74889.28    380306.25       0.00  380306.25
3            inss   61083.23  14977.68     76060.91       0.00   76060.91
4         ac_trab    5474.11   1342.16      6816.27       0.00    6816.27
5            fgts   24433.20   5990.95     30424.15       0.00   30424.15
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   90990.54  22310.79    113301.33       0.00  113301.33
8           total  396407.51  97200.07    493607.58       0.00  493607.58

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  28809.33   9603.02     38412.35   98669.25  137081.60
1            inss   5761.71   1920.47      7682.18   14565.91   22248.09
2         ac_trab    516.21    171.95       688.16    1305.07    1993.23
3            fgts   2304.60    768.02      3072.62    5826.17    8898.79
4       spprevcom      0.00      0.00         0.00    1782.31    1782.31
5  total_encargos   8582.52   2860.44     11442.96   23479.46   34922.42
6           total  37391.85  12463.46     49855.31  122148.71  172004.02

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  235557.05  51602.72    287159.77       0.00  287159.77
1            inss   47111.38  10320.52     57431.90       0.00   57431.90
2         ac_trab    4222.14    924.96      5147.10       0.00    5147.10
3            fgts   18844.57   4128.19     22972.76       0.00   22972.76
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   70178.09  15373.67     85551.76       0.00   85551.76
6           total  305735.14  66976.39    372711.53       0.00  372711.53

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  30183.02  10060.94     40243.96   30183.02  70426.98
1    spprevcom      0.00      0.00         0.00     407.76    407.76
2        total  30183.02  10060.94     40243.96   30590.78  70834.74
3       spprev      0.00      0.00         0.00    6651.14   6651.14

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  11092.96   3697.65     14790.61       0.00  14790.61
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  11092.96   3697.65     14790.61       0.00  14790.61
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  19090.06   6363.29     25453.35   30183.02  55636.37
1    spprevcom      0.00      0.00         0.00     407.76    407.76
2        total  19090.06   6363.29     25453.35   30590.78  56044.13
3       spprev      0.00      0.00         0.00    6651.14   6651.14

'revertido'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  8936.00   2978.67     11914.67       0.00  11914.67
1    spprevcom     0.00      0.00         0.00       0.00      0.00
2        total  8936.00   2978.67     11914.67       0.00  11914.67
3       spprev     0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  114898.89  38299.33    153198.22  114898.89  268097.11
1            inss   22979.43   7659.56     30638.99   16478.38   47117.37
2         ac_trab     574.08    191.12       765.20     411.57    1176.77
3            fgts    9191.48   3063.53     12255.01    6591.11   18846.12
4       spprevcom       0.00      0.00         0.00    1154.81    1154.81
5  total_encargos   32744.99  10914.21     43659.20   24635.87   68295.07
6           total  147643.88  49213.54    196857.42  139534.76  336392.18

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  284593.34   95018.56    379611.90       0.00  379611.90
1  ferias_pecunia   93198.78       0.00     93198.78       0.00   93198.78
2    total_ferias  377792.12   95018.56    472810.68       0.00  472810.68
3            inss   75558.21   19003.51     94561.72       0.00   94561.72
4         ac_trab    1888.71     474.87      2363.58       0.00    2363.58
5            fgts   30223.15    7601.27     37824.42       0.00   37824.42
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  107670.07   27079.65    134749.72       0.00  134749.72
8           total  485462.19  122098.21    607560.40       0.00  607560.40

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  30005.14  10001.58     40006.72  114898.89  154905.61
1            inss   6000.86   2000.15      8001.01   16478.38   24479.39
2         ac_trab    149.87     49.85       199.72     411.57     611.29
3            fgts   2400.25    799.94      3200.19    6591.11    9791.30
4       spprevcom      0.00      0.00         0.00    1154.81    1154.81
5  total_encargos   8550.98   2849.94     11400.92   24635.87   36036.79
6           total  38556.12  12851.52     51407.64  139534.76  190942.40

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  292898.37  66720.81    359619.18       0.00  359619.18
1            inss   58579.64  13344.10     71923.74       0.00   71923.74
2         ac_trab    1464.50    333.60      1798.10       0.00    1798.10
3            fgts   23431.92   5337.68     28769.60       0.00   28769.60
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   83476.06  19015.38    102491.44       0.00  102491.44
6           total  376374.43  85736.19    462110.62       0.00  462110.62

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  163152.68  54383.83    217536.51  163152.68  380689.19
1    spprevcom       0.00      0.00         0.00     152.63     152.63
2        total  163152.68  54383.83    217536.51  163305.31  380841.82
3       spprev       0.00      0.00         0.00   39140.04   39140.04

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  221075.47  75391.35    296466.82       0.00  296466.82
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  221075.47  75391.35    296466.82       0.00  296466.82
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario     total
0  apropriacao  -57922.79  -20133.54    -78056.33  163152.68  85096.35
1    spprevcom       0.00       0.00         0.00     152.63    152.63
2        total  -57922.79  -20133.54    -78056.33  163305.31  85248.98
3       spprev       0.00       0.00         0.00   39140.04  39140.04

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  176859.58  59778.80    236638.38       0.00  236638.38
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  176859.58  59778.80    236638.38       0.00  236638.38
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  143952.90  47983.89    191936.79  143952.90  335889.69
1            inss   28789.97   9596.24     38386.21   24728.90   63115.11
2         ac_trab    1976.30    658.33      2634.63    1697.41    4332.04
3            fgts   11515.51   3838.07     15353.58    9891.15   25244.73
4       spprevcom       0.00      0.00         0.00    2661.65    2661.65
5  total_encargos   42281.78  14092.64     56374.42   38979.11   95353.53
6           total  186234.68  62076.53    248311.21  182932.01  431243.22

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  199610.18  66597.41    266207.59    1560.03  267767.62
1  ferias_pecunia   26950.98      0.00     26950.98       0.00   26950.98
2    total_ferias  226561.16  66597.41    293158.57    1560.03  294718.60
3            inss   45312.12  13319.36     58631.48       0.00   58631.48
4         ac_trab    3111.42    914.48      4025.90       0.00    4025.90
5            fgts   18124.78   5327.63     23452.41       0.00   23452.41
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   66548.32  19561.47     86109.79       0.00   86109.79
8           total  293109.48  86158.88    379268.36    1560.03  380828.39

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   87532.40  29177.16    116709.56  142392.87  259102.43
1            inss   17506.00   5835.02     23341.02   24728.90   48069.92
2         ac_trab    1201.57    400.19      1601.76    1697.41    3299.17
3            fgts    7002.05   2333.67      9335.72    9891.15   19226.87
4       spprevcom       0.00      0.00         0.00    2661.65    2661.65
5  total_encargos   25709.62   8568.88     34278.50   38979.11   73257.61
6           total  113242.02  37746.04    150988.06  181371.98  332360.04

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  170140.66  47790.68    217931.34   -1862.85  216068.49
1            inss   34028.15   9558.14     43586.29       0.00   43586.29
2         ac_trab    2336.69    656.34      2993.03       0.00    2993.03
3            fgts   13611.32   3823.23     17434.55       0.00   17434.55
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   49976.16  14037.71     64013.87       0.00   64013.87
6           total  220116.82  61828.39    281945.21   -1862.85  280082.36

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  276624.01  92207.32    368831.33  276624.01  645455.34
1    spprevcom       0.00      0.00         0.00     732.54     732.54
2        total  276624.01  92207.32    368831.33  277356.55  646187.88
3       spprev       0.00      0.00         0.00   61449.82   61449.82

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  659609.27  220952.75    880562.02    2316.79  882878.81
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  659609.27  220952.75    880562.02    2316.79  882878.81
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                    ferias   13_ferias total_ferias 13_salario       total
0  apropriacao  -382985.26  -127826.34   -510811.60  274307.22  -236504.38
1    spprevcom        0.00        0.00         0.00     732.54      732.54
2        total  -382985.26  -127826.34   -510811.60  275039.76  -235771.84
3       spprev        0.00        0.00         0.00   61449.82    61449.82

'revertido'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  523009.82  174500.80    697510.62    -161.44  697349.18
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  523009.82  174500.80    697510.62    -161.44  697349.18
3       spprev       0.00       0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  189514.62  63171.04    252685.66  189514.62  442200.28
1            inss   37902.34  12633.60     50535.94   28224.50   78760.44
2         ac_trab     946.83    315.06      1261.89     704.83    1966.72
3            fgts   15160.42   5053.00     20213.42   11289.33   31502.75
4       spprevcom       0.00      0.00         0.00    3096.77    3096.77
5  total_encargos   54009.59  18001.66     72011.25   43315.43  115326.68
6           total  243524.21  81172.70    324696.91  232830.05  557526.96

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  431965.15  144891.80    576856.95       0.00  576856.95
1  ferias_pecunia  119238.38       0.00    119238.38       0.00  119238.38
2    total_ferias  551203.53  144891.80    696095.33       0.00  696095.33
3            inss  110240.41   28978.11    139218.52       0.00  139218.52
4         ac_trab    2755.66     724.12      3479.78       0.00    3479.78
5            fgts   44095.98   11591.05     55687.03       0.00   55687.03
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  157092.05   41293.28    198385.33       0.00  198385.33
8           total  708295.58  186185.08    894480.66       0.00  894480.66

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  60395.37  20131.51     80526.88  189514.62  270041.50
1            inss  12078.73   4025.96     16104.69   28224.50   44329.19
2         ac_trab    301.57    100.25       401.82     704.83    1106.65
3            fgts   4831.21   1610.16      6441.37   11289.33   17730.70
4       spprevcom      0.00      0.00         0.00    3096.77    3096.77
5  total_encargos  17211.51   5736.37     22947.88   43315.43   66263.31
6           total  77606.88  25867.88    103474.76  232830.05  336304.81

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  422084.28  101852.27    523936.55       0.00  523936.55
1            inss   84416.80   20370.47    104787.27       0.00  104787.27
2         ac_trab    2110.40     509.31      2619.71       0.00    2619.71
3            fgts   33766.77    8148.21     41914.98       0.00   41914.98
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  120293.97   29027.99    149321.96       0.00  149321.96
6           total  542378.25  130880.26    673258.51       0.00  673258.51

'apropriado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  424599.63  141532.21    566131.84  424599.63  990731.47
1    spprevcom       0.00       0.00         0.00     832.38     832.38
2        total  424599.63  141532.21    566131.84  425432.01  991563.85
3       spprev       0.00       0.00         0.00  104634.42  104634.42

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  272527.70  95445.84    367973.54       0.00  367973.54
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  272527.70  95445.84    367973.54       0.00  367973.54
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  152071.93  48959.29    201031.22  424599.63  625630.85
1    spprevcom       0.00      0.00         0.00     832.38     832.38
2        total  152071.93  48959.29    201031.22  425432.01  626463.23
3       spprev       0.00      0.00         0.00  104634.42  104634.42

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  219831.74  75007.74    294839.48       0.00  294839.48
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  219831.74  75007.74    294839.48       0.00  294839.48
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   87749.67  29249.77    116999.44   87749.67  204749.11
1            inss   17549.67   5849.70     23399.37   12930.60   36329.97
2         ac_trab     438.47    145.98       584.45     322.98     907.43
3            fgts    7019.69   2339.69      9359.38    5172.05   14531.43
4       spprevcom       0.00      0.00         0.00    1509.51    1509.51
5  total_encargos   25007.83   8335.37     33343.20   19935.14   53278.34
6           total  112757.50  37585.14    150342.64  107684.81  258027.45

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  195990.33  65567.23    261557.56       0.00  261557.56
1  ferias_pecunia   70012.00      0.00     70012.00       0.00   70012.00
2    total_ferias  266002.33  65567.23    331569.56       0.00  331569.56
3            inss   53200.36  13113.31     66313.67       0.00   66313.67
4         ac_trab    1329.88    327.66      1657.54       0.00    1657.54
5            fgts   21280.05   5245.20     26525.25       0.00   26525.25
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   75810.29  18686.17     94496.46       0.00   94496.46
8           total  341812.62  84253.40    426066.02       0.00  426066.02

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  26971.62   8990.49     35962.11   87749.67  123711.78
1            inss   5394.18   1797.97      7192.15   12930.60   20122.75
2         ac_trab    134.72     44.82       179.54     322.98     502.52
3            fgts   2157.58    719.07      2876.65    5172.05    8048.70
4       spprevcom      0.00      0.00         0.00    1509.51    1509.51
5  total_encargos   7686.48   2561.86     10248.34   19935.14   30183.48
6           total  34658.10  11552.35     46210.45  107684.81  153895.26

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  205224.28  45307.95    250532.23       0.00  250532.23
1            inss   41044.87   9061.58     50106.45       0.00   50106.45
2         ac_trab    1026.13    226.50      1252.63       0.00    1252.63
3            fgts   16417.94   3624.58     20042.52       0.00   20042.52
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   58488.94  12912.66     71401.60       0.00   71401.60
6           total  263713.22  58220.61    321933.83       0.00  321933.83

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10103.45   3367.80     13471.25   10103.45  23574.70
1    spprevcom      0.00      0.00         0.00     161.85    161.85
2        total  10103.45   3367.80     13471.25   10265.30  23736.55
3       spprev      0.00      0.00         0.00    1551.93   1551.93

'realizado'

                 ferias 13_ferias total_ferias 13_salario    total
0  apropriacao  7100.73   2366.91      9467.64       0.00  9467.64
1    spprevcom     0.00      0.00         0.00       0.00     0.00
2        total  7100.73   2366.91      9467.64       0.00  9467.64
3       spprev     0.00      0.00         0.00       0.00     0.00

'saldo'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  3002.72   1000.89      4003.61   10103.45  14107.06
1    spprevcom     0.00      0.00         0.00     161.85    161.85
2        total  3002.72   1000.89      4003.61   10265.30  14268.91
3       spprev     0.00      0.00         0.00    1551.93   1551.93

'revertido'

                 ferias 13_ferias total_ferias 13_salario    total
0  apropriacao  5523.83   1841.28      7365.11       0.00  7365.11
1    spprevcom     0.00      0.00         0.00       0.00     0.00
2        total  5523.83   1841.28      7365.11       0.00  7365.11
3       spprev     0.00      0.00         0.00       0.00     0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  196286.92  65428.51    261715.43  196286.92  458002.35
1            inss   39256.74  13085.05     52341.79   30611.68   82953.47
2         ac_trab     980.68    326.39      1307.07     764.51    2071.58
3            fgts   15702.19   5233.50     20935.69   12244.19   33179.88
4       spprevcom       0.00      0.00         0.00    3237.11    3237.11
5  total_encargos   55939.61  18644.94     74584.55   46857.49  121442.04
6           total  252226.53  84073.45    336299.98  243144.41  579444.39

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  426328.06  143253.05    569581.11       0.00  569581.11
1  ferias_pecunia   78312.00       0.00     78312.00       0.00   78312.00
2    total_ferias  504640.06  143253.05    647893.11       0.00  647893.11
3            inss  100927.76   28650.31    129578.07       0.00  129578.07
4         ac_trab    2522.88     715.94      3238.82       0.00    3238.82
5            fgts   40370.88   11459.89     51830.77       0.00   51830.77
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  143821.52   40826.14    184647.66       0.00  184647.66
8           total  648461.58  184079.19    832540.77       0.00  832540.77

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  65210.57  21736.57     86947.14  196286.92  283234.06
1            inss  13041.73   4346.94     17388.67   30611.68   48000.35
2         ac_trab    325.63    108.29       433.92     764.51    1198.43
3            fgts   5216.38   1738.45      6954.83   12244.19   19199.02
4       spprevcom      0.00      0.00         0.00    3237.11    3237.11
5  total_encargos  18583.74   6193.68     24777.42   46857.49   71634.91
6           total  83794.31  27930.25    111724.56  243144.41  354868.97

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  373563.71   99561.11    473124.82       0.00  473124.82
1            inss   74712.75   19912.20     94624.95       0.00   94624.95
2         ac_trab    1867.83     497.84      2365.67       0.00    2365.67
3            fgts   29885.07    7964.84     37849.91       0.00   37849.91
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  106465.65   28374.88    134840.53       0.00  134840.53
6           total  480029.36  127935.99    607965.35       0.00  607965.35

'apropriado'

                   ferias  13_ferias total_ferias 13_salario       total
0  apropriacao  578005.45  192667.18    770672.63  578005.45  1348678.08
1    spprevcom       0.00       0.00         0.00    1197.15     1197.15
2        total  578005.45  192667.18    770672.63  579202.60  1349875.23
3       spprev       0.00       0.00         0.00  133055.10   133055.10

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  529887.22  181198.81    711086.03       0.00  711086.03
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  529887.22  181198.81    711086.03       0.00  711086.03
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  48118.23  15349.22     63467.45  578005.45  641472.90
1    spprevcom      0.00      0.00         0.00    1197.15    1197.15
2        total  48118.23  15349.22     63467.45  579202.60  642670.05
3       spprev      0.00      0.00         0.00  133055.10  133055.10

'revertido'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  412306.63  138124.65    550431.28       0.00  550431.28
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  412306.63  138124.65    550431.28       0.00  550431.28
3       spprev       0.00       0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  264701.41   88233.25    352934.66  264701.41  617636.07
1            inss   52939.61   17646.03     70585.64   38345.85  108931.49
2         ac_trab    3788.61    1262.32      5050.93    2743.99    7794.92
3            fgts   21175.33    7057.89     28233.22   15337.90   43571.12
4       spprevcom       0.00       0.00         0.00    3227.92    3227.92
5  total_encargos   77903.55   25966.24    103869.79   59655.66  163525.45
6           total  342604.96  114199.49    456804.45  324357.07  781161.52

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  499750.21  167114.56    666864.77       0.00   666864.77
1  ferias_pecunia  224419.12       0.00    224419.12       0.00   224419.12
2    total_ferias  724169.33  167114.56    891283.89       0.00   891283.89
3            inss  144833.58   33422.60    178256.18       0.00   178256.18
4         ac_trab   10366.86    2392.03     12758.89       0.00    12758.89
5            fgts   57933.19   13368.84     71302.03       0.00    71302.03
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  213133.63   49183.47    262317.10       0.00   262317.10
8           total  937302.96  216298.03   1153600.99       0.00  1153600.99

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  104065.49  34688.21    138753.70  264701.41  403455.11
1            inss   20812.72   6937.29     27750.01   38345.85   66095.86
2         ac_trab    1489.34    496.14      1985.48    2743.99    4729.47
3            fgts    8324.86   2774.68     11099.54   15337.90   26437.44
4       spprevcom       0.00      0.00         0.00    3227.92    3227.92
5  total_encargos   30626.92  10208.11     40835.03   59655.66  100490.69
6           total  134692.41  44896.32    179588.73  324357.07  503945.80

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  563533.41  113569.52    677102.93       0.00  677102.93
1            inss  112706.69   22713.86    135420.55       0.00  135420.55
2         ac_trab    8067.59    1625.85      9693.44       0.00    9693.44
3            fgts   45082.72    9085.63     54168.35       0.00   54168.35
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  165857.00   33425.34    199282.34       0.00  199282.34
6           total  729390.41  146994.86    876385.27       0.00  876385.27

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  244850.11  81616.23    326466.34  244850.11  571316.45
1    spprevcom       0.00      0.00         0.00     381.61     381.61
2        total  244850.11  81616.23    326466.34  245231.72  571698.06
3       spprev       0.00      0.00         0.00   58742.58   58742.58

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  307388.77  102830.11    410218.88       0.00  410218.88
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  307388.77  102830.11    410218.88       0.00  410218.88
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  -62538.66  -20846.70    -83385.36  244850.11  161464.75
1    spprevcom       0.00       0.00         0.00     381.61     381.61
2        total  -62538.66  -20846.70    -83385.36  245231.72  161846.36
3       spprev       0.00       0.00         0.00   58742.58   58742.58

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  249942.32  83314.20    333256.52       0.00  333256.52
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  249942.32  83314.20    333256.52       0.00  333256.52
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  60733.80  20244.47     80978.27   60733.80  141712.07
1            inss  12146.58   4048.72     16195.30    8853.33   25048.63
2         ac_trab    303.48    101.06       404.54     221.17     625.71
3            fgts   4858.52   1619.36      6477.88    3541.22   10019.10
4       spprevcom      0.00      0.00         0.00    1211.73    1211.73
5  total_encargos  17308.58   5769.14     23077.72   13827.45   36905.17
6           total  78042.38  26013.61    104055.99   74561.25  178617.24

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  149133.01  49815.37    198948.38       0.00  198948.38
1  ferias_pecunia   48462.42      0.00     48462.42       0.00   48462.42
2    total_ferias  197595.43  49815.37    247410.80       0.00  247410.80
3            inss   39518.99   9963.01     49482.00       0.00   49482.00
4         ac_trab     987.88    248.96      1236.84       0.00    1236.84
5            fgts   15807.51   3985.14     19792.65       0.00   19792.65
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   56314.38  14197.11     70511.49       0.00   70511.49
8           total  253909.81  64012.48    317922.29       0.00  317922.29

'saldo'

                     ferias 13_ferias total_ferias 13_salario     total
0     apropriacao  12767.75   4255.86     17023.61   60733.80  77757.41
1            inss   2553.47    851.09      3404.56    8853.33  12257.89
2         ac_trab     63.76     21.21        84.97     221.17    306.14
3            fgts   1021.32    340.37      1361.69    3541.22   4902.91
4       spprevcom      0.00      0.00         0.00    1211.73   1211.73
5  total_encargos   3638.55   1212.67      4851.22   13827.45  18678.67
6           total  16406.30   5468.53     21874.83   74561.25  96436.08

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  149629.38  33826.76    183456.14       0.00  183456.14
1            inss   29925.88   6765.38     36691.26       0.00   36691.26
2         ac_trab     748.16    169.11       917.27       0.00     917.27
3            fgts   11970.31   2706.15     14676.46       0.00   14676.46
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   42644.35   9640.64     52284.99       0.00   52284.99
6           total  192273.73  43467.40    235741.13       0.00  235741.13

'apropriado'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  9056.09   3018.68     12074.77    9056.09  21130.86
1    spprevcom     0.00      0.00         0.00       0.00      0.00
2        total  9056.09   3018.68     12074.77    9056.09  21130.86
3       spprev     0.00      0.00         0.00    2262.99   2262.99

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  19318.60   6439.53     25758.13       0.00  25758.13
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  19318.60   6439.53     25758.13       0.00  25758.13
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  -10262.51  -3420.85    -13683.36    9056.09  -4627.27
1    spprevcom       0.00      0.00         0.00       0.00      0.00
2        total  -10262.51  -3420.85    -13683.36    9056.09  -4627.27
3       spprev       0.00      0.00         0.00    2262.99   2262.99

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  15464.46   5154.82     20619.28       0.00  20619.28
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  15464.46   5154.82     20619.28       0.00  20619.28
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  266995.46   88997.98    355993.44  266995.46  622988.90
1            inss   53398.40   17798.89     71197.29   38516.42  109713.71
2         ac_trab    1334.26     444.24      1778.50     962.20    2740.70
3            fgts   21358.88    7119.03     28477.91   15406.04   43883.95
4       spprevcom       0.00       0.00         0.00    5336.75    5336.75
5  total_encargos   76091.54   25362.16    101453.70   60221.41  161675.11
6           total  343087.00  114360.14    457447.14  327216.87  784664.01

'realizado'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   626183.28  211115.76    837299.04       0.00   837299.04
1  ferias_pecunia   262699.86       0.00    262699.86       0.00   262699.86
2    total_ferias   888883.14  211115.76   1099998.90       0.00  1099998.90
3            inss   177776.24   42222.79    219999.03       0.00   219999.03
4         ac_trab     4443.98    1055.20      5499.18       0.00     5499.18
5            fgts    71110.30   16888.89     87999.19       0.00    87999.19
6       spprevcom        0.00       0.00         0.00       0.00        0.00
7  total_encargos   253330.52   60166.88    313497.40       0.00   313497.40
8           total  1142213.66  271282.64   1413496.30       0.00  1413496.30

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  71440.66  23813.34     95254.00  266995.46  362249.46
1            inss  14287.78   4762.34     19050.12   38516.42   57566.54
2         ac_trab    356.88    118.72       475.60     962.20    1437.80
3            fgts   5714.85   1904.68      7619.53   15406.04   23025.57
4       spprevcom      0.00      0.00         0.00    5336.75    5336.75
5  total_encargos  20359.51   6785.74     27145.25   60221.41   87366.66
6           total  91800.17  30599.08    122399.25  327216.87  449616.12

'revertido'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  693328.34  145931.12    839259.46       0.00   839259.46
1            inss  138665.62   29186.24    167851.86       0.00   167851.86
2         ac_trab    3466.60     729.68      4196.28       0.00     4196.28
3            fgts   55466.27   11674.54     67140.81       0.00    67140.81
4       spprevcom       0.00       0.00         0.00       0.00        0.00
5  total_encargos  197598.49   41590.46    239188.95       0.00   239188.95
6           total  890926.83  187521.58   1078448.41       0.00  1078448.41

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  274398.48  91465.53    365864.01  274398.48  640262.49
1    spprevcom       0.00      0.00         0.00    1165.71    1165.71
2        total  274398.48  91465.53    365864.01  275564.19  641428.20
3       spprev       0.00      0.00         0.00   66925.82   66925.82

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  249879.80  85663.62    335543.42       0.00  335543.42
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  249879.80  85663.62    335543.42       0.00  335543.42
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  24518.68   8150.77     32669.45  274398.48  307067.93
1    spprevcom      0.00      0.00         0.00    1165.71    1165.71
2        total  24518.68   8150.77     32669.45  275564.19  308233.64
3       spprev      0.00      0.00         0.00   66925.82   66925.82

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  201019.31  67028.01    268047.32       0.00  268047.32
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  201019.31  67028.01    268047.32       0.00  268047.32
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  113603.32  37867.49    151470.81  113603.32  265074.13
1            inss   22720.37   7573.23     30293.60   16240.79   46534.39
2         ac_trab     567.67    188.96       756.63     405.65    1162.28
3            fgts    9087.91   3029.07     12116.98    6496.04   18613.02
4       spprevcom       0.00      0.00         0.00    2346.59    2346.59
5  total_encargos   32375.95  10791.26     43167.21   25489.07   68656.28
6           total  145979.27  48658.75    194638.02  139092.39  333730.41

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  272164.83   90799.02    362963.85       0.00  362963.85
1  ferias_pecunia  106547.80       0.00    106547.80       0.00  106547.80
2    total_ferias  378712.63   90799.02    469511.65       0.00  469511.65
3            inss   75742.35   18159.62     93901.97       0.00   93901.97
4         ac_trab    1893.35     453.82      2347.17       0.00    2347.17
5            fgts   30296.82    7263.72     37560.54       0.00   37560.54
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  107932.52   25877.16    133809.68       0.00  133809.68
8           total  486645.15  116676.18    603321.33       0.00  603321.33

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  26987.44   8995.66     35983.10  113603.32  149586.42
1            inss   5397.36   1799.01      7196.37   16240.79   23437.16
2         ac_trab    134.76     44.79       179.55     405.65     585.20
3            fgts   2158.82    719.50      2878.32    6496.04    9374.36
4       spprevcom      0.00      0.00         0.00    2346.59    2346.59
5  total_encargos   7690.94   2563.30     10254.24   25489.07   35743.31
6           total  34678.38  11558.96     46237.34  139092.39  185329.73

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  292096.75  61927.19    354023.94       0.00  354023.94
1            inss   58419.34  12385.40     70804.74       0.00   70804.74
2         ac_trab    1460.44    309.65      1770.09       0.00    1770.09
3            fgts   23367.73   4954.15     28321.88       0.00   28321.88
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   83247.51  17649.20    100896.71       0.00  100896.71
6           total  375344.26  79576.39    454920.65       0.00  454920.65

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  18621.97   6207.27     24829.24   18621.97  43451.21
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  18621.97   6207.27     24829.24   18621.97  43451.21
3       spprev      0.00      0.00         0.00    4503.62   4503.62

'realizado'

               ferias 13_ferias total_ferias 13_salario   total
0  apropriacao   0.00    602.84       602.84       0.00  602.84
1    spprevcom   0.00      0.00         0.00       0.00    0.00
2        total   0.00    602.84       602.84       0.00  602.84
3       spprev   0.00      0.00         0.00       0.00    0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  18621.97   6207.27     24829.24   18621.97  43451.21
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  18621.97   6207.27     24829.24   18621.97  43451.21
3       spprev      0.00      0.00         0.00    4503.62   4503.62

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  121836.58  40611.91    162448.49  121836.58  284285.07
1            inss   24366.90   8122.01     32488.91   20201.37   52690.28
2         ac_trab     608.73    202.60       811.33     504.62    1315.95
3            fgts    9746.40   3248.45     12994.85    8080.24   21075.09
4       spprevcom       0.00      0.00         0.00    2372.02    2372.02
5  total_encargos   34722.03  11573.06     46295.09   31158.25   77453.34
6           total  156558.61  52184.97    208743.58  152994.83  361738.41

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  213989.78  72314.83    286304.61    1332.18  287636.79
1  ferias_pecunia   31731.49      0.00     31731.49       0.00   31731.49
2    total_ferias  245721.27  72314.83    318036.10    1332.18  319368.28
3            inss   49144.15  14462.84     63606.99       0.00   63606.99
4         ac_trab    1228.47    361.42      1589.89       0.00    1589.89
5            fgts   19657.56   5785.02     25442.58       0.00   25442.58
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   70030.18  20609.28     90639.46       0.00   90639.46
8           total  315751.45  92924.11    408675.56    1332.18  410007.74

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  59851.91  19950.44     79802.35  120504.40  200306.75
1            inss  11970.09   3989.82     15959.91   20201.37   36161.28
2         ac_trab    298.97     99.44       398.41     504.62     903.03
3            fgts   4787.79   1595.68      6383.47    8080.24   14463.71
4       spprevcom      0.00      0.00         0.00    2372.02    2372.02
5  total_encargos  17056.85   5684.94     22741.79   31158.25   53900.04
6           total  76908.76  25635.38    102544.14  151662.65  254206.79

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  183736.60  51653.36    235389.96   -1113.45  234276.51
1            inss   36747.34  10330.65     47077.99       0.00   47077.99
2         ac_trab     918.71    258.26      1176.97       0.00    1176.97
3            fgts   14698.95   4132.25     18831.20       0.00   18831.20
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   52365.00  14721.16     67086.16       0.00   67086.16
6           total  236101.60  66374.52    302476.12   -1113.45  301362.67

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  175606.66  58535.14    234141.80  175606.66  409748.46
1    spprevcom       0.00      0.00         0.00     737.05     737.05
2        total  175606.66  58535.14    234141.80  176343.71  410485.51
3       spprev       0.00      0.00         0.00   42135.30   42135.30

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  128438.51  43729.07    172167.58       0.00  172167.58
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  128438.51  43729.07    172167.58       0.00  172167.58
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  47168.15  15722.30     62890.45  175606.66  238497.11
1    spprevcom      0.00      0.00         0.00     737.05     737.05
2        total  47168.15  15722.30     62890.45  176343.71  239234.16
3       spprev      0.00      0.00         0.00   42135.30   42135.30

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  105954.68  35318.26    141272.94       0.00  141272.94
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  105954.68  35318.26    141272.94       0.00  141272.94
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  158929.86  52976.29    211906.15  158929.86  370836.01
1            inss   31785.49  10594.84     42380.33   24058.37   66438.70
2         ac_trab     794.13    264.33      1058.46     600.97    1659.43
3            fgts   12713.87   4237.59     16951.46    9623.04   26574.50
4       spprevcom       0.00      0.00         0.00    3713.30    3713.30
5  total_encargos   45293.49  15096.76     60390.25   37995.68   98385.93
6           total  204223.35  68073.05    272296.40  196925.54  469221.94

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  408275.19  136925.09    545200.28       0.00  545200.28
1  ferias_pecunia   53775.45       0.00     53775.45       0.00   53775.45
2    total_ferias  462050.64  136925.09    598975.73       0.00  598975.73
3            inss   92409.94   27384.76    119794.70       0.00  119794.70
4         ac_trab    2309.96     684.35      2994.31       0.00    2994.31
5            fgts   36963.84   10953.69     47917.53       0.00   47917.53
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  131683.74   39022.80    170706.54       0.00  170706.54
8           total  593734.38  175947.89    769682.27       0.00  769682.27

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  43557.24  14518.93     58076.17  158929.86  217006.03
1            inss   8711.22   2903.58     11614.80   24058.37   35673.17
2         ac_trab    217.57     72.37       289.94     600.97     890.91
3            fgts   3484.37   1161.29      4645.66    9623.04   14268.70
4       spprevcom      0.00      0.00         0.00    3713.30    3713.30
5  total_encargos  12413.16   4137.24     16550.40   37995.68   54546.08
6           total  55970.40  18656.17     74626.57  196925.54  271552.11

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  346678.02   98467.73    445145.75       0.00  445145.75
1            inss   69335.67   19693.50     89029.17       0.00   89029.17
2         ac_trab    1733.40     492.39      2225.79       0.00    2225.79
3            fgts   27734.34    7877.39     35611.73       0.00   35611.73
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos   98803.41   28063.28    126866.69       0.00  126866.69
6           total  445481.43  126531.01    572012.44       0.00  572012.44

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  207563.16  69187.28    276750.44  207563.16  484313.60
1    spprevcom       0.00      0.00         0.00     706.59     706.59
2        total  207563.16  69187.28    276750.44  208269.75  485020.19
3       spprev       0.00      0.00         0.00   49464.78   49464.78

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  232063.57  77830.00    309893.57       0.00  309893.57
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  232063.57  77830.00    309893.57       0.00  309893.57
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  -24500.41  -8167.24    -32667.65  207563.16  174895.51
1    spprevcom       0.00      0.00         0.00     706.59     706.59
2        total  -24500.41  -8167.24    -32667.65  208269.75  175602.10
3       spprev       0.00      0.00         0.00   49464.78   49464.78

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  193416.17  64472.09    257888.26       0.00  257888.26
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  193416.17  64472.09    257888.26       0.00  257888.26
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   89007.21  29668.88    118676.09   89007.21  207683.30
1            inss   17801.19   5933.53     23734.72   12820.42   36555.14
2         ac_trab     444.75    147.99       592.74     320.25     912.99
3            fgts    7120.30   2373.22      9493.52    5127.98   14621.50
4       spprevcom       0.00      0.00         0.00    1446.52    1446.52
5  total_encargos   25366.24   8454.74     33820.98   19715.17   53536.15
6           total  114373.45  38123.62    152497.07  108722.38  261219.45

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  189676.43  63478.42    253154.85       0.00  253154.85
1  ferias_pecunia  105174.67      0.00    105174.67       0.00  105174.67
2    total_ferias  294851.10  63478.42    358329.52       0.00  358329.52
3            inss   58970.08  12695.57     71665.65       0.00   71665.65
4         ac_trab    1474.10    317.21      1791.31       0.00    1791.31
5            fgts   23587.92   5078.13     28666.05       0.00   28666.05
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   84032.10  18090.91    102123.01       0.00  102123.01
8           total  378883.20  81569.33    460452.53       0.00  460452.53

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  27144.05   9047.93     36191.98   89007.21  125199.19
1            inss   5428.70   1809.47      7238.17   12820.42   20058.59
2         ac_trab    135.58     45.07       180.65     320.25     500.90
3            fgts   2171.39    723.70      2895.09    5127.98    8023.07
4       spprevcom      0.00      0.00         0.00    1446.52    1446.52
5  total_encargos   7735.67   2578.24     10313.91   19715.17   30029.08
6           total  34879.72  11626.17     46505.89  108722.38  155228.27

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  232987.94  42857.47    275845.41       0.00  275845.41
1            inss   46597.59   8571.51     55169.10       0.00   55169.10
2         ac_trab    1164.93    214.29      1379.22       0.00    1379.22
3            fgts   18639.01   3428.61     22067.62       0.00   22067.62
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   66401.53  12214.41     78615.94       0.00   78615.94
6           total  299389.47  55071.88    354461.35       0.00  354461.35

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10586.86   3528.92     14115.78   10586.86  24702.64
1    spprevcom      0.00      0.00         0.00     266.15    266.15
2        total  10586.86   3528.92     14115.78   10853.01  24968.79
3       spprev      0.00      0.00         0.00    1332.08   1332.08

'realizado'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10586.86   3528.92     14115.78   10586.86  24702.64
1    spprevcom      0.00      0.00         0.00     266.15    266.15
2        total  10586.86   3528.92     14115.78   10853.01  24968.79
3       spprev      0.00      0.00         0.00    1332.08   1332.08

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   81855.40  27284.96    109140.36   81855.40  190995.76
1            inss   16370.84   5456.75     21827.59   11815.16   33642.75
2         ac_trab     409.04    136.19       545.23     295.09     840.32
3            fgts    6548.16   2182.49      8730.65    4725.93   13456.58
4       spprevcom       0.00      0.00         0.00    1427.97    1427.97
5  total_encargos   23328.04   7775.43     31103.47   18264.15   49367.62
6           total  105183.44  35060.39    140243.83  100119.55  240363.38

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  237809.22   79269.75    317078.97       0.00  317078.97
1  ferias_pecunia   32643.83       0.00     32643.83       0.00   32643.83
2    total_ferias  270453.05   79269.75    349722.80       0.00  349722.80
3            inss   54090.50   15853.84     69944.34       0.00   69944.34
4         ac_trab    1352.14     396.21      1748.35       0.00    1748.35
5            fgts   21636.10    6341.47     27977.57       0.00   27977.57
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos   77078.74   22591.52     99670.26       0.00   99670.26
8           total  347531.79  101861.27    449393.06       0.00  449393.06

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  18866.26   6288.68     25154.94   81855.40  107010.34
1            inss   3773.14   1257.62      5030.76   11815.16   16845.92
2         ac_trab     94.20     31.32       125.52     295.09     420.61
3            fgts   1509.16    502.92      2012.08    4725.93    6738.01
4       spprevcom      0.00      0.00         0.00    1427.97    1427.97
5  total_encargos   5376.50   1791.86      7168.36   18264.15   25432.51
6           total  24242.76   8080.54     32323.30  100119.55  132442.85

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  207463.91  58273.47    265737.38       0.00  265737.38
1            inss   41492.80  11654.71     53147.51       0.00   53147.51
2         ac_trab    1037.30    291.34      1328.64       0.00    1328.64
3            fgts   16597.10   4661.90     21259.00       0.00   21259.00
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   59127.20  16607.95     75735.15       0.00   75735.15
6           total  266591.11  74881.42    341472.53       0.00  341472.53

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  17902.96   5967.60     23870.56   17902.96  41773.52
1    spprevcom      0.00      0.00         0.00     366.46    366.46
2        total  17902.96   5967.60     23870.56   18269.42  42139.98
3       spprev      0.00      0.00         0.00    2734.15   2734.15

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10759.38   3586.46     14345.84       0.00  14345.84
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  10759.38   3586.46     14345.84       0.00  14345.84
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  7143.58   2381.14      9524.72   17902.96  27427.68
1    spprevcom     0.00      0.00         0.00     366.46    366.46
2        total  7143.58   2381.14      9524.72   18269.42  27794.14
3       spprev     0.00      0.00         0.00    2734.15   2734.15

'revertido'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  8667.28   2889.10     11556.38       0.00  11556.38
1    spprevcom     0.00      0.00         0.00       0.00      0.00
2        total  8667.28   2889.10     11556.38       0.00  11556.38
3       spprev     0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  239437.73   79812.10    319249.83  239437.73  558687.56
1            inss   47886.99   15961.85     63848.84   34955.25   98804.09
2         ac_trab    1196.50     398.38      1594.88     873.24    2468.12
3            fgts   19154.36    6384.27     25538.63   13981.65   39520.28
4       spprevcom       0.00       0.00         0.00    4993.09    4993.09
5  total_encargos   68237.85   22744.50     90982.35   54803.23  145785.58
6           total  307675.58  102556.60    410232.18  294240.96  704473.14

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  648242.29  216373.43    864615.72    9373.51   873989.23
1  ferias_pecunia   92963.01       0.00     92963.01       0.00    92963.01
2    total_ferias  741205.30  216373.43    957578.73    9373.51   966952.24
3            inss  148240.71   43274.36    191515.07       0.00   191515.07
4         ac_trab    3705.62    1081.52      4787.14       0.00     4787.14
5            fgts   59296.04   17309.46     76605.50       0.00    76605.50
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  211242.37   61665.34    272907.71       0.00   272907.71
8           total  952447.67  278038.77   1230486.44    9373.51  1239859.95

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  61137.47  20378.95     81516.42  230064.22  311580.64
1            inss  12227.23   4075.52     16302.75   34955.25   51258.00
2         ac_trab    305.39    101.62       407.01     873.24    1280.25
3            fgts   4890.69   1630.01      6520.70   13981.65   20502.35
4       spprevcom      0.00      0.00         0.00    4993.09    4993.09
5  total_encargos  17423.31   5807.15     23230.46   54803.23   78033.69
6           total  78560.78  26186.10    104746.88  284867.45  389614.33

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  562905.04  156940.28    719845.32  -34598.09  685247.23
1            inss  112580.95   31388.03    143968.98       0.00  143968.98
2         ac_trab    2814.51     784.76      3599.27       0.00    3599.27
3            fgts   45032.37   12555.20     57587.57       0.00   57587.57
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  160427.83   44727.99    205155.82       0.00  205155.82
6           total  723332.87  201668.27    925001.14  -34598.09  890403.05

'apropriado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  364610.52  121536.05    486146.57  364610.52  850757.09
1    spprevcom       0.00       0.00         0.00    1630.79    1630.79
2        total  364610.52  121536.05    486146.57  366241.31  852387.88
3       spprev       0.00       0.00         0.00   87686.55   87686.55

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  299529.97  102736.71    402266.68    6801.93  409068.61
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  299529.97  102736.71    402266.68    6801.93  409068.61
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  65080.55  21568.48     86649.03  357808.59  444457.62
1    spprevcom      0.00      0.00         0.00    1630.79    1630.79
2        total  65080.55  21568.48     86649.03  359439.38  446088.41
3       spprev      0.00      0.00         0.00   87686.55   87686.55

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  243726.43  81366.46    325092.89  -20208.70  304884.19
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  243726.43  81366.46    325092.89  -20208.70  304884.19
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  57536.61  19178.72     76715.33   57536.61  134251.94
1            inss  11507.09   3835.54     15342.63    9005.40   24348.03
2         ac_trab    287.45     95.65       383.10     224.91     608.01
3            fgts   4602.62   1534.01      6136.63    3602.01    9738.64
4       spprevcom      0.00      0.00         0.00     514.18     514.18
5  total_encargos  16397.16   5465.20     21862.36   13346.50   35208.86
6           total  73933.77  24643.92     98577.69   70883.11  169460.80

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  121506.01  40502.00    162008.01    1489.79  163497.80
1  ferias_pecunia   21244.78      0.00     21244.78       0.00   21244.78
2    total_ferias  142750.79  40502.00    183252.79    1489.79  184742.58
3            inss   28550.11   8100.35     36650.46       0.00   36650.46
4         ac_trab     713.68    202.43       916.11       0.00     916.11
5            fgts   11420.00   3240.09     14660.09       0.00   14660.09
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   40683.79  11542.87     52226.66       0.00   52226.66
8           total  183434.58  52044.87    235479.45    1489.79  236969.24

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  25035.08   8344.92     33380.00   56046.82   89426.82
1            inss   5006.83   1668.84      6675.67    9005.40   15681.07
2         ac_trab    125.01     41.55       166.56     224.91     391.47
3            fgts   2002.58    667.39      2669.97    3602.01    6271.98
4       spprevcom      0.00      0.00         0.00     514.18     514.18
5  total_encargos   7134.42   2377.78      9512.20   13346.50   22858.70
6           total  32169.50  10722.70     42892.20   69393.32  112285.52

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  110249.26  29668.20    139917.46    -149.41  139768.05
1            inss   22049.85   5933.65     27983.50       0.00   27983.50
2         ac_trab     551.24    148.33       699.57       0.00     699.57
3            fgts    8819.96   2373.47     11193.43       0.00   11193.43
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   31421.05   8455.45     39876.50       0.00   39876.50
6           total  141670.31  38123.65    179793.96    -149.41  179644.55

'apropriado'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  86603.30  28867.56    115470.86   86603.30  202074.16
1    spprevcom      0.00      0.00         0.00     412.02     412.02
2        total  86603.30  28867.56    115470.86   87015.32  202486.18
3       spprev      0.00      0.00         0.00   20172.68   20172.68

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  61717.46  21156.89     82874.35    1744.73  84619.08
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  61717.46  21156.89     82874.35    1744.73  84619.08
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  24885.84   8295.07     33180.91   84858.57  118039.48
1    spprevcom      0.00      0.00         0.00     412.02     412.02
2        total  24885.84   8295.07     33180.91   85270.59  118451.50
3       spprev      0.00      0.00         0.00   20172.68   20172.68

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  49319.32  16439.81     65759.13   -1434.25  64324.88
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  49319.32  16439.81     65759.13   -1434.25  64324.88
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  142958.93  47652.74    190611.67  142958.93  333570.60
1            inss   28591.54   9530.26     38121.80   19487.99   57609.79
2         ac_trab     714.47    237.91       952.38     486.91    1439.29
3            fgts   11436.38   3811.89     15248.27    7794.95   23043.22
4       spprevcom       0.00      0.00         0.00    3185.80    3185.80
5  total_encargos   40742.39  13580.06     54322.45   30955.65   85278.10
6           total  183701.32  61232.80    244934.12  173914.58  418848.70

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  429466.36  143537.07    573003.43       0.00  573003.43
1  ferias_pecunia  114857.67       0.00    114857.67       0.00  114857.67
2    total_ferias  544324.03  143537.07    687861.10       0.00  687861.10
3            inss  108864.63   28707.22    137571.85       0.00  137571.85
4         ac_trab    2721.44     717.51      3438.95       0.00    3438.95
5            fgts   43545.72   11482.76     55028.48       0.00   55028.48
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  155131.79   40907.49    196039.28       0.00  196039.28
8           total  699455.82  184444.56    883900.38       0.00  883900.38

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  23643.61   7881.13     31524.74  142958.93  174483.67
1            inss   4728.61   1576.12      6304.73   19487.99   25792.72
2         ac_trab    118.12     39.27       157.39     486.91     644.30
3            fgts   1891.36    630.36      2521.72    7794.95   10316.67
4       spprevcom      0.00      0.00         0.00    3185.80    3185.80
5  total_encargos   6738.09   2245.75      8983.84   30955.65   39939.49
6           total  30381.70  10126.88     40508.58  173914.58  214423.16

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  425008.71  103765.46    528774.17       0.00  528774.17
1            inss   85001.70   20753.08    105754.78       0.00  105754.78
2         ac_trab    2125.09     518.87      2643.96       0.00    2643.96
3            fgts   34000.70    8301.23     42301.93       0.00   42301.93
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  121127.49   29573.18    150700.67       0.00  150700.67
6           total  546136.20  133338.64    679474.84       0.00  679474.84

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  21640.06   7213.30     28853.36   21640.06  50493.42
1    spprevcom      0.00      0.00         0.00      57.51     57.51
2        total  21640.06   7213.30     28853.36   21697.57  50550.93
3       spprev      0.00      0.00         0.00    5101.15   5101.15

'realizado'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  21640.06   7213.30     28853.36   21640.06  50493.42
1    spprevcom      0.00      0.00         0.00      57.51     57.51
2        total  21640.06   7213.30     28853.36   21697.57  50550.93
3       spprev      0.00      0.00         0.00    5101.15   5101.15

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  119186.25  39728.52    158914.77  119186.25  278101.02
1            inss   23836.87   7945.40     31782.27   18500.25   50282.52
2         ac_trab     595.53    198.22       793.75     462.11    1255.86
3            fgts    9534.48   3177.90     12712.38    7399.84   20112.22
4       spprevcom       0.00      0.00         0.00    2777.31    2777.31
5  total_encargos   33966.88  11321.52     45288.40   29139.51   74427.91
6           total  153153.13  51050.04    204203.17  148325.76  352528.93

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  213755.61  72077.45    285833.06       0.00  285833.06
1  ferias_pecunia  103349.50      0.00    103349.50       0.00  103349.50
2    total_ferias  317105.11  72077.45    389182.56       0.00  389182.56
3            inss   63420.88  14415.32     77836.20       0.00   77836.20
4         ac_trab    1585.33    360.20      1945.53       0.00    1945.53
5            fgts   25368.23   5765.98     31134.21       0.00   31134.21
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   90374.44  20541.50    110915.94       0.00  110915.94
8           total  407479.55  92618.95    500098.50       0.00  500098.50

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  44845.47  14948.38     59793.85  119186.25  178980.10
1            inss   8968.88   2989.52     11958.40   18500.25   30458.65
2         ac_trab    224.00     74.51       298.51     462.11     760.62
3            fgts   3587.41   1195.66      4783.07    7399.84   12182.91
4       spprevcom      0.00      0.00         0.00    2777.31    2777.31
5  total_encargos  12780.29   4259.69     17039.98   29139.51   46179.49
6           total  57625.76  19208.07     76833.83  148325.76  225159.59

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  242764.33  47297.31    290061.64       0.00  290061.64
1            inss   48552.89   9459.44     58012.33       0.00   58012.33
2         ac_trab    1213.80    236.49      1450.29       0.00    1450.29
3            fgts   19421.16   3783.74     23204.90       0.00   23204.90
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   69187.85  13479.67     82667.52       0.00   82667.52
6           total  311952.18  60776.98    372729.16       0.00  372729.16

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  12133.84   4044.58     16178.42   12133.84  28312.26
1    spprevcom      0.00      0.00         0.00      87.18     87.18
2        total  12133.84   4044.58     16178.42   12221.02  28399.44
3       spprev      0.00      0.00         0.00    2892.74   2892.74

'realizado'

               ferias 13_ferias total_ferias 13_salario  total
0  apropriacao   0.00     53.77        53.77       0.00  53.77
1    spprevcom   0.00      0.00         0.00       0.00   0.00
2        total   0.00     53.77        53.77       0.00  53.77
3       spprev   0.00      0.00         0.00       0.00   0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  12133.84   4044.58     16178.42   12133.84  28312.26
1    spprevcom      0.00      0.00         0.00      87.18     87.18
2        total  12133.84   4044.58     16178.42   12221.02  28399.44
3       spprev      0.00      0.00         0.00    2892.74   2892.74

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   81390.26  27129.90    108520.16   81390.26  189910.42
1            inss   16277.77   5425.74     21703.51   12837.20   34540.71
2         ac_trab     406.67    135.36       542.03     320.64     862.67
3            fgts    6510.93   2170.11      8681.04    5134.71   13815.75
4       spprevcom       0.00      0.00         0.00    1697.57    1697.57
5  total_encargos   23195.37   7731.21     30926.58   19990.12   50916.70
6           total  104585.63  34861.11    139446.74  101380.38  240827.12

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  153199.45  51180.03    204379.48       0.00  204379.48
1  ferias_pecunia   53235.78      0.00     53235.78       0.00   53235.78
2    total_ferias  206435.23  51180.03    257615.26       0.00  257615.26
3            inss   41286.94  10235.93     51522.87       0.00   51522.87
4         ac_trab    1032.06    255.79      1287.85       0.00    1287.85
5            fgts   16514.72   4094.29     20609.01       0.00   20609.01
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   58833.72  14586.01     73419.73       0.00   73419.73
8           total  265268.95  65766.04    331034.99       0.00  331034.99

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  29952.79   9984.17     39936.96   81390.26  121327.22
1            inss   5990.39   1996.72      7987.11   12837.20   20824.31
2         ac_trab    149.59     49.75       199.34     320.64     519.98
3            fgts   2396.04    798.57      3194.61    5134.71    8329.32
4       spprevcom      0.00      0.00         0.00    1697.57    1697.57
5  total_encargos   8536.02   2845.04     11381.06   19990.12   31371.18
6           total  38488.81  12829.21     51318.02  101380.38  152698.40

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  154997.76  34034.30    189032.06       0.00  189032.06
1            inss   30999.56   6806.91     37806.47       0.00   37806.47
2         ac_trab     774.98    170.18       945.16       0.00     945.16
3            fgts   12399.83   2722.75     15122.58       0.00   15122.58
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   44174.37   9699.84     53874.21       0.00   53874.21
6           total  199172.13  43734.14    242906.27       0.00  242906.27

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  13569.91   4523.28     18093.19   13569.91  31663.10
1    spprevcom      0.00      0.00         0.00     119.93    119.93
2        total  13569.91   4523.28     18093.19   13689.84  31783.03
3       spprev      0.00      0.00         0.00    3355.88   3355.88

'realizado'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  13569.91   4523.28     18093.19   13569.91  31663.10
1    spprevcom      0.00      0.00         0.00     119.93    119.93
2        total  13569.91   4523.28     18093.19   13689.84  31783.03
3       spprev      0.00      0.00         0.00    3355.88   3355.88

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  157889.02  52629.28    210518.30  157889.02  368407.32
1            inss   31577.39  10525.39     42102.78   23547.60   65650.38
2         ac_trab     788.89    262.58      1051.47     588.15    1639.62
3            fgts   12630.51   4209.79     16840.30    9418.63   26258.93
4       spprevcom       0.00      0.00         0.00    3394.59    3394.59
5  total_encargos   44996.79  14997.76     59994.55   36948.97   96943.52
6           total  202885.81  67627.04    270512.85  194837.99  465350.84

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  384929.51  129244.65    514174.16       0.00  514174.16
1  ferias_pecunia   82636.76       0.00     82636.76       0.00   82636.76
2    total_ferias  467566.27  129244.65    596810.92       0.00  596810.92
3            inss   93513.04   25848.70    119361.74       0.00  119361.74
4         ac_trab    2337.54     645.93      2983.47       0.00    2983.47
5            fgts   37405.03   10339.33     47744.36       0.00   47744.36
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  133255.61   36833.96    170089.57       0.00  170089.57
8           total  600821.88  166078.61    766900.49       0.00  766900.49

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  44063.76  14687.71     58751.47  157889.02  216640.49
1            inss   8812.53   2937.32     11749.85   23547.60   35297.45
2         ac_trab    220.04     73.15       293.19     588.15     881.34
3            fgts   3524.77   1174.73      4699.50    9418.63   14118.13
4       spprevcom      0.00      0.00         0.00    3394.59    3394.59
5  total_encargos  12557.34   4185.20     16742.54   36948.97   53691.51
6           total  56621.10  18872.91     75494.01  194837.99  270332.00

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  353741.01   91303.08    445044.09       0.00  445044.09
1            inss   70748.18   18260.63     89008.81       0.00   89008.81
2         ac_trab    1768.69     456.50      2225.19       0.00    2225.19
3            fgts   28299.29    7304.27     35603.56       0.00   35603.56
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  100816.16   26021.40    126837.56       0.00  126837.56
6           total  454557.17  117324.48    571881.65       0.00  571881.65

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  157747.36  52582.07    210329.43  157747.36  368076.79
1    spprevcom       0.00      0.00         0.00     331.70     331.70
2        total  157747.36  52582.07    210329.43  158079.06  368408.49
3       spprev       0.00      0.00         0.00   39600.61   39600.61

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  71986.43  24726.87     96713.30       0.00  96713.30
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  71986.43  24726.87     96713.30       0.00  96713.30
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  85760.93  28586.60    114347.53  157747.36  272094.89
1    spprevcom      0.00      0.00         0.00     331.70     331.70
2        total  85760.93  28586.60    114347.53  158079.06  272426.59
3       spprev      0.00      0.00         0.00   39600.61   39600.61

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  58034.90  19344.99     77379.89       0.00  77379.89
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  58034.90  19344.99     77379.89       0.00  77379.89
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  364641.26  121545.68    486186.94  364641.26   850828.20
1            inss   72926.76   24308.00     97234.76   62057.50   159292.26
2         ac_trab    1821.50     605.96      2427.46    1549.83     3977.29
3            fgts   29169.32    9721.89     38891.21   24822.20    63713.41
4       spprevcom       0.00       0.00         0.00    1959.04     1959.04
5  total_encargos  103917.58   34635.85    138553.43   90388.57   228942.00
6           total  468558.84  156181.53    624740.37  455029.83  1079770.20

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  491626.71  164915.44    656542.15     562.31  657104.46
1  ferias_pecunia  105434.36       0.00    105434.36       0.00  105434.36
2    total_ferias  597061.07  164915.44    761976.51     562.31  762538.82
3            inss  119411.83   32982.72    152394.55       0.00  152394.55
4         ac_trab    2984.89     824.15      3809.04       0.00    3809.04
5            fgts   47764.42   13192.79     60957.21       0.00   60957.21
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  170161.14   46999.66    217160.80       0.00  217160.80
8           total  767222.21  211915.10    979137.31     562.31  979699.62

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  207735.37  69244.05    276979.42  364078.95  641058.37
1            inss   41545.97  13848.06     55394.03   62057.50  117451.53
2         ac_trab    1037.48    344.94      1382.42    1549.83    2932.25
3            fgts   16617.33   5538.23     22155.56   24822.20   46977.76
4       spprevcom       0.00      0.00         0.00    1959.04    1959.04
5  total_encargos   59200.78  19731.23     78932.01   90388.57  169320.58
6           total  266936.15  88975.28    355911.43  454467.52  810378.95

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  440155.18  112613.81    552768.99   -4177.52  548591.47
1            inss   88031.04   22522.78    110553.82       0.00  110553.82
2         ac_trab    2200.87     563.13      2764.00       0.00    2764.00
3            fgts   35212.43    9009.13     44221.56       0.00   44221.56
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  125444.34   32095.04    157539.38       0.00  157539.38
6           total  565599.52  144708.85    710308.37   -4177.52  706130.85

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  261645.95  87214.79    348860.74  261645.95  610506.69
1    spprevcom       0.00      0.00         0.00     164.54     164.54
2        total  261645.95  87214.79    348860.74  261810.49  610671.23
3       spprev       0.00      0.00         0.00   62713.46   62713.46

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  146256.84  49705.68    195962.52       0.00  195962.52
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  146256.84  49705.68    195962.52       0.00  195962.52
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  143681.76  47781.35    191463.11  261645.95  453109.06
1    spprevcom       0.00      0.00         0.00     164.54     164.54
2        total  143681.76  47781.35    191463.11  261810.49  453273.60
3       spprev       0.00      0.00         0.00   62713.46   62713.46

'revertido'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  93989.58  31441.96    125431.54       0.00  125431.54
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  93989.58  31441.96    125431.54       0.00  125431.54
3       spprev      0.00      0.00         0.00       0.00       0.00