IMPORTS E PARÂMETROS

In [19]:
import tabula as tb
import pandas as pd
import numpy  as np

FUNÇÕES

In [20]:
def normalize_text_java(tables:list) -> list:

    textos_normalizados_java = {
    "1/3 Férias Total Férias": "13_ferias total_ferias", 
    "1/3 Férias"            : "13_ferias", 
    "Total Férias"          : "total_ferias", 
    "13o Salário"           : "13_salario", 
    "TOTAL"                 : "total", 
    "Apropriação"           : "apropriacao", 
    "INSS 20,00%"           : "inss", 
    ".*Ac. Trab. .*"        : "ac_trab", 
    "FGTS 8%"               : "fgts", 
    "SP-PREVCOM"            : "spprevcom", 
    "Total de Encargos"     : "total_encargos", 
    "Férias em pecúnia"     : "ferias_pecunia", 
    "SPPREV"                : "spprev", 
    "Férias"                : "ferias", 
    "\."                    : "",
    ","                     : ".",
    "APROPRIAÇÃO MENSAL"    : "apropriado",
    "REALIZADO MENSAL"      : "realizado",
    "SALDO FINAL MENSAL"    : "saldo",
    "REVERSÃO / REVISÃO DAS APROPRIAÇÕES" : "revertido",
    }
    
    for index, table in enumerate(tables, start=1):
        tables[index-1] = table.replace(textos_normalizados_java, inplace=False, regex=True)
    return tables

def get_table_type(table:list) -> str:
    tipos_tabelas =  [
        "CLT", 
        "AUTÁRQUICO", 
    ]
    
    tipos_tabelas_a_ignorar = [
        "TOTAIS", 
    ]

    if not any(ignore_type in column for column in table for ignore_type in tipos_tabelas_a_ignorar):
        for type in tipos_tabelas:
            if type in table.columns:
                return type
    return None

def split_column(table:list, type:str, col1="Col1", col2="Col2") -> pd.DataFrame:
    df = pd.DataFrame(columns=[col1, col2])
    for value in table[type]:
        values = value.split()
        df.loc[len(df)] = [values[0], values[1] if len(values) > 1 else None]
    return df

def join_columns(table:list, df:pd.DataFrame, type:str) -> pd.DataFrame:
    table.drop(columns=[type], inplace=True)
    table = pd.concat([table, df], axis=1)
    return table

def format_data_frame(df:pd.DataFrame, type:str)->pd.DataFrame:
    colunas_renomeadas = {
        "Unnamed: 0": "tipo", 
        "Unnamed: 1":"Col1", 
        "Col1":"Col2", 
        "Col2":"Col3", 
        "Unnamed: 2":"Col4", 
        "Unnamed: 3":"Col5",
    }

    colunas_ordenadas = [
    "Unnamed: 0", 
    "Unnamed: 1", 
    "Col1", 
    "Col2", 
    "Unnamed: 2", 
    "Unnamed: 3", 
    ]

    df = df.reindex(columns=colunas_ordenadas)
    colunas_renomeadas["Unnamed: 0"] = type
    df = df.rename(columns=colunas_renomeadas)
    return df

def get_line_positions(df:pd.DataFrame, col:str="Col2") -> list:
    tabelas_internas = [
        "apropriado", 
        "realizado", 
        "saldo", 
        "revertido", 
    ]
    
    positions = []
    for index, line in enumerate(df[col]):
        if line in tabelas_internas:
            positions.append(index)
    positions.append(len(df))
    return positions

def split_internal_dataframe(df_main:pd.DataFrame, pos:list):
    results = []
    for i in range(len(pos) - 1):
            df_new  = df_main[pos[i] : pos[i+1]]
            type_df = df_new.iloc[0,2]

            df_new  = df_new.rename(columns=df_new.iloc[1].replace(np.nan, ""))[2:]
            df_new.reset_index(drop=True, inplace=True)
            
            results.append((type_df, df_new))
    return results

def get_dataframes(df_main:pd.DataFrame) -> list:
    type = get_table_type(df_main)
    if type is not None:
        df_main = join_columns(df_main, split_column(df_main, type), type)
        df_main = format_data_frame(df_main, type)
        return split_internal_dataframe(df_main, get_line_positions(df_main))
    else:
        return []

def get_tables_from(file_path):
    output = {}
    tables = normalize_text_java(tb.read_pdf(file_path, pages="all"))
    
    for idx, table in enumerate(tables, start=1):
        results = get_dataframes(table)
        table_results = [] 
        
        for table_type, sub_tables in results:
            table_results.append((table_type, sub_tables))
        
        output[idx] = table_results

    return output

EXECUÇÃO PRINCIPAL

In [21]:
output = get_tables_from("RHPP05LA - GERAL.pdf")

# display(type(output))

for key, value in output.items():
    # display(type(key))
    # display(type(value))
    for tipo_tabela, tabela in value:
        display(tipo_tabela)
        display(tabela)

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   60133.58  20044.36     80177.94   60133.58  140311.52
1            inss   12026.48   4008.66     16035.14    9991.98   26027.12
2         ac_trab  107470.44  35822.98    143293.42   89290.32  232583.74
3            fgts    4810.46   1603.31      6413.77    3996.63   10410.40
4       spprevcom       0.00      0.00         0.00     718.24     718.24
5  total_encargos  124307.38  41434.95    165742.33  103997.17  269739.50
6           total  184440.96  61479.31    245920.27  164130.75  410051.02

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   80594.28  28188.65    108782.93       0.00  108782.93
1  ferias_pecunia   15287.07      0.00     15287.07       0.00   15287.07
2           Total   95881.35  28188.65    124070.00       0.00  124070.00
3            inss   19176.23   5637.66     24813.89       0.00   24813.89
4         ac_trab  171359.06  50378.68    221737.74       0.00  221737.74
5            fgts    7670.44   2255.00      9925.44       0.00    9925.44
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos  198205.73  58271.34    256477.07       0.00  256477.07
8           total  294087.08  86459.99    380547.07       0.00  380547.07

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   34818.99  11606.20     46425.19   60133.58  106558.77
1            inss    6963.65   2321.11      9284.76    9991.98   19276.74
2         ac_trab   62228.28  20742.38     82970.66   89290.32  172260.98
3            fgts    2785.35    928.32      3713.67    3996.63    7710.30
4       spprevcom       0.00      0.00         0.00     718.24     718.24
5  total_encargos   71977.28  23991.81     95969.09  103997.17  199966.26
6           total  106796.27  35598.01    142394.28  164130.75  306525.03

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   70566.76  19750.49     90317.25       0.00   90317.25
1            inss   14113.40   3950.11     18063.51       0.00   18063.51
2         ac_trab  126116.90  35298.08    161414.98       0.00  161414.98
3            fgts    5645.33   1580.01      7225.34       0.00    7225.34
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  145875.63  40828.20    186703.83       0.00  186703.83
6           total  216442.39  60578.69    277021.08       0.00  277021.08

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  109613.61  36537.66    146151.27  109613.61  255764.88
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  109613.61  36537.66    146151.27  109613.61  255764.88
3       spprev       0.00      0.00         0.00  174143.20  174143.20

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  45985.11  15949.38     61934.49       0.00  61934.49
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  45985.11  15949.38     61934.49       0.00  61934.49
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  63628.50  21209.29     84837.79  109613.61  194451.40
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  63628.50  21209.29     84837.79  109613.61  194451.40
3       spprev      0.00      0.00         0.00  174143.20  174143.20

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  36970.02  12323.35     49293.37       0.00  49293.37
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  36970.02  12323.35     49293.37       0.00  49293.37
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  137351.86   45783.58    183135.44  137351.86  320487.30
1            inss   27469.88    9156.28     36626.16   20945.91   57572.07
2         ac_trab  217303.83   72433.65    289737.48  165696.52  455434.00
3            fgts   10987.62    3662.18     14649.80    8378.05   23027.85
4       spprevcom       0.00       0.00         0.00    2235.46    2235.46
5  total_encargos  255761.33   85252.11    341013.44  197255.94  538269.38
6           total  393113.19  131035.69    524148.88  334607.80  858756.68

'realizado'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   327301.03  110345.19    437646.22     272.99   437919.21
1  ferias_pecunia    59561.70       0.00     59561.70       0.00    59561.70
2           Total   386862.73  110345.19    497207.92     272.99   497480.91
3            inss    77372.30   22068.83     99441.13       0.00    99441.13
4         ac_trab   612055.29  174576.85    786632.14       0.00   786632.14
5            fgts    30948.78    8827.40     39776.18       0.00    39776.18
6       spprevcom        0.00       0.00         0.00       0.00        0.00
7  total_encargos   720376.37  205473.08    925849.45       0.00   925849.45
8           total  1107239.10  315818.27   1423057.37     272.99  1423330.36

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   36416.38  12138.59     48554.97  137078.87  185633.84
1            inss    7283.01   2427.49      9710.50   20945.91   30656.41
2         ac_trab   57614.09  19204.16     76818.25  165696.52  242514.77
3            fgts    2913.06    970.82      3883.88    8378.05   12261.93
4       spprevcom       0.00      0.00         0.00    2235.46    2235.46
5  total_encargos   67810.16  22602.47     90412.63  197255.94  287668.57
6           total  104226.54  34741.06    138967.60  334334.81  473302.41

'revertido'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  285007.60   76700.20    361707.80   -2829.25   358878.55
1            inss   57001.50   15340.04     72341.54       0.00    72341.54
2         ac_trab  450910.58  121347.36    572257.94       0.00   572257.94
3            fgts   22800.65    6136.04     28936.69       0.00    28936.69
4       spprevcom       0.00       0.00         0.00       0.00        0.00
5  total_encargos  530712.73  142823.44    673536.17       0.00   673536.17
6           total  815720.33  219523.64   1035243.97   -2829.25  1032414.72

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  188560.63  62853.11    251413.74  188560.63  439974.37
1    spprevcom       0.00      0.00         0.00     241.71     241.71
2        total  188560.63  62853.11    251413.74  188802.34  440216.08
3       spprev       0.00      0.00         0.00  287410.40  287410.40

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  111006.04  38009.82    149015.86     123.04  149138.90
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  111006.04  38009.82    149015.86     123.04  149138.90
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  77554.59  25797.63    103352.22  188437.59  291789.81
1    spprevcom      0.00      0.00         0.00     241.71     241.71
2        total  77554.59  25797.63    103352.22  188679.30  292031.52
3       spprev      0.00      0.00         0.00  287410.40  287410.40

'revertido'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  90513.36  30224.65    120738.01   -1966.90  118771.11
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  90513.36  30224.65    120738.01   -1966.90  118771.11
3       spprev      0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  120189.46  40062.85    160252.31  120189.46  280441.77
1            inss   24037.48   8012.19     32049.67   18392.19   50441.86
2         ac_trab   60094.49  20031.15     80125.64   45981.25  126106.89
3            fgts    9614.74   3204.60     12819.34    7356.64   20175.98
4       spprevcom       0.00      0.00         0.00    1637.43    1637.43
5  total_encargos   93746.71  31247.94    124994.65   73367.51  198362.16
6           total  213936.17  71310.79    285246.96  193556.97  478803.93

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  273539.20   91583.78    365122.98       0.00  365122.98
1  ferias_pecunia   57847.69       0.00     57847.69       0.00   57847.69
2           Total  331386.89   91583.78    422970.67       0.00  422970.67
3            inss   66277.21   18316.60     84593.81       0.00   84593.81
4         ac_trab  165693.32   45791.79    211485.11       0.00  211485.11
5            fgts   26510.76    7326.53     33837.29       0.00   33837.29
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  258481.29   71434.92    329916.21       0.00  329916.21
8           total  589868.18  163018.70    752886.88       0.00  752886.88

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  39987.90  13329.14     53317.04  120189.46  173506.50
1            inss   7997.35   2665.65     10663.00   18392.19   29055.19
2         ac_trab  19993.84   6664.41     26658.25   45981.25   72639.50
3            fgts   3198.81   1066.08      4264.89    7356.64   11621.53
4       spprevcom      0.00      0.00         0.00    1637.43    1637.43
5  total_encargos  31190.00  10396.14     41586.14   73367.51  114953.65
6           total  71177.90  23725.28     94903.18  193556.97  288460.15

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  251185.33   64850.07    316035.40       0.00  316035.40
1            inss   50237.08   12970.06     63207.14       0.00   63207.14
2         ac_trab  125592.67   32425.05    158017.72       0.00  158017.72
3            fgts   20094.83    5188.01     25282.84       0.00   25282.84
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  195924.58   50583.12    246507.70       0.00  246507.70
6           total  447109.91  115433.19    562543.10       0.00  562543.10

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  128651.11  42883.42    171534.53  128651.11  300185.64
1    spprevcom       0.00      0.00         0.00      43.59      43.59
2        total  128651.11  42883.42    171534.53  128694.70  300229.23
3       spprev       0.00      0.00         0.00  182394.84  182394.84

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  139964.27  47524.87    187489.14       0.00  187489.14
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  139964.27  47524.87    187489.14       0.00  187489.14
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  -11313.16  -3970.83    -15283.99  128651.11  113367.12
1    spprevcom       0.00      0.00         0.00      43.59      43.59
2        total  -11313.16  -3970.83    -15283.99  128694.70  113410.71
3       spprev       0.00      0.00         0.00  182394.84  182394.84

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  109249.74  36616.13    145865.87       0.00  145865.87
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  109249.74  36616.13    145865.87       0.00  145865.87
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  198268.36   66089.07    264357.43  198268.36  462625.79
1            inss   39653.19   13217.36     52870.55   30090.80   82961.35
2         ac_trab   99133.90   33044.21    132178.11   75228.15  207406.26
3            fgts   15860.84    5286.53     21147.37   12035.98   33183.35
4       spprevcom       0.00       0.00         0.00    2228.16    2228.16
5  total_encargos  154647.93   51548.10    206196.03  119583.09  325779.12
6           total  352916.29  117637.17    470553.46  317851.45  788404.91

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  438808.77  146967.54    585776.31       0.00   585776.31
1  ferias_pecunia  122494.15       0.00    122494.15       0.00   122494.15
2           Total  561302.92  146967.54    708270.46       0.00   708270.46
3            inss  112260.34   29393.31    141653.65       0.00   141653.65
4         ac_trab  280651.30   73483.62    354134.92       0.00   354134.92
5            fgts   44903.96   11757.13     56661.09       0.00    56661.09
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  437815.60  114634.06    552449.66       0.00   552449.66
8           total  999118.52  261601.60   1260720.12       0.00  1260720.12

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   67225.97  22408.42     89634.39  198268.36  287902.75
1            inss   13444.90   4481.45     17926.35   30090.80   48017.15
2         ac_trab   33612.84  11204.04     44816.88   75228.15  120045.03
3            fgts    5377.70   1792.33      7170.03   12035.98   19206.01
4       spprevcom       0.00      0.00         0.00    2228.16    2228.16
5  total_encargos   52435.44  17477.82     69913.26  119583.09  189496.35
6           total  119661.41  39886.24    159547.65  317851.45  477399.10

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  430260.53  103286.89    533547.42       0.00  533547.42
1            inss   86052.05   20657.40    106709.45       0.00  106709.45
2         ac_trab  215130.24   51643.45    266773.69       0.00  266773.69
3            fgts   34420.82    8262.93     42683.75       0.00   42683.75
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  335603.11   80563.78    416166.89       0.00  416166.89
6           total  765863.64  183850.67    949714.31       0.00  949714.31

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  205335.80  68444.78    273780.58  205335.80  479116.38
1    spprevcom       0.00      0.00         0.00     294.85     294.85
2        total  205335.80  68444.78    273780.58  205630.65  479411.23
3       spprev       0.00      0.00         0.00  301704.05  301704.05

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  124129.34  43112.42    167241.76       0.00  167241.76
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  124129.34  43112.42    167241.76       0.00  167241.76
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  81206.46  27048.90    108255.36  205335.80  313591.16
1    spprevcom      0.00      0.00         0.00     294.85     294.85
2        total  81206.46  27048.90    108255.36  205630.65  313886.01
3       spprev      0.00      0.00         0.00  301704.05  301704.05

'revertido'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  98388.06  32815.51    131203.57       0.00  131203.57
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  98388.06  32815.51    131203.57       0.00  131203.57
3       spprev      0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  101288.27  33762.49    135050.76  101288.27  236339.03
1            inss   20257.30   6752.19     27009.49   16026.51   43036.00
2         ac_trab   50643.96  16881.01     67524.97   40066.95  107591.92
3            fgts    8102.66   2700.58     10803.24    6410.35   17213.59
4       spprevcom       0.00      0.00         0.00    2106.88    2106.88
5  total_encargos   79003.92  26333.78    105337.70   64610.69  169948.39
6           total  180292.19  60096.27    240388.46  165898.96  406287.42

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  202101.38   67060.64    269162.02       0.00  269162.02
1  ferias_pecunia   47215.11       0.00     47215.11       0.00   47215.11
2           Total  249316.49   67060.64    316377.13       0.00  316377.13
3            inss   49863.16   13411.96     63275.12       0.00   63275.12
4         ac_trab  124658.15   33530.26    158188.41       0.00  158188.41
5            fgts   19945.16    5364.69     25309.85       0.00   25309.85
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  194466.47   52306.91    246773.38       0.00  246773.38
8           total  443782.96  119367.55    563150.51       0.00  563150.51

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  42153.74  14051.08     56204.82  101288.27  157493.09
1            inss   8430.55   2810.05     11240.60   16026.51   27267.11
2         ac_trab  21076.77   7025.40     28102.17   40066.95   68169.12
3            fgts   3372.06   1123.83      4495.89    6410.35   10906.24
4       spprevcom      0.00      0.00         0.00    2106.88    2106.88
5  total_encargos  32879.38  10959.28     43838.66   64610.69  108449.35
6           total  75033.12  25010.36    100043.48  165898.96  265942.44

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  186873.88  47349.23    234223.11       0.00  234223.11
1            inss   37374.80   9469.82     46844.62       0.00   46844.62
2         ac_trab   93436.92  23674.65    117111.57       0.00  117111.57
3            fgts   14949.92   3787.94     18737.86       0.00   18737.86
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  145761.64  36932.41    182694.05       0.00  182694.05
6           total  332635.52  84281.64    416917.16       0.00  416917.16

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  228888.20  76295.59    305183.79  228888.20  534071.99
1    spprevcom       0.00      0.00         0.00     313.29     313.29
2        total  228888.20  76295.59    305183.79  229201.49  534385.28
3       spprev       0.00      0.00         0.00  355080.19  355080.19

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  225538.56  75349.68    300888.24       0.00  300888.24
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  225538.56  75349.68    300888.24       0.00  300888.24
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  11383.32   3774.89     15158.21  228888.20  244046.41
1    spprevcom      0.00      0.00         0.00     313.29     313.29
2        total  11383.32   3774.89     15158.21  229201.49  244359.70
3       spprev      0.00      0.00         0.00  355080.19  355080.19

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  172247.00  57434.81    229681.81       0.00  229681.81
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  172247.00  57434.81    229681.81       0.00  229681.81
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  141927.62  47308.90    189236.52  141927.62  331164.14
1            inss   28385.08   9461.32     37846.40   22275.77   60122.17
2         ac_trab   70963.59  23654.18     94617.77   55690.16  150307.93
3            fgts   11353.67   3784.18     15137.85    8909.99   24047.84
4       spprevcom       0.00      0.00         0.00    2367.63    2367.63
5  total_encargos  110702.34  36899.68    147602.02   89243.55  236845.57
6           total  252629.96  84208.58    336838.54  231171.17  568009.71

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  322589.58  107795.80    430385.38       0.00  430385.38
1  ferias_pecunia   34843.43       0.00     34843.43       0.00   34843.43
2           Total  357433.01  107795.80    465228.81       0.00  465228.81
3            inss   71486.36   21558.91     93045.27       0.00   93045.27
4         ac_trab  178716.37   53897.78    232614.15       0.00  232614.15
5            fgts   28594.47    8623.43     37217.90       0.00   37217.90
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  278797.20   84080.12    362877.32       0.00  362877.32
8           total  636230.21  191875.92    828106.13       0.00  828106.13

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  47643.86  15881.13     63524.99  141927.62  205452.61
1            inss   9528.53   3175.99     12704.52   22275.77   34980.29
2         ac_trab  23821.82   7940.42     31762.24   55690.16   87452.40
3            fgts   3811.23   1270.22      5081.45    8909.99   13991.44
4       spprevcom      0.00      0.00         0.00    2367.63    2367.63
5  total_encargos  37161.58  12386.63     49548.21   89243.55  138791.76
6           total  84805.44  28267.76    113073.20  231171.17  344244.37

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  263149.25   76366.07    339515.32       0.00  339515.32
1            inss   52629.81   15273.19     67903.00       0.00   67903.00
2         ac_trab  131574.60   38183.04    169757.64       0.00  169757.64
3            fgts   21052.03    6109.32     27161.35       0.00   27161.35
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  205256.44   59565.55    264821.99       0.00  264821.99
6           total  468405.69  135931.62    604337.31       0.00  604337.31

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  140916.92  46972.00    187888.92  140916.92  328805.84
1    spprevcom       0.00      0.00         0.00     428.78     428.78
2        total  140916.92  46972.00    187888.92  141345.70  329234.62
3       spprev       0.00      0.00         0.00  205481.70  205481.70

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  163141.22  54591.20    217732.42       0.00  217732.42
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  163141.22  54591.20    217732.42       0.00  217732.42
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  -3636.84  -1320.66     -4957.50  140916.92  135959.42
1    spprevcom      0.00      0.00         0.00     428.78     428.78
2        total  -3636.84  -1320.66     -4957.50  141345.70  136388.20
3       spprev      0.00      0.00         0.00  205481.70  205481.70

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  114127.32  38150.58    152277.90       0.00  152277.90
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  114127.32  38150.58    152277.90       0.00  152277.90
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  156736.19   52245.04    208981.23  156736.19  365717.42
1            inss   31346.79   10448.52     41795.31   24524.54   66319.85
2         ac_trab  237439.12   79145.41    316584.53  185764.65  502349.18
3            fgts   12538.33    4179.08     16717.41    9809.47   26526.88
4       spprevcom       0.00       0.00         0.00    1767.67    1767.67
5  total_encargos  281324.24   93773.01    375097.25  221866.33  596963.58
6           total  438060.43  146018.05    584078.48  378602.52  962681.00

'realizado'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   290262.95   97165.22    387428.17       0.00   387428.17
1  ferias_pecunia   117164.00       0.00    117164.00       0.00   117164.00
2           Total   407426.95   97165.22    504592.17       0.00   504592.17
3            inss    81485.17   19432.83    100918.00       0.00   100918.00
4         ac_trab   617210.78  147195.32    764406.10       0.00   764406.10
5            fgts    32593.89    7772.94     40366.83       0.00    40366.83
6       spprevcom        0.00       0.00         0.00       0.00        0.00
7  total_encargos   731289.84  174401.09    905690.93       0.00   905690.93
8           total  1138716.79  271566.31   1410283.10       0.00  1410283.10

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   63579.57  21193.00     84772.57  156736.19  241508.76
1            inss   12715.68   4238.36     16954.04   24524.54   41478.58
2         ac_trab   96316.39  32104.93    128421.32  185764.65  314185.97
3            fgts    5086.06   1695.14      6781.20    9809.47   16590.67
4       spprevcom       0.00      0.00         0.00    1767.67    1767.67
5  total_encargos  114118.13  38038.43    152156.56  221866.33  374022.89
6           total  177697.70  59231.43    236929.13  378602.52  615531.65

'revertido'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  314270.33   66113.18    380383.51       0.00   380383.51
1            inss   62854.06   13222.67     76076.73       0.00    76076.73
2         ac_trab  476088.05  100154.84    576242.89       0.00   576242.89
3            fgts   25141.62    5289.00     30430.62       0.00    30430.62
4       spprevcom       0.00       0.00         0.00       0.00        0.00
5  total_encargos  564083.73  118666.51    682750.24       0.00   682750.24
6           total  878354.06  184779.69   1063133.75       0.00  1063133.75

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  237354.63  79117.74    316472.37  237354.63  553827.00
1    spprevcom       0.00      0.00         0.00     701.81     701.81
2        total  237354.63  79117.74    316472.37  238056.44  554528.81
3       spprev       0.00      0.00         0.00  343097.78  343097.78

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  318356.74  106980.27    425337.01       0.00  425337.01
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  318356.74  106980.27    425337.01       0.00  425337.01
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  -81002.11  -27194.42   -108196.53  237354.63  129158.10
1    spprevcom       0.00       0.00         0.00     701.81     701.81
2        total  -81002.11  -27194.42   -108196.53  238056.44  129859.91
3       spprev       0.00       0.00         0.00  343097.78  343097.78

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  252585.97  84388.67    336974.64       0.00  336974.64
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  252585.97  84388.67    336974.64       0.00  336974.64
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  41540.20  13846.58     55386.78   41540.20   96926.98
1            inss   8307.80   2769.13     11076.93    6731.06   17807.99
2         ac_trab  20769.95   6923.12     27693.07   16828.10   44521.17
3            fgts   3322.93   1107.42      4430.35    2692.29    7122.64
4       spprevcom      0.00      0.00         0.00     196.27     196.27
5  total_encargos  32400.68  10799.67     43200.35   26447.72   69648.07
6           total  73940.88  24646.25     98587.13   67987.92  166575.05

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   84547.39  28229.92    112777.31       0.00  112777.31
1  ferias_pecunia    9590.98      0.00      9590.98       0.00    9590.98
2           Total   94138.37  28229.92    122368.29       0.00  122368.29
3            inss   18827.60   5645.91     24473.51       0.00   24473.51
4         ac_trab   47069.11  14114.92     61184.03       0.00   61184.03
5            fgts    7531.01   2258.30      9789.31       0.00    9789.31
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   73427.72  22019.13     95446.85       0.00   95446.85
8           total  167566.09  50249.05    217815.14       0.00  217815.14

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  17630.65   5876.79     23507.44   41540.20   65047.64
1            inss   3525.96   1175.23      4701.19    6731.06   11432.25
2         ac_trab   8815.22   2938.29     11753.51   16828.10   28581.61
3            fgts   1410.27    469.96      1880.23    2692.29    4572.52
4       spprevcom      0.00      0.00         0.00     196.27     196.27
5  total_encargos  13751.45   4583.48     18334.93   26447.72   44782.65
6           total  31382.10  10460.27     41842.37   67987.92  109830.29

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   70228.82  20260.13     90488.95       0.00   90488.95
1            inss   14045.76   4052.01     18097.77       0.00   18097.77
2         ac_trab   35114.38  10130.09     45244.47       0.00   45244.47
3            fgts    5618.35   1620.84      7239.19       0.00    7239.19
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   54778.49  15802.94     70581.43       0.00   70581.43
6           total  125007.31  36063.07    161070.38       0.00  161070.38

'apropriado'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  73037.94  24345.74     97383.68   73037.94  170421.62
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  73037.94  24345.74     97383.68   73037.94  170421.62
3       spprev      0.00      0.00         0.00  107143.53  107143.53

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  42898.16  14349.50     57247.66       0.00  57247.66
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  42898.16  14349.50     57247.66       0.00  57247.66
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  30139.78  10000.60     40140.38   73037.94  113178.32
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  30139.78  10000.60     40140.38   73037.94  113178.32
3       spprev      0.00      0.00         0.00  107143.53  107143.53

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  33932.92  11356.75     45289.67       0.00  45289.67
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  33932.92  11356.75     45289.67       0.00  45289.67
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  116856.69  38951.94    155808.63  116856.69  272665.32
1            inss   23370.98   7790.07     31161.05   19015.05   50176.10
2         ac_trab   58428.12  19475.76     77903.88   47538.32  125442.20
3            fgts    9348.11   3115.78     12463.89    7605.78   20069.67
4       spprevcom       0.00      0.00         0.00    1720.43    1720.43
5  total_encargos   91147.21  30381.61    121528.82   75879.58  197408.40
6           total  208003.90  69333.55    277337.45  192736.27  470073.72

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  232353.20   77626.77    309979.97       0.00  309979.97
1  ferias_pecunia   29002.14       0.00     29002.14       0.00   29002.14
2           Total  261355.34   77626.77    338982.11       0.00  338982.11
3            inss   52270.93   15525.21     67796.14       0.00   67796.14
4         ac_trab  130677.57   38813.32    169490.89       0.00  169490.89
5            fgts   20908.27    6209.96     27118.23       0.00   27118.23
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  203856.77   60548.49    264405.26       0.00  264405.26
8           total  465212.11  138175.26    603387.37       0.00  603387.37

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  46119.78  15373.11     61492.89  116856.69  178349.58
1            inss   9223.74   3074.44     12298.18   19015.05   31313.23
2         ac_trab  23059.77   7686.45     30746.22   47538.32   78284.54
3            fgts   3689.33   1229.66      4918.99    7605.78   12524.77
4       spprevcom      0.00      0.00         0.00    1720.43    1720.43
5  total_encargos  35972.84  11990.55     47963.39   75879.58  123842.97
6           total  82092.62  27363.66    109456.28  192736.27  302192.55

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  190618.43  54047.94    244666.37       0.00  244666.37
1            inss   38123.69  10809.58     48933.27       0.00   48933.27
2         ac_trab   95309.22  27024.01    122333.23       0.00  122333.23
3            fgts   15249.49   4323.84     19573.33       0.00   19573.33
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  148682.40  42157.43    190839.83       0.00  190839.83
6           total  339300.83  96205.37    435506.20       0.00  435506.20

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  148627.30  49542.04    198169.34  148627.30  346796.64
1    spprevcom       0.00      0.00         0.00     430.19     430.19
2        total  148627.30  49542.04    198169.34  149057.49  347226.83
3       spprev       0.00      0.00         0.00  215221.25  215221.25

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  130532.67  43814.92    174347.59       0.00  174347.59
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  130532.67  43814.92    174347.59       0.00  174347.59
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  18094.63   6031.15     24125.78  148627.30  172753.08
1    spprevcom      0.00      0.00         0.00     430.19     430.19
2        total  18094.63   6031.15     24125.78  149057.49  173183.27
3       spprev      0.00      0.00         0.00  215221.25  215221.25

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  103067.48  34355.88    137423.36       0.00  137423.36
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  103067.48  34355.88    137423.36       0.00  137423.36
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  219355.32   73118.04    292473.36  219355.32  511828.68
1            inss   43870.43   14623.08     58493.51   34615.27   93108.78
2         ac_trab  109677.30   36558.63    146235.93   86539.47  232775.40
3            fgts   17547.75    5848.71     23396.46   13845.73   37242.19
4       spprevcom       0.00       0.00         0.00    5011.61    5011.61
5  total_encargos  171095.48   57030.42    228125.90  140012.08  368137.98
6           total  390450.80  130148.46    520599.26  359367.40  879966.66

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  410251.03  137702.06    547953.09    2548.46   550501.55
1  ferias_pecunia  119409.13       0.00    119409.13       0.00   119409.13
2           Total  529660.16  137702.06    667362.22    2548.46   669910.68
3            inss  105931.84   27540.18    133472.02       0.00   133472.02
4         ac_trab  264829.93   68850.88    333680.81       0.00   333680.81
5            fgts   42372.56   11015.87     53388.43       0.00    53388.43
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  413134.33  107406.93    520541.26       0.00   520541.26
8           total  942794.49  245108.99   1187903.48    2548.46  1190451.94

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   85901.55  28633.61    114535.16  216806.86  331342.02
1            inss   17179.92   5726.41     22906.33   34615.27   57521.60
2         ac_trab   42950.54  14316.56     57267.10   86539.47  143806.57
3            fgts    6871.74   2290.26      9162.00   13845.73   23007.73
4       spprevcom       0.00      0.00         0.00    5011.61    5011.61
5  total_encargos   67002.20  22333.23     89335.43  140012.08  229347.51
6           total  152903.75  50966.84    203870.59  356818.94  560689.53

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  396206.39   93217.63    489424.02    -515.00  488909.02
1            inss   79241.33   18643.51     97884.84       0.00   97884.84
2         ac_trab  198103.17   46608.81    244711.98       0.00  244711.98
3            fgts   31696.55    7457.42     39153.97       0.00   39153.97
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  309041.05   72709.74    381750.79       0.00  381750.79
6           total  705247.44  165927.37    871174.81    -515.00  870659.81

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  291366.81  97121.69    388488.50  291366.81  679855.31
1    spprevcom       0.00      0.00         0.00     680.52     680.52
2        total  291366.81  97121.69    388488.50  292047.33  680535.83
3       spprev       0.00      0.00         0.00  440037.66  440037.66

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  168050.21  57288.01    225338.22       0.00  225338.22
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  168050.21  57288.01    225338.22       0.00  225338.22
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  123316.60  41104.95    164421.55  291366.81  455788.36
1    spprevcom       0.00      0.00         0.00     680.52     680.52
2        total  123316.60  41104.95    164421.55  292047.33  456468.88
3       spprev       0.00      0.00         0.00  440037.66  440037.66

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  134834.11  44944.77    179778.88       0.00  179778.88
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  134834.11  44944.77    179778.88       0.00  179778.88
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   84968.00  28322.46    113290.46   84968.00  198258.46
1            inss   16993.36   5664.23     22657.59   12937.16   35594.75
2         ac_trab   42483.88  14161.08     56644.96   32343.37   88988.33
3            fgts    6797.14   2265.49      9062.63    5174.64   14237.27
4       spprevcom       0.00      0.00         0.00    1620.66    1620.66
5  total_encargos   66274.38  22090.80     88365.18   52075.83  140441.01
6           total  151242.38  50413.26    201655.64  137043.83  338699.47

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  194099.77   65425.36    259525.13     625.67  260150.80
1  ferias_pecunia   46639.85       0.00     46639.85       0.00   46639.85
2           Total  240739.62   65425.36    306164.98     625.67  306790.65
3            inss   48147.84   13085.00     61232.84       0.00   61232.84
4         ac_trab  120369.74   32712.63    153082.37       0.00  153082.37
5            fgts   19259.05    5233.92     24492.97       0.00   24492.97
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  187776.63   51031.55    238808.18       0.00  238808.18
8           total  428516.25  116456.91    544973.16     625.67  545598.83

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  29349.95   9783.19     39133.14   84342.33  123475.47
1            inss   5869.83   1956.48      7826.31   12937.16   20763.47
2         ac_trab  14674.90   4891.49     19566.39   32343.37   51909.76
3            fgts   2347.80    782.43      3130.23    5174.64    8304.87
4       spprevcom      0.00      0.00         0.00    1620.66    1620.66
5  total_encargos  22892.53   7630.40     30522.93   52075.83   82598.76
6           total  52242.48  17413.59     69656.07  136418.16  206074.23

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  185121.57  46886.09    232007.66     -16.19  231991.47
1            inss   37024.31   9377.25     46401.56       0.00   46401.56
2         ac_trab   92560.76  23443.04    116003.80       0.00  116003.80
3            fgts   14809.71   3750.86     18560.57       0.00   18560.57
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  144394.78  36571.15    180965.93       0.00  180965.93
6           total  329516.35  83457.24    412973.59     -16.19  412957.40

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  173605.60  57868.13    231473.73  173605.60  405079.33
1    spprevcom       0.00      0.00         0.00     645.39     645.39
2        total  173605.60  57868.13    231473.73  174250.99  405724.72
3       spprev       0.00      0.00         0.00  254219.19  254219.19

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  170294.60  58066.66    228361.26    1694.52  230055.78
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  170294.60  58066.66    228361.26    1694.52  230055.78
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                 ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  3311.00   1103.26      4414.26  171911.08  176325.34
1    spprevcom     0.00      0.00         0.00     645.39     645.39
2        total  3311.00   1103.26      4414.26  172556.47  176970.73
3       spprev     0.00      0.00         0.00  254219.19  254219.19

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  137193.24  45731.15    182924.39   -1133.31  181791.08
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  137193.24  45731.15    182924.39   -1133.31  181791.08
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  46980.60  15659.96     62640.56   46980.60  109621.16
1            inss   9395.88   3131.79     12527.67    7923.49   20451.16
2         ac_trab  23490.14   7829.81     31319.95   19809.19   51129.14
3            fgts   3758.17   1252.49      5010.66    3169.22    8179.88
4       spprevcom      0.00      0.00         0.00     222.33     222.33
5  total_encargos  36644.19  12214.09     48858.28   31124.23   79982.51
6           total  83624.79  27874.05    111498.84   78104.83  189603.67

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   71778.16  25913.38     97691.54     847.91   98539.45
1  ferias_pecunia   10301.89      0.00     10301.89       0.00   10301.89
2           Total   82080.05  25913.38    107993.43     847.91  108841.34
3            inss   16415.93   5182.58     21598.51       0.00   21598.51
4         ac_trab   41039.96  12956.65     53996.61       0.00   53996.61
5            fgts    6566.33   2072.97      8639.30       0.00    8639.30
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos   64022.22  20212.20     84234.42       0.00   84234.42
8           total  146102.27  46125.58    192227.85     847.91  193075.76

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  22912.47   7637.35     30549.82   46132.69   76682.51
1            inss   4582.34   1527.35      6109.69    7923.49   14033.18
2         ac_trab  11456.12   3818.55     15274.67   19809.19   35083.86
3            fgts   1832.80    610.79      2443.59    3169.22    5612.81
4       spprevcom      0.00      0.00         0.00     222.33     222.33
5  total_encargos  17871.26   5956.69     23827.95   31124.23   54952.18
6           total  40783.73  13594.04     54377.77   77256.92  131634.69

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   58011.92  17890.77     75902.69    -369.72   75532.97
1            inss   11602.39   3578.14     15180.53       0.00   15180.53
2         ac_trab   29005.94   8945.39     37951.33       0.00   37951.33
3            fgts    4640.96   1431.27      6072.23       0.00    6072.23
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   45249.29  13954.80     59204.09       0.00   59204.09
6           total  103261.21  31845.57    135106.78    -369.72  134737.06

'apropriado'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  74217.25  24738.94     98956.19   74217.25  173173.44
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  74217.25  24738.94     98956.19   74217.25  173173.44
3       spprev      0.00      0.00         0.00   81088.31   81088.31

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  33301.03  12202.65     45503.68       0.00  45503.68
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  33301.03  12202.65     45503.68       0.00  45503.68
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  40916.22  13559.34     54475.56   74217.25  128692.81
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  40916.22  13559.34     54475.56   74217.25  128692.81
3       spprev      0.00      0.00         0.00   81088.31   81088.31

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  26524.25   8920.69     35444.94       0.00  35444.94
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  26524.25   8920.69     35444.94       0.00  35444.94
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  143506.02  47834.97    191340.99  143506.02  334847.01
1            inss   28700.79   9566.55     38267.34   21695.45   59962.79
2         ac_trab   71752.68  23917.19     95669.87   54239.37  149909.24
3            fgts   11479.95   3826.29     15306.24    8677.77   23984.01
4       spprevcom       0.00      0.00         0.00    2522.46    2522.46
5  total_encargos  111933.42  37310.03    149243.45   87135.05  236378.50
6           total  255439.44  85145.00    340584.44  230641.07  571225.51

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  320104.19  107073.48    427177.67       0.00  427177.67
1  ferias_pecunia   80076.45       0.00     80076.45       0.00   80076.45
2           Total  400180.64  107073.48    507254.12       0.00  507254.12
3            inss   80035.94   21414.48    101450.42       0.00  101450.42
4         ac_trab  200090.17   53536.66    253626.83       0.00  253626.83
5            fgts   32014.20    8565.66     40579.86       0.00   40579.86
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  312140.31   83516.80    395657.11       0.00  395657.11
8           total  712320.95  190590.28    902911.23       0.00  902911.23

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  48660.42  16219.94     64880.36  143506.02  208386.38
1            inss   9731.84   3243.73     12975.57   21695.45   34671.02
2         ac_trab  24330.03   8109.81     32439.84   54239.37   86679.21
3            fgts   3892.53   1297.32      5189.85    8677.77   13867.62
4       spprevcom      0.00      0.00         0.00    2522.46    2522.46
5  total_encargos  37954.40  12650.86     50605.26   87135.05  137740.31
6           total  86614.82  28870.80    115485.62  230641.07  346126.69

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  305335.04   75458.45    380793.49       0.00  380793.49
1            inss   61066.99   15091.66     76158.65       0.00   76158.65
2         ac_trab  152667.52   37729.28    190396.80       0.00  190396.80
3            fgts   24426.78    6036.69     30463.47       0.00   30463.47
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  238161.29   58857.63    297018.92       0.00  297018.92
6           total  543496.33  134316.08    677812.41       0.00  677812.41

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  225166.57  75054.94    300221.51  225166.57  525388.08
1    spprevcom       0.00      0.00         0.00     273.34     273.34
2        total  225166.57  75054.94    300221.51  225439.91  525661.42
3       spprev       0.00      0.00         0.00  327428.42  327428.42

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  334499.35  112887.42    447386.77       0.00  447386.77
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  334499.35  112887.42    447386.77       0.00  447386.77
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  -91805.13  -30963.74   -122768.87  225166.57  102397.70
1    spprevcom       0.00       0.00         0.00     273.34     273.34
2        total  -91805.13  -30963.74   -122768.87  225439.91  102671.04
3       spprev       0.00       0.00         0.00  327428.42  327428.42

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  256981.79  86022.14    343003.93       0.00  343003.93
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  256981.79  86022.14    343003.93       0.00  343003.93
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  187615.35   62537.94    250153.29  187615.35  437768.64
1            inss   37522.41   12507.01     50029.42   31135.89   81165.31
2         ac_trab   93807.37   31268.61    125075.98   77841.07  202917.05
3            fgts   15008.41    5002.30     20010.71   12453.91   32464.62
4       spprevcom       0.00       0.00         0.00    3379.55    3379.55
5  total_encargos  146338.19   48777.92    195116.11  124810.42  319926.53
6           total  333953.54  111315.86    445269.40  312425.77  757695.17

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  335633.49  112236.55    447870.04       0.00  447870.04
1  ferias_pecunia   31900.05       0.00     31900.05       0.00   31900.05
2           Total  367533.54  112236.55    479770.09       0.00  479770.09
3            inss   73506.48   22447.09     95953.57       0.00   95953.57
4         ac_trab  183766.65   56118.16    239884.81       0.00  239884.81
5            fgts   29402.46    8978.72     38381.18       0.00   38381.18
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  286675.59   87543.97    374219.56       0.00  374219.56
8           total  654209.13  199780.52    853989.65       0.00  853989.65

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   90562.48  30187.16    120749.64  187615.35  308364.99
1            inss   18112.04   6037.04     24149.08   31135.89   55284.97
2         ac_trab   45281.05  15093.34     60374.39   77841.07  138215.46
3            fgts    7244.44   2414.46      9658.90   12453.91   22112.81
4       spprevcom       0.00      0.00         0.00    3379.55    3379.55
5  total_encargos   70637.53  23544.84     94182.37  124810.42  218992.79
6           total  161200.01  53732.00    214932.01  312425.77  527357.78

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  270480.67   79885.77    350366.44       0.00  350366.44
1            inss   54096.11   15977.12     70073.23       0.00   70073.23
2         ac_trab  135240.33   39942.89    175183.22       0.00  175183.22
3            fgts   21638.49    6390.88     28029.37       0.00   28029.37
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  210974.93   62310.89    273285.82       0.00  273285.82
6           total  481455.60  142196.66    623652.26       0.00  623652.26

'apropriado'

                   ferias  13_ferias total_ferias  13_salario       total
0  apropriacao  905647.15  301880.00   1207527.15   905647.15  2113174.30
1    spprevcom       0.00       0.00         0.00      914.74      914.74
2        total  905647.15  301880.00   1207527.15   906561.89  2114089.04
3       spprev       0.00       0.00         0.00  1329554.79  1329554.79

'realizado'

                   ferias  13_ferias total_ferias 13_salario       total
0  apropriacao  836019.12  283186.54   1119205.66       0.00  1119205.66
1    spprevcom       0.00       0.00         0.00       0.00        0.00
2        total  836019.12  283186.54   1119205.66       0.00  1119205.66
3       spprev       0.00       0.00         0.00       0.00        0.00

'saldo'

                   ferias 13_ferias total_ferias  13_salario       total
0  apropriacao  149354.72  49466.19    198820.91   905647.15  1104468.06
1    spprevcom       0.00      0.00         0.00      914.74      914.74
2        total  149354.72  49466.19    198820.91   906561.89  1105382.80
3       spprev       0.00      0.00         0.00  1329554.79  1329554.79

'revertido'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  622803.67  207917.89    830721.56       0.00  830721.56
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  622803.67  207917.89    830721.56       0.00  830721.56
3       spprev       0.00       0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   94930.57  31643.24    126573.81   94930.57  221504.38
1            inss   18985.75   6328.29     25314.04   14878.36   40192.40
2         ac_trab   47465.12  15821.40     63286.52   37196.62  100483.14
3            fgts    7593.98   2531.04     10125.02    5951.03   16076.05
4       spprevcom       0.00      0.00         0.00    1525.55    1525.55
5  total_encargos   74044.85  24680.73     98725.58   59551.56  158277.14
6           total  168975.42  56323.97    225299.39  154482.13  379781.52

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  185345.61   63760.20    249105.81       0.00  249105.81
1  ferias_pecunia   52584.23       0.00     52584.23       0.00   52584.23
2           Total  237929.84   63760.20    301690.04       0.00  301690.04
3            inss   47585.86   12751.92     60337.78       0.00   60337.78
4         ac_trab  118964.83   31880.04    150844.87       0.00  150844.87
5            fgts   19034.24    5100.66     24134.90       0.00   24134.90
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  185584.93   49732.62    235317.55       0.00  235317.55
8           total  423514.77  113492.82    537007.59       0.00  537007.59

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  35139.67  11713.07     46852.74   94930.57  141783.31
1            inss   7027.68   2342.40      9370.08   14878.36   24248.44
2         ac_trab  17569.74   5856.39     23426.13   37196.62   60622.75
3            fgts   2810.86    936.76      3747.62    5951.03    9698.65
4       spprevcom      0.00      0.00         0.00    1525.55    1525.55
5  total_encargos  27408.28   9135.55     36543.83   59551.56   96095.39
6           total  62547.95  20848.62     83396.57  154482.13  237878.70

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  178138.94  43830.03    221968.97       0.00  221968.97
1            inss   35627.79   8766.03     44393.82       0.00   44393.82
2         ac_trab   89069.45  21915.03    110984.48       0.00  110984.48
3            fgts   14251.12   3506.38     17757.50       0.00   17757.50
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  138948.36  34187.44    173135.80       0.00  173135.80
6           total  317087.30  78017.47    395104.77       0.00  395104.77

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  244015.17  81337.88    325353.05  244015.17  569368.22
1    spprevcom       0.00      0.00         0.00      48.50      48.50
2        total  244015.17  81337.88    325353.05  244063.67  569416.72
3       spprev       0.00      0.00         0.00  341402.74  341402.74

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  211175.89  71850.99    283026.88       0.00  283026.88
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  211175.89  71850.99    283026.88       0.00  283026.88
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  72650.31  24216.25     96866.56  244015.17  340881.73
1    spprevcom      0.00      0.00         0.00      48.50      48.50
2        total  72650.31  24216.25     96866.56  244063.67  340930.23
3       spprev      0.00      0.00         0.00  341402.74  341402.74

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  137175.28  45725.16    182900.44       0.00  182900.44
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  137175.28  45725.16    182900.44       0.00  182900.44
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  170718.80   56905.93    227624.73  170718.80  398343.53
1            inss   34143.27   11380.72     45523.99   26323.03   71847.02
2         ac_trab   85359.11   28452.68    113811.79   65808.45  179620.24
3            fgts   13656.94    4551.90     18208.84   10528.93   28737.77
4       spprevcom       0.00       0.00         0.00    3428.84    3428.84
5  total_encargos  133159.32   44385.30    177544.62  106089.25  283633.87
6           total  303878.12  101291.23    405169.35  276808.05  681977.40

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  309937.77  103377.92    413315.69       0.00   413315.69
1  ferias_pecunia  155940.30       0.00    155940.30       0.00   155940.30
2           Total  465878.07  103377.92    569255.99       0.00   569255.99
3            inss   93175.42   20675.40    113850.82       0.00   113850.82
4         ac_trab  232938.90   51688.86    284627.76       0.00   284627.76
5            fgts   37270.03    8270.00     45540.03       0.00    45540.03
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  363384.35   80634.26    444018.61       0.00   444018.61
8           total  829262.42  184012.18   1013274.60       0.00  1013274.60

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   58048.81  19349.41     77398.22  170718.80  248117.02
1            inss   11609.46   3869.63     15479.09   26323.03   41802.12
2         ac_trab   29024.24   9674.55     38698.79   65808.45  104507.24
3            fgts    4643.59   1547.62      6191.21   10528.93   16720.14
4       spprevcom       0.00      0.00         0.00    3428.84    3428.84
5  total_encargos   45277.29  15091.80     60369.09  106089.25  166458.34
6           total  103326.10  34441.21    137767.31  276808.05  414575.36

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  353208.08   65821.40    419029.48       0.00  419029.48
1            inss   70641.61   13164.31     83805.92       0.00   83805.92
2         ac_trab  176604.03   32910.73    209514.76       0.00  209514.76
3            fgts   28256.68    5265.72     33522.40       0.00   33522.40
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  275502.32   51340.76    326843.08       0.00  326843.08
6           total  628710.40  117162.16    745872.56       0.00  745872.56

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  291362.03  97120.11    388482.14  291362.03  679844.17
1    spprevcom       0.00      0.00         0.00    1494.07    1494.07
2        total  291362.03  97120.11    388482.14  292856.10  681338.24
3       spprev       0.00      0.00         0.00  421622.40  421622.40

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  278948.27  93904.96    372853.23       0.00  372853.23
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  278948.27  93904.96    372853.23       0.00  372853.23
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  24351.34   8115.28     32466.62  291362.03  323828.65
1    spprevcom      0.00      0.00         0.00    1494.07    1494.07
2        total  24351.34   8115.28     32466.62  292856.10  325322.72
3       spprev      0.00      0.00         0.00  421622.40  421622.40

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  216090.87  72031.63    288122.50       0.00  288122.50
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  216090.87  72031.63    288122.50       0.00  288122.50
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao   98669.25   32889.58    131558.83   98669.25  230228.08
1            inss   19733.56    6577.63     26311.19   14565.91   40877.10
2         ac_trab  176854.37   58950.96    235805.33  130542.59  366347.92
3            fgts    7893.23    2630.78     10524.01    5826.17   16350.18
4       spprevcom       0.00       0.00         0.00    1782.31    1782.31
5  total_encargos  204481.16   68159.37    272640.53  152716.98  425357.51
6           total  303150.41  101048.95    404199.36  251386.23  655585.59

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  223933.32   74889.28    298822.60       0.00   298822.60
1  ferias_pecunia   81483.65       0.00     81483.65       0.00    81483.65
2           Total  305416.97   74889.28    380306.25       0.00   380306.25
3            inss   61083.23   14977.68     76060.91       0.00    76060.91
4         ac_trab  547429.18  134231.37    681660.55       0.00   681660.55
5            fgts   24433.20    5990.95     30424.15       0.00    30424.15
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  632945.61  155200.00    788145.61       0.00   788145.61
8           total  938362.58  230089.28   1168451.86       0.00  1168451.86

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  28809.33   9603.02     38412.35   98669.25  137081.60
1            inss   5761.71   1920.47      7682.18   14565.91   22248.09
2         ac_trab  51637.64  17212.30     68849.94  130542.59  199392.53
3            fgts   2304.60    768.02      3072.62    5826.17    8898.79
4       spprevcom      0.00      0.00         0.00    1782.31    1782.31
5  total_encargos  59703.95  19900.79     79604.74  152716.98  232321.72
6           total  88513.28  29503.81    118017.09  251386.23  369403.32

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  235557.05   51602.72    287159.77       0.00  287159.77
1            inss   47111.38   10320.52     57431.90       0.00   57431.90
2         ac_trab  422212.45   92492.71    514705.16       0.00  514705.16
3            fgts   18844.57    4128.19     22972.76       0.00   22972.76
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  488168.40  106941.42    595109.82       0.00  595109.82
6           total  723725.45  158544.14    882269.59       0.00  882269.59

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  30183.02  10060.94     40243.96   30183.02  70426.98
1    spprevcom      0.00      0.00         0.00     407.76    407.76
2        total  30183.02  10060.94     40243.96   30590.78  70834.74
3       spprev      0.00      0.00         0.00   39907.34  39907.34

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  11092.96   3697.65     14790.61       0.00  14790.61
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  11092.96   3697.65     14790.61       0.00  14790.61
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  19090.06   6363.29     25453.35   30183.02  55636.37
1    spprevcom      0.00      0.00         0.00     407.76    407.76
2        total  19090.06   6363.29     25453.35   30590.78  56044.13
3       spprev      0.00      0.00         0.00   39907.34  39907.34

'revertido'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  8936.00   2978.67     11914.67       0.00  11914.67
1    spprevcom     0.00      0.00         0.00       0.00      0.00
2        total  8936.00   2978.67     11914.67       0.00  11914.67
3       spprev     0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  114898.89  38299.33    153198.22  114898.89  268097.11
1            inss   22979.43   7659.56     30638.99   16478.38   47117.37
2         ac_trab   57449.26  19149.46     76598.72   41196.56  117795.28
3            fgts    9191.48   3063.53     12255.01    6591.11   18846.12
4       spprevcom       0.00      0.00         0.00    1154.81    1154.81
5  total_encargos   89620.17  29872.55    119492.72   65420.86  184913.58
6           total  204519.06  68171.88    272690.94  180319.75  453010.69

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  284593.34   95018.56    379611.90       0.00  379611.90
1  ferias_pecunia   93198.78       0.00     93198.78       0.00   93198.78
2           Total  377792.12   95018.56    472810.68       0.00  472810.68
3            inss   75558.21   19003.51     94561.72       0.00   94561.72
4         ac_trab  188895.95   47509.18    236405.13       0.00  236405.13
5            fgts   30223.15    7601.27     37824.42       0.00   37824.42
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  294677.31   74113.96    368791.27       0.00  368791.27
8           total  672469.43  169132.52    841601.95       0.00  841601.95

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  30005.14  10001.58     40006.72  114898.89  154905.61
1            inss   6000.86   2000.15      8001.01   16478.38   24479.39
2         ac_trab  15002.50   5000.69     20003.19   41196.56   61199.75
3            fgts   2400.25    799.94      3200.19    6591.11    9791.30
4       spprevcom      0.00      0.00         0.00    1154.81    1154.81
5  total_encargos  23403.61   7800.78     31204.39   65420.86   96625.25
6           total  53408.75  17802.36     71211.11  180319.75  251530.86

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  292898.37   66720.81    359619.18       0.00  359619.18
1            inss   58579.64   13344.10     71923.74       0.00   71923.74
2         ac_trab  146449.19   33360.41    179809.60       0.00  179809.60
3            fgts   23431.92    5337.68     28769.60       0.00   28769.60
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  228460.75   52042.19    280502.94       0.00  280502.94
6           total  521359.12  118763.00    640122.12       0.00  640122.12

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  163152.68  54383.83    217536.51  163152.68  380689.19
1    spprevcom       0.00      0.00         0.00     152.63     152.63
2        total  163152.68  54383.83    217536.51  163305.31  380841.82
3       spprev       0.00      0.00         0.00  234843.30  234843.30

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  221075.47  75391.35    296466.82       0.00  296466.82
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  221075.47  75391.35    296466.82       0.00  296466.82
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  -57922.79  -20133.54    -78056.33  163152.68   85096.35
1    spprevcom       0.00       0.00         0.00     152.63     152.63
2        total  -57922.79  -20133.54    -78056.33  163305.31   85248.98
3       spprev       0.00       0.00         0.00  234843.30  234843.30

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  176859.58  59778.80    236638.38       0.00  236638.38
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  176859.58  59778.80    236638.38       0.00  236638.38
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  143952.90   47983.89    191936.79  143952.90  335889.69
1            inss   28789.97    9596.24     38386.21   24728.90   63115.11
2         ac_trab  197704.26   65900.44    263604.70  169817.82  433422.52
3            fgts   11515.51    3838.07     15353.58    9891.15   25244.73
4       spprevcom       0.00       0.00         0.00    2661.65    2661.65
5  total_encargos  238009.74   79334.75    317344.49  207099.52  524444.01
6           total  381962.64  127318.64    509281.28  351052.42  860333.70

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  199610.18   66597.41    266207.59    1560.03  267767.62
1  ferias_pecunia   26950.98       0.00     26950.98       0.00   26950.98
2           Total  226561.16   66597.41    293158.57    1560.03  294718.60
3            inss   45312.12   13319.36     58631.48       0.00   58631.48
4         ac_trab  311158.93   91464.75    402623.68       0.00  402623.68
5            fgts   18124.78    5327.63     23452.41       0.00   23452.41
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  374595.83  110111.74    484707.57       0.00  484707.57
8           total  601156.99  176709.15    777866.14    1560.03  779426.17

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   87532.40  29177.16    116709.56  142392.87  259102.43
1            inss   17506.00   5835.02     23341.02   24728.90   48069.92
2         ac_trab  120216.52  40071.45    160287.97  169817.82  330105.79
3            fgts    7002.05   2333.67      9335.72    9891.15   19226.87
4       spprevcom       0.00      0.00         0.00    2661.65    2661.65
5  total_encargos  144724.57  48240.14    192964.71  207099.52  400064.23
6           total  232256.97  77417.30    309674.27  349492.39  659166.66

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  170140.66   47790.68    217931.34   -1862.85  216068.49
1            inss   34028.15    9558.14     43586.29       0.00   43586.29
2         ac_trab  233671.19   65635.76    299306.95       0.00  299306.95
3            fgts   13611.32    3823.23     17434.55       0.00   17434.55
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  281310.66   79017.13    360327.79       0.00  360327.79
6           total  451451.32  126807.81    578259.13   -1862.85  576396.28

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  276624.01  92207.32    368831.33  276624.01  645455.34
1    spprevcom       0.00      0.00         0.00     732.54     732.54
2        total  276624.01  92207.32    368831.33  277356.55  646187.88
3       spprev       0.00      0.00         0.00  368703.85  368703.85

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  659609.27  220952.75    880562.02    2316.79  882878.81
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  659609.27  220952.75    880562.02    2316.79  882878.81
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                    ferias   13_ferias total_ferias 13_salario       total
0  apropriacao  -382985.26  -127826.34   -510811.60  274307.22  -236504.38
1    spprevcom        0.00        0.00         0.00     732.54      732.54
2        total  -382985.26  -127826.34   -510811.60  275039.76  -235771.84
3       spprev        0.00        0.00         0.00  368703.85   368703.85

'revertido'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  523009.82  174500.80    697510.62    -161.44  697349.18
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  523009.82  174500.80    697510.62    -161.44  697349.18
3       spprev       0.00       0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  189514.62   63171.04    252685.66  189514.62  442200.28
1            inss   37902.34   12633.60     50535.94   28224.50   78760.44
2         ac_trab   94756.93   31585.14    126342.07   70562.45  196904.52
3            fgts   15160.42    5053.00     20213.42   11289.33   31502.75
4       spprevcom       0.00       0.00         0.00    3096.77    3096.77
5  total_encargos  147819.69   49271.74    197091.43  113173.05  310264.48
6           total  337334.31  112442.78    449777.09  302687.67  752464.76

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  431965.15  144891.80    576856.95       0.00   576856.95
1  ferias_pecunia  119238.38       0.00    119238.38       0.00   119238.38
2           Total  551203.53  144891.80    696095.33       0.00   696095.33
3            inss  110240.41   28978.11    139218.52       0.00   139218.52
4         ac_trab  275601.56   72445.75    348047.31       0.00   348047.31
5            fgts   44095.98   11591.05     55687.03       0.00    55687.03
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  429937.95  113014.91    542952.86       0.00   542952.86
8           total  981141.48  257906.71   1239048.19       0.00  1239048.19

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   60395.37  20131.51     80526.88  189514.62  270041.50
1            inss   12078.73   4025.96     16104.69   28224.50   44329.19
2         ac_trab   30197.49  10065.56     40263.05   70562.45  110825.50
3            fgts    4831.21   1610.16      6441.37   11289.33   17730.70
4       spprevcom       0.00      0.00         0.00    3096.77    3096.77
5  total_encargos   47107.43  15701.68     62809.11  113173.05  175982.16
6           total  107502.80  35833.19    143335.99  302687.67  446023.66

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  422084.28  101852.27    523936.55       0.00  523936.55
1            inss   84416.80   20370.47    104787.27       0.00  104787.27
2         ac_trab  211042.12   50926.17    261968.29       0.00  261968.29
3            fgts   33766.77    8148.21     41914.98       0.00   41914.98
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  329225.69   79444.85    408670.54       0.00  408670.54
6           total  751309.97  181297.12    932607.09       0.00  932607.09

'apropriado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  424599.63  141532.21    566131.84  424599.63  990731.47
1    spprevcom       0.00       0.00         0.00     832.38     832.38
2        total  424599.63  141532.21    566131.84  425432.01  991563.85
3       spprev       0.00       0.00         0.00  627813.32  627813.32

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  272527.70  95445.84    367973.54       0.00  367973.54
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  272527.70  95445.84    367973.54       0.00  367973.54
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  152071.93  48959.29    201031.22  424599.63  625630.85
1    spprevcom       0.00      0.00         0.00     832.38     832.38
2        total  152071.93  48959.29    201031.22  425432.01  626463.23
3       spprev       0.00      0.00         0.00  627813.32  627813.32

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  219831.74  75007.74    294839.48       0.00  294839.48
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  219831.74  75007.74    294839.48       0.00  294839.48
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   87749.67  29249.77    116999.44   87749.67  204749.11
1            inss   17549.67   5849.70     23399.37   12930.60   36329.97
2         ac_trab   43874.68  14624.72     58499.40   32327.05   90826.45
3            fgts    7019.69   2339.69      9359.38    5172.05   14531.43
4       spprevcom       0.00      0.00         0.00    1509.51    1509.51
5  total_encargos   68444.04  22814.11     91258.15   51939.21  143197.36
6           total  156193.71  52063.88    208257.59  139688.88  347946.47

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  195990.33   65567.23    261557.56       0.00  261557.56
1  ferias_pecunia   70012.00       0.00     70012.00       0.00   70012.00
2           Total  266002.33   65567.23    331569.56       0.00  331569.56
3            inss   53200.36   13113.31     66313.67       0.00   66313.67
4         ac_trab  133001.08   32783.57    165784.65       0.00  165784.65
5            fgts   21280.05    5245.20     26525.25       0.00   26525.25
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  207481.49   51142.08    258623.57       0.00  258623.57
8           total  473483.82  116709.31    590193.13       0.00  590193.13

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  26971.62   8990.49     35962.11   87749.67  123711.78
1            inss   5394.18   1797.97      7192.15   12930.60   20122.75
2         ac_trab  13485.74   4495.15     17980.89   32327.05   50307.94
3            fgts   2157.58    719.07      2876.65    5172.05    8048.70
4       spprevcom      0.00      0.00         0.00    1509.51    1509.51
5  total_encargos  21037.50   7012.19     28049.69   51939.21   79988.90
6           total  48009.12  16002.68     64011.80  139688.88  203700.68

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  205224.28  45307.95    250532.23       0.00  250532.23
1            inss   41044.87   9061.58     50106.45       0.00   50106.45
2         ac_trab  102612.14  22654.00    125266.14       0.00  125266.14
3            fgts   16417.94   3624.58     20042.52       0.00   20042.52
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  160074.95  35340.16    195415.11       0.00  195415.11
6           total  365299.23  80648.11    445947.34       0.00  445947.34

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10103.45   3367.80     13471.25   10103.45  23574.70
1    spprevcom      0.00      0.00         0.00     161.85    161.85
2        total  10103.45   3367.80     13471.25   10265.30  23736.55
3       spprev      0.00      0.00         0.00    9311.73   9311.73

'realizado'

                 ferias 13_ferias total_ferias 13_salario    total
0  apropriacao  7100.73   2366.91      9467.64       0.00  9467.64
1    spprevcom     0.00      0.00         0.00       0.00     0.00
2        total  7100.73   2366.91      9467.64       0.00  9467.64
3       spprev     0.00      0.00         0.00       0.00     0.00

'saldo'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  3002.72   1000.89      4003.61   10103.45  14107.06
1    spprevcom     0.00      0.00         0.00     161.85    161.85
2        total  3002.72   1000.89      4003.61   10265.30  14268.91
3       spprev     0.00      0.00         0.00    9311.73   9311.73

'revertido'

                 ferias 13_ferias total_ferias 13_salario    total
0  apropriacao  5523.83   1841.28      7365.11       0.00  7365.11
1    spprevcom     0.00      0.00         0.00       0.00     0.00
2        total  5523.83   1841.28      7365.11       0.00  7365.11
3       spprev     0.00      0.00         0.00       0.00     0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  196286.92   65428.51    261715.43  196286.92  458002.35
1            inss   39256.74   13085.05     52341.79   30611.68   82953.47
2         ac_trab   98143.07   32713.83    130856.90   76530.47  207387.37
3            fgts   15702.19    5233.50     20935.69   12244.19   33179.88
4       spprevcom       0.00       0.00         0.00    3237.11    3237.11
5  total_encargos  153102.00   51032.38    204134.38  122623.45  326757.83
6           total  349388.92  116460.89    465849.81  318910.37  784760.18

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  426328.06  143253.05    569581.11       0.00   569581.11
1  ferias_pecunia   78312.00       0.00     78312.00       0.00    78312.00
2           Total  504640.06  143253.05    647893.11       0.00   647893.11
3            inss  100927.76   28650.31    129578.07       0.00   129578.07
4         ac_trab  252319.84   71626.37    323946.21       0.00   323946.21
5            fgts   40370.88   11459.89     51830.77       0.00    51830.77
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  393618.48  111736.57    505355.05       0.00   505355.05
8           total  898258.54  254989.62   1153248.16       0.00  1153248.16

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   65210.57  21736.57     86947.14  196286.92  283234.06
1            inss   13041.73   4346.94     17388.67   30611.68   48000.35
2         ac_trab   32605.07  10868.04     43473.11   76530.47  120003.58
3            fgts    5216.38   1738.45      6954.83   12244.19   19199.02
4       spprevcom       0.00      0.00         0.00    3237.11    3237.11
5  total_encargos   50863.18  16953.43     67816.61  122623.45  190440.06
6           total  116073.75  38690.00    154763.75  318910.37  473674.12

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  373563.71   99561.11    473124.82       0.00  473124.82
1            inss   74712.75   19912.20     94624.95       0.00   94624.95
2         ac_trab  186781.84   49780.58    236562.42       0.00  236562.42
3            fgts   29885.07    7964.84     37849.91       0.00   37849.91
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  291379.66   77657.62    369037.28       0.00  369037.28
6           total  664943.37  177218.73    842162.10       0.00  842162.10

'apropriado'

                   ferias  13_ferias total_ferias 13_salario       total
0  apropriacao  578005.45  192667.18    770672.63  578005.45  1348678.08
1    spprevcom       0.00       0.00         0.00    1197.15     1197.15
2        total  578005.45  192667.18    770672.63  579202.60  1349875.23
3       spprev       0.00       0.00         0.00  798340.13   798340.13

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  529887.22  181198.81    711086.03       0.00  711086.03
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  529887.22  181198.81    711086.03       0.00  711086.03
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  48118.23  15349.22     63467.45  578005.45  641472.90
1    spprevcom      0.00      0.00         0.00    1197.15    1197.15
2        total  48118.23  15349.22     63467.45  579202.60  642670.05
3       spprev      0.00      0.00         0.00  798340.13  798340.13

'revertido'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  412306.63  138124.65    550431.28       0.00  550431.28
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  412306.63  138124.65    550431.28       0.00  550431.28
3       spprev       0.00       0.00         0.00       0.00       0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  264701.41   88233.25    352934.66  264701.41   617636.07
1            inss   52939.61   17646.03     70585.64   38345.85   108931.49
2         ac_trab  378945.71  126314.00    505259.71  274484.95   779744.66
3            fgts   21175.33    7057.89     28233.22   15337.90    43571.12
4       spprevcom       0.00       0.00         0.00    3227.92     3227.92
5  total_encargos  453060.65  151017.92    604078.57  331396.62   935475.19
6           total  717762.06  239251.17    957013.23  596098.03  1553111.26

'realizado'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   499750.21  167114.56    666864.77       0.00   666864.77
1  ferias_pecunia   224419.12       0.00    224419.12       0.00   224419.12
2           Total   724169.33  167114.56    891283.89       0.00   891283.89
3            inss   144833.58   33422.60    178256.18       0.00   178256.18
4         ac_trab  1036720.43  239240.86   1275961.29       0.00  1275961.29
5            fgts    57933.19   13368.84     71302.03       0.00    71302.03
6       spprevcom        0.00       0.00         0.00       0.00        0.00
7  total_encargos  1239487.20  286032.30   1525519.50       0.00  1525519.50
8           total  1963656.53  453146.86   2416803.39       0.00  2416803.39

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  104065.49  34688.21    138753.70  264701.41  403455.11
1            inss   20812.72   6937.29     27750.01   38345.85   66095.86
2         ac_trab  148979.72  49659.24    198638.96  274484.95  473123.91
3            fgts    8324.86   2774.68     11099.54   15337.90   26437.44
4       spprevcom       0.00      0.00         0.00    3227.92    3227.92
5  total_encargos  178117.30  59371.21    237488.51  331396.62  568885.13
6           total  282182.79  94059.42    376242.21  596098.03  972340.24

'revertido'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   563533.41  113569.52    677102.93       0.00   677102.93
1            inss   112706.69   22713.86    135420.55       0.00   135420.55
2         ac_trab   806754.44  162586.10    969340.54       0.00   969340.54
3            fgts    45082.72    9085.63     54168.35       0.00    54168.35
4       spprevcom        0.00       0.00         0.00       0.00        0.00
5  total_encargos   964543.85  194385.59   1158929.44       0.00  1158929.44
6           total  1528077.26  307955.11   1836032.37       0.00  1836032.37

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  244850.11  81616.23    326466.34  244850.11  571316.45
1    spprevcom       0.00      0.00         0.00     381.61     381.61
2        total  244850.11  81616.23    326466.34  245231.72  571698.06
3       spprev       0.00      0.00         0.00  352459.18  352459.18

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  307388.77  102830.11    410218.88       0.00  410218.88
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  307388.77  102830.11    410218.88       0.00  410218.88
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  -62538.66  -20846.70    -83385.36  244850.11  161464.75
1    spprevcom       0.00       0.00         0.00     381.61     381.61
2        total  -62538.66  -20846.70    -83385.36  245231.72  161846.36
3       spprev       0.00       0.00         0.00  352459.18  352459.18

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  249942.32  83314.20    333256.52       0.00  333256.52
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  249942.32  83314.20    333256.52       0.00  333256.52
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   60733.80  20244.47     80978.27   60733.80  141712.07
1            inss   12146.58   4048.72     16195.30    8853.33   25048.63
2         ac_trab   30366.79  10122.12     40488.91   22133.67   62622.58
3            fgts    4858.52   1619.36      6477.88    3541.22   10019.10
4       spprevcom       0.00      0.00         0.00    1211.73    1211.73
5  total_encargos   47371.89  15790.20     63162.09   35739.95   98902.04
6           total  108105.69  36034.67    144140.36   96473.75  240614.11

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  149133.01  49815.37    198948.38       0.00  198948.38
1  ferias_pecunia   48462.42      0.00     48462.42       0.00   48462.42
2           Total  197595.43  49815.37    247410.80       0.00  247410.80
3            inss   39518.99   9963.01     49482.00       0.00   49482.00
4         ac_trab   98797.67  24907.62    123705.29       0.00  123705.29
5            fgts   15807.51   3985.14     19792.65       0.00   19792.65
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos  154124.17  38855.77    192979.94       0.00  192979.94
8           total  351719.60  88671.14    440390.74       0.00  440390.74

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  12767.75   4255.86     17023.61   60733.80   77757.41
1            inss   2553.47    851.09      3404.56    8853.33   12257.89
2         ac_trab   6383.84   2127.88      8511.72   22133.67   30645.39
3            fgts   1021.32    340.37      1361.69    3541.22    4902.91
4       spprevcom      0.00      0.00         0.00    1211.73    1211.73
5  total_encargos   9958.63   3319.34     13277.97   35739.95   49017.92
6           total  22726.38   7575.20     30301.58   96473.75  126775.33

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  149629.38  33826.76    183456.14       0.00  183456.14
1            inss   29925.88   6765.38     36691.26       0.00   36691.26
2         ac_trab   74814.72  16913.38     91728.10       0.00   91728.10
3            fgts   11970.31   2706.15     14676.46       0.00   14676.46
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  116710.91  26384.91    143095.82       0.00  143095.82
6           total  266340.29  60211.67    326551.96       0.00  326551.96

'apropriado'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  9056.09   3018.68     12074.77    9056.09  21130.86
1    spprevcom     0.00      0.00         0.00       0.00      0.00
2        total  9056.09   3018.68     12074.77    9056.09  21130.86
3       spprev     0.00      0.00         0.00   13578.14  13578.14

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  19318.60   6439.53     25758.13       0.00  25758.13
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  19318.60   6439.53     25758.13       0.00  25758.13
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  -10262.51  -3420.85    -13683.36    9056.09  -4627.27
1    spprevcom       0.00      0.00         0.00       0.00      0.00
2        total  -10262.51  -3420.85    -13683.36    9056.09  -4627.27
3       spprev       0.00      0.00         0.00   13578.14  13578.14

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  15464.46   5154.82     20619.28       0.00  20619.28
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  15464.46   5154.82     20619.28       0.00  20619.28
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  266995.46   88997.98    355993.44  266995.46   622988.90
1            inss   53398.40   17798.89     71197.29   38516.42   109713.71
2         ac_trab  133497.35   44498.60    177995.95   96292.33   274288.28
3            fgts   21358.88    7119.03     28477.91   15406.04    43883.95
4       spprevcom       0.00       0.00         0.00    5336.75     5336.75
5  total_encargos  208254.63   69416.52    277671.15  155551.54   433222.69
6           total  475250.09  158414.50    633664.59  422547.00  1056211.59

'realizado'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   626183.28  211115.76    837299.04       0.00   837299.04
1  ferias_pecunia   262699.86       0.00    262699.86       0.00   262699.86
2           Total   888883.14  211115.76   1099998.90       0.00  1099998.90
3            inss   177776.24   42222.79    219999.03       0.00   219999.03
4         ac_trab   444441.35  105557.68    549999.03       0.00   549999.03
5            fgts    71110.30   16888.89     87999.19       0.00    87999.19
6       spprevcom        0.00       0.00         0.00       0.00        0.00
7  total_encargos   693327.89  164669.36    857997.25       0.00   857997.25
8           total  1582211.03  375785.12   1957996.15       0.00  1957996.15

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   71440.66  23813.34     95254.00  266995.46  362249.46
1            inss   14287.78   4762.34     19050.12   38516.42   57566.54
2         ac_trab   35720.11  11906.46     47626.57   96292.33  143918.90
3            fgts    5714.85   1904.68      7619.53   15406.04   23025.57
4       spprevcom       0.00      0.00         0.00    5336.75    5336.75
5  total_encargos   55722.74  18573.48     74296.22  155551.54  229847.76
6           total  127163.40  42386.82    169550.22  422547.00  592097.22

'revertido'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   693328.34  145931.12    839259.46       0.00   839259.46
1            inss   138665.62   29186.24    167851.86       0.00   167851.86
2         ac_trab   346664.11   72965.54    419629.65       0.00   419629.65
3            fgts    55466.27   11674.54     67140.81       0.00    67140.81
4       spprevcom        0.00       0.00         0.00       0.00        0.00
5  total_encargos   540796.00  113826.32    654622.32       0.00   654622.32
6           total  1234124.34  259757.44   1493881.78       0.00  1493881.78

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  274398.48  91465.53    365864.01  274398.48  640262.49
1    spprevcom       0.00      0.00         0.00    1165.71    1165.71
2        total  274398.48  91465.53    365864.01  275564.19  641428.20
3       spprev       0.00      0.00         0.00  401559.18  401559.18

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  249879.80  85663.62    335543.42       0.00  335543.42
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  249879.80  85663.62    335543.42       0.00  335543.42
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  24518.68   8150.77     32669.45  274398.48  307067.93
1    spprevcom      0.00      0.00         0.00    1165.71    1165.71
2        total  24518.68   8150.77     32669.45  275564.19  308233.64
3       spprev      0.00      0.00         0.00  401559.18  401559.18

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  201019.31  67028.01    268047.32       0.00  268047.32
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  201019.31  67028.01    268047.32       0.00  268047.32
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  113603.32  37867.49    151470.81  113603.32  265074.13
1            inss   22720.37   7573.23     30293.60   16240.79   46534.39
2         ac_trab   56801.44  18933.57     75735.01   40602.47  116337.48
3            fgts    9087.91   3029.07     12116.98    6496.04   18613.02
4       spprevcom       0.00      0.00         0.00    2346.59    2346.59
5  total_encargos   88609.72  29535.87    118145.59   65685.89  183831.48
6           total  202213.04  67403.36    269616.40  179289.21  448905.61

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  272164.83   90799.02    362963.85       0.00  362963.85
1  ferias_pecunia  106547.80       0.00    106547.80       0.00  106547.80
2           Total  378712.63   90799.02    469511.65       0.00  469511.65
3            inss   75742.35   18159.62     93901.97       0.00   93901.97
4         ac_trab  189356.20   45399.41    234755.61       0.00  234755.61
5            fgts   30296.82    7263.72     37560.54       0.00   37560.54
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  295395.37   70822.75    366218.12       0.00  366218.12
8           total  674108.00  161621.77    835729.77       0.00  835729.77

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  26987.44   8995.66     35983.10  113603.32  149586.42
1            inss   5397.36   1799.01      7196.37   16240.79   23437.16
2         ac_trab  13493.62   4497.74     17991.36   40602.47   58593.83
3            fgts   2158.82    719.50      2878.32    6496.04    9374.36
4       spprevcom      0.00      0.00         0.00    2346.59    2346.59
5  total_encargos  21049.80   7016.25     28066.05   65685.89   93751.94
6           total  48037.24  16011.91     64049.15  179289.21  243338.36

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  292096.75   61927.19    354023.94       0.00  354023.94
1            inss   58419.34   12385.40     70804.74       0.00   70804.74
2         ac_trab  146048.38   30963.58    177011.96       0.00  177011.96
3            fgts   23367.73    4954.15     28321.88       0.00   28321.88
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  227835.45   48303.13    276138.58       0.00  276138.58
6           total  519932.20  110230.32    630162.52       0.00  630162.52

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  18621.97   6207.27     24829.24   18621.97  43451.21
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  18621.97   6207.27     24829.24   18621.97  43451.21
3       spprev      0.00      0.00         0.00   27021.98  27021.98

'realizado'

               ferias 13_ferias total_ferias 13_salario   total
0  apropriacao   0.00    602.84       602.84       0.00  602.84
1    spprevcom   0.00      0.00         0.00       0.00    0.00
2        total   0.00    602.84       602.84       0.00  602.84
3       spprev   0.00      0.00         0.00       0.00    0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  18621.97   6207.27     24829.24   18621.97  43451.21
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  18621.97   6207.27     24829.24   18621.97  43451.21
3       spprev      0.00      0.00         0.00   27021.98  27021.98

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  121836.58  40611.91    162448.49  121836.58  284285.07
1            inss   24366.90   8122.01     32488.91   20201.37   52690.28
2         ac_trab   60918.04  20305.70     81223.74   50504.20  131727.94
3            fgts    9746.40   3248.45     12994.85    8080.24   21075.09
4       spprevcom       0.00      0.00         0.00    2372.02    2372.02
5  total_encargos   95031.34  31676.16    126707.50   81157.83  207865.33
6           total  216867.92  72288.07    289155.99  202994.41  492150.40

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  213989.78   72314.83    286304.61    1332.18  287636.79
1  ferias_pecunia   31731.49       0.00     31731.49       0.00   31731.49
2           Total  245721.27   72314.83    318036.10    1332.18  319368.28
3            inss   49144.15   14462.84     63606.99       0.00   63606.99
4         ac_trab  122860.56   36157.34    159017.90       0.00  159017.90
5            fgts   19657.56    5785.02     25442.58       0.00   25442.58
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  191662.27   56405.20    248067.47       0.00  248067.47
8           total  437383.54  128720.03    566103.57    1332.18  567435.75

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   59851.91  19950.44     79802.35  120504.40  200306.75
1            inss   11970.09   3989.82     15959.91   20201.37   36161.28
2         ac_trab   29925.79   9975.05     39900.84   50504.20   90405.04
3            fgts    4787.79   1595.68      6383.47    8080.24   14463.71
4       spprevcom       0.00      0.00         0.00    2372.02    2372.02
5  total_encargos   46683.67  15560.55     62244.22   81157.83  143402.05
6           total  106535.58  35510.99    142046.57  201662.23  343708.80

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  183736.60  51653.36    235389.96   -1113.45  234276.51
1            inss   36747.34  10330.65     47077.99       0.00   47077.99
2         ac_trab   91868.31  25826.69    117695.00       0.00  117695.00
3            fgts   14698.95   4132.25     18831.20       0.00   18831.20
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  143314.60  40289.59    183604.19       0.00  183604.19
6           total  327051.20  91942.95    418994.15   -1113.45  417880.70

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  175606.66  58535.14    234141.80  175606.66  409748.46
1    spprevcom       0.00      0.00         0.00     737.05     737.05
2        total  175606.66  58535.14    234141.80  176343.71  410485.51
3       spprev       0.00      0.00         0.00  252814.55  252814.55

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  128438.51  43729.07    172167.58       0.00  172167.58
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  128438.51  43729.07    172167.58       0.00  172167.58
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  47168.15  15722.30     62890.45  175606.66  238497.11
1    spprevcom      0.00      0.00         0.00     737.05     737.05
2        total  47168.15  15722.30     62890.45  176343.71  239234.16
3       spprev      0.00      0.00         0.00  252814.55  252814.55

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  105954.68  35318.26    141272.94       0.00  141272.94
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  105954.68  35318.26    141272.94       0.00  141272.94
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  158929.86  52976.29    211906.15  158929.86  370836.01
1            inss   31785.49  10594.84     42380.33   24058.37   66438.70
2         ac_trab   79464.65  26487.87    105952.52   60146.82  166099.34
3            fgts   12713.87   4237.59     16951.46    9623.04   26574.50
4       spprevcom       0.00      0.00         0.00    3713.30    3713.30
5  total_encargos  123964.01  41320.30    165284.31   97541.53  262825.84
6           total  282893.87  94296.59    377190.46  256471.39  633661.85

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  408275.19  136925.09    545200.28       0.00   545200.28
1  ferias_pecunia   53775.45       0.00     53775.45       0.00    53775.45
2           Total  462050.64  136925.09    598975.73       0.00   598975.73
3            inss   92409.94   27384.76    119794.70       0.00   119794.70
4         ac_trab  231025.13   68462.42    299487.55       0.00   299487.55
5            fgts   36963.84   10953.69     47917.53       0.00    47917.53
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  360398.91  106800.87    467199.78       0.00   467199.78
8           total  822449.55  243725.96   1066175.51       0.00  1066175.51

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  43557.24  14518.93     58076.17  158929.86  217006.03
1            inss   8711.22   2903.58     11614.80   24058.37   35673.17
2         ac_trab  21778.51   7259.36     29037.87   60146.82   89184.69
3            fgts   3484.37   1161.29      4645.66    9623.04   14268.70
4       spprevcom      0.00      0.00         0.00    3713.30    3713.30
5  total_encargos  33974.10  11324.23     45298.33   97541.53  142839.86
6           total  77531.34  25843.16    103374.50  256471.39  359845.89

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  346678.02   98467.73    445145.75       0.00  445145.75
1            inss   69335.67   19693.50     89029.17       0.00   89029.17
2         ac_trab  173338.99   49233.91    222572.90       0.00  222572.90
3            fgts   27734.34    7877.39     35611.73       0.00   35611.73
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  270409.00   76804.80    347213.80       0.00  347213.80
6           total  617087.02  175272.53    792359.55       0.00  792359.55

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  207563.16  69187.28    276750.44  207563.16  484313.60
1    spprevcom       0.00      0.00         0.00     706.59     706.59
2        total  207563.16  69187.28    276750.44  208269.75  485020.19
3       spprev       0.00      0.00         0.00  296791.92  296791.92

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  232063.57  77830.00    309893.57       0.00  309893.57
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  232063.57  77830.00    309893.57       0.00  309893.57
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  -24500.41  -8167.24    -32667.65  207563.16  174895.51
1    spprevcom       0.00      0.00         0.00     706.59     706.59
2        total  -24500.41  -8167.24    -32667.65  208269.75  175602.10
3       spprev       0.00      0.00         0.00  296791.92  296791.92

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  193416.17  64472.09    257888.26       0.00  257888.26
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  193416.17  64472.09    257888.26       0.00  257888.26
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   89007.21  29668.88    118676.09   89007.21  207683.30
1            inss   17801.19   5933.53     23734.72   12820.42   36555.14
2         ac_trab   44503.42  14834.25     59337.67   32051.52   91389.19
3            fgts    7120.30   2373.22      9493.52    5127.98   14621.50
4       spprevcom       0.00      0.00         0.00    1446.52    1446.52
5  total_encargos   69424.91  23141.00     92565.91   51446.44  144012.35
6           total  158432.12  52809.88    211242.00  140453.65  351695.65

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  189676.43   63478.42    253154.85       0.00  253154.85
1  ferias_pecunia  105174.67       0.00    105174.67       0.00  105174.67
2           Total  294851.10   63478.42    358329.52       0.00  358329.52
3            inss   58970.08   12695.57     71665.65       0.00   71665.65
4         ac_trab  147425.48   31739.14    179164.62       0.00  179164.62
5            fgts   23587.92    5078.13     28666.05       0.00   28666.05
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  229983.48   49512.84    279496.32       0.00  279496.32
8           total  524834.58  112991.26    637825.84       0.00  637825.84

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  27144.05   9047.93     36191.98   89007.21  125199.19
1            inss   5428.70   1809.47      7238.17   12820.42   20058.59
2         ac_trab  13571.92   4523.87     18095.79   32051.52   50147.31
3            fgts   2171.39    723.70      2895.09    5127.98    8023.07
4       spprevcom      0.00      0.00         0.00    1446.52    1446.52
5  total_encargos  21172.01   7057.04     28229.05   51446.44   79675.49
6           total  48316.06  16104.97     64421.03  140453.65  204874.68

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  232987.94  42857.47    275845.41       0.00  275845.41
1            inss   46597.59   8571.51     55169.10       0.00   55169.10
2         ac_trab  116493.98  21428.76    137922.74       0.00  137922.74
3            fgts   18639.01   3428.61     22067.62       0.00   22067.62
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  181730.58  33428.88    215159.46       0.00  215159.46
6           total  414718.52  76286.35    491004.87       0.00  491004.87

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10586.86   3528.92     14115.78   10586.86  24702.64
1    spprevcom      0.00      0.00         0.00     266.15    266.15
2        total  10586.86   3528.92     14115.78   10853.01  24968.79
3       spprev      0.00      0.00         0.00    7992.64   7992.64

'realizado'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10586.86   3528.92     14115.78   10586.86  24702.64
1    spprevcom      0.00      0.00         0.00     266.15    266.15
2        total  10586.86   3528.92     14115.78   10853.01  24968.79
3       spprev      0.00      0.00         0.00    7992.64   7992.64

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   81855.40  27284.96    109140.36   81855.40  190995.76
1            inss   16370.84   5456.75     21827.59   11815.16   33642.75
2         ac_trab   40927.56  13642.34     54569.90   29538.33   84108.23
3            fgts    6548.16   2182.49      8730.65    4725.93   13456.58
4       spprevcom       0.00      0.00         0.00    1427.97    1427.97
5  total_encargos   63846.56  21281.58     85128.14   47507.39  132635.53
6           total  145701.96  48566.54    194268.50  129362.79  323631.29

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  237809.22   79269.75    317078.97       0.00  317078.97
1  ferias_pecunia   32643.83       0.00     32643.83       0.00   32643.83
2           Total  270453.05   79269.75    349722.80       0.00  349722.80
3            inss   54090.50   15853.84     69944.34       0.00   69944.34
4         ac_trab  135226.48   39634.80    174861.28       0.00  174861.28
5            fgts   21636.10    6341.47     27977.57       0.00   27977.57
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  210953.08   61830.11    272783.19       0.00  272783.19
8           total  481406.13  141099.86    622505.99       0.00  622505.99

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  18866.26   6288.68     25154.94   81855.40  107010.34
1            inss   3773.14   1257.62      5030.76   11815.16   16845.92
2         ac_trab   9433.07   3144.27     12577.34   29538.33   42115.67
3            fgts   1509.16    502.92      2012.08    4725.93    6738.01
4       spprevcom      0.00      0.00         0.00    1427.97    1427.97
5  total_encargos  14715.37   4904.81     19620.18   47507.39   67127.57
6           total  33581.63  11193.49     44775.12  129362.79  174137.91

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  207463.91   58273.47    265737.38       0.00  265737.38
1            inss   41492.80   11654.71     53147.51       0.00   53147.51
2         ac_trab  103731.99   29136.73    132868.72       0.00  132868.72
3            fgts   16597.10    4661.90     21259.00       0.00   21259.00
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  161821.89   45453.34    207275.23       0.00  207275.23
6           total  369285.80  103726.81    473012.61       0.00  473012.61

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  17902.96   5967.60     23870.56   17902.96  41773.52
1    spprevcom      0.00      0.00         0.00     366.46    366.46
2        total  17902.96   5967.60     23870.56   18269.42  42139.98
3       spprev      0.00      0.00         0.00   16405.14  16405.14

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  10759.38   3586.46     14345.84       0.00  14345.84
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  10759.38   3586.46     14345.84       0.00  14345.84
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  7143.58   2381.14      9524.72   17902.96  27427.68
1    spprevcom     0.00      0.00         0.00     366.46    366.46
2        total  7143.58   2381.14      9524.72   18269.42  27794.14
3       spprev     0.00      0.00         0.00   16405.14  16405.14

'revertido'

                 ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  8667.28   2889.10     11556.38       0.00  11556.38
1    spprevcom     0.00      0.00         0.00       0.00      0.00
2        total  8667.28   2889.10     11556.38       0.00  11556.38
3       spprev     0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  239437.73   79812.10    319249.83  239437.73  558687.56
1            inss   47886.99   15961.85     63848.84   34955.25   98804.09
2         ac_trab  119718.52   39905.65    159624.17   87389.29  247013.46
3            fgts   19154.36    6384.27     25538.63   13981.65   39520.28
4       spprevcom       0.00       0.00         0.00    4993.09    4993.09
5  total_encargos  186759.87   62251.77    249011.64  141319.28  390330.92
6           total  426197.60  142063.87    568261.47  380757.01  949018.48

'realizado'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   648242.29  216373.43    864615.72    9373.51   873989.23
1  ferias_pecunia    92963.01       0.00     92963.01       0.00    92963.01
2           Total   741205.30  216373.43    957578.73    9373.51   966952.24
3            inss   148240.71   43274.36    191515.07       0.00   191515.07
4         ac_trab   370602.41  108186.55    478788.96       0.00   478788.96
5            fgts    59296.04   17309.46     76605.50       0.00    76605.50
6       spprevcom        0.00       0.00         0.00       0.00        0.00
7  total_encargos   578139.16  168770.37    746909.53       0.00   746909.53
8           total  1319344.46  385143.80   1704488.26    9373.51  1713861.77

'saldo'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   61137.47  20378.95     81516.42  230064.22  311580.64
1            inss   12227.23   4075.52     16302.75   34955.25   51258.00
2         ac_trab   30568.57  10189.30     40757.87   87389.29  128147.16
3            fgts    4890.69   1630.01      6520.70   13981.65   20502.35
4       spprevcom       0.00      0.00         0.00    4993.09    4993.09
5  total_encargos   47686.49  15894.83     63581.32  141319.28  204900.60
6           total  108823.96  36273.78    145097.74  371383.50  516481.24

'revertido'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   562905.04  156940.28    719845.32  -34598.09   685247.23
1            inss   112580.95   31388.03    143968.98       0.00   143968.98
2         ac_trab   281452.46   78470.20    359922.66       0.00   359922.66
3            fgts    45032.37   12555.20     57587.57       0.00    57587.57
4       spprevcom        0.00       0.00         0.00       0.00        0.00
5  total_encargos   439065.78  122413.43    561479.21       0.00   561479.21
6           total  1001970.82  279353.71   1281324.53  -34598.09  1246726.44

'apropriado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  364610.52  121536.05    486146.57  364610.52  850757.09
1    spprevcom       0.00       0.00         0.00    1630.79    1630.79
2        total  364610.52  121536.05    486146.57  366241.31  852387.88
3       spprev       0.00       0.00         0.00  526123.99  526123.99

'realizado'

                   ferias  13_ferias total_ferias 13_salario      total
0  apropriacao  299529.97  102736.71    402266.68    6801.93  409068.61
1    spprevcom       0.00       0.00         0.00       0.00       0.00
2        total  299529.97  102736.71    402266.68    6801.93  409068.61
3       spprev       0.00       0.00         0.00       0.00       0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  65080.55  21568.48     86649.03  357808.59  444457.62
1    spprevcom      0.00      0.00         0.00    1630.79    1630.79
2        total  65080.55  21568.48     86649.03  359439.38  446088.41
3       spprev      0.00      0.00         0.00  526123.99  526123.99

'revertido'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  243726.43  81366.46    325092.89  -20208.70  304884.19
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  243726.43  81366.46    325092.89  -20208.70  304884.19
3       spprev       0.00      0.00         0.00       0.00       0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   57536.61  19178.72     76715.33   57536.61  134251.94
1            inss   11507.09   3835.54     15342.63    9005.40   24348.03
2         ac_trab   28768.18   9589.21     38357.39   22514.03   60871.42
3            fgts    4602.62   1534.01      6136.63    3602.01    9738.64
4       spprevcom       0.00      0.00         0.00     514.18     514.18
5  total_encargos   44877.89  14958.76     59836.65   35635.62   95472.27
6           total  102414.50  34137.48    136551.98   93172.23  229724.21

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  121506.01  40502.00    162008.01    1489.79  163497.80
1  ferias_pecunia   21244.78      0.00     21244.78       0.00   21244.78
2           Total  142750.79  40502.00    183252.79    1489.79  184742.58
3            inss   28550.11   8100.35     36650.46       0.00   36650.46
4         ac_trab   71375.35  20250.98     91626.33       0.00   91626.33
5            fgts   11420.00   3240.09     14660.09       0.00   14660.09
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos  111345.46  31591.42    142936.88       0.00  142936.88
8           total  254096.25  72093.42    326189.67    1489.79  327679.46

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  25035.08   8344.92     33380.00   56046.82   89426.82
1            inss   5006.83   1668.84      6675.67    9005.40   15681.07
2         ac_trab  12517.45   4172.35     16689.80   22514.03   39203.83
3            fgts   2002.58    667.39      2669.97    3602.01    6271.98
4       spprevcom      0.00      0.00         0.00     514.18     514.18
5  total_encargos  19526.86   6508.58     26035.44   35635.62   61671.06
6           total  44561.94  14853.50     59415.44   91682.44  151097.88

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  110249.26  29668.20    139917.46    -149.41  139768.05
1            inss   22049.85   5933.65     27983.50       0.00   27983.50
2         ac_trab   55124.62  14834.12     69958.74       0.00   69958.74
3            fgts    8819.96   2373.47     11193.43       0.00   11193.43
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos   85994.43  23141.24    109135.67       0.00  109135.67
6           total  196243.69  52809.44    249053.13    -149.41  248903.72

'apropriado'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  86603.30  28867.56    115470.86   86603.30  202074.16
1    spprevcom      0.00      0.00         0.00     412.02     412.02
2        total  86603.30  28867.56    115470.86   87015.32  202486.18
3       spprev      0.00      0.00         0.00  121037.76  121037.76

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  61717.46  21156.89     82874.35    1744.73  84619.08
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  61717.46  21156.89     82874.35    1744.73  84619.08
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  24885.84   8295.07     33180.91   84858.57  118039.48
1    spprevcom      0.00      0.00         0.00     412.02     412.02
2        total  24885.84   8295.07     33180.91   85270.59  118451.50
3       spprev      0.00      0.00         0.00  121037.76  121037.76

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  49319.32  16439.81     65759.13   -1434.25  64324.88
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  49319.32  16439.81     65759.13   -1434.25  64324.88
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  142958.93  47652.74    190611.67  142958.93  333570.60
1            inss   28591.54   9530.26     38121.80   19487.99   57609.79
2         ac_trab   71479.33  23826.21     95305.54   48720.51  144026.05
3            fgts   11436.38   3811.89     15248.27    7794.95   23043.22
4       spprevcom       0.00      0.00         0.00    3185.80    3185.80
5  total_encargos  111507.25  37168.36    148675.61   79189.25  227864.86
6           total  254466.18  84821.10    339287.28  222148.18  561435.46

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  429466.36  143537.07    573003.43       0.00   573003.43
1  ferias_pecunia  114857.67       0.00    114857.67       0.00   114857.67
2           Total  544324.03  143537.07    687861.10       0.00   687861.10
3            inss  108864.63   28707.22    137571.85       0.00   137571.85
4         ac_trab  272161.89   71768.41    343930.30       0.00   343930.30
5            fgts   43545.72   11482.76     55028.48       0.00    55028.48
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  424572.24  111958.39    536530.63       0.00   536530.63
8           total  968896.27  255495.46   1224391.73       0.00  1224391.73

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  23643.61   7881.13     31524.74  142958.93  174483.67
1            inss   4728.61   1576.12      6304.73   19487.99   25792.72
2         ac_trab  11821.75   3940.51     15762.26   48720.51   64482.77
3            fgts   1891.36    630.36      2521.72    7794.95   10316.67
4       spprevcom      0.00      0.00         0.00    3185.80    3185.80
5  total_encargos  18441.72   6146.99     24588.71   79189.25  103777.96
6           total  42085.33  14028.12     56113.45  222148.18  278261.63

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  425008.71  103765.46    528774.17       0.00  528774.17
1            inss   85001.70   20753.08    105754.78       0.00  105754.78
2         ac_trab  212504.31   51882.71    264387.02       0.00  264387.02
3            fgts   34000.70    8301.23     42301.93       0.00   42301.93
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  331506.71   80937.02    412443.73       0.00  412443.73
6           total  756515.42  184702.48    941217.90       0.00  941217.90

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  21640.06   7213.30     28853.36   21640.06  50493.42
1    spprevcom      0.00      0.00         0.00      57.51     57.51
2        total  21640.06   7213.30     28853.36   21697.57  50550.93
3       spprev      0.00      0.00         0.00   30607.12  30607.12

'realizado'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  21640.06   7213.30     28853.36   21640.06  50493.42
1    spprevcom      0.00      0.00         0.00      57.51     57.51
2        total  21640.06   7213.30     28853.36   21697.57  50550.93
3       spprev      0.00      0.00         0.00   30607.12  30607.12

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  119186.25  39728.52    158914.77  119186.25  278101.02
1            inss   23836.87   7945.40     31782.27   18500.25   50282.52
2         ac_trab   59592.89  19864.01     79456.90   46251.28  125708.18
3            fgts    9534.48   3177.90     12712.38    7399.84   20112.22
4       spprevcom       0.00      0.00         0.00    2777.31    2777.31
5  total_encargos   92964.24  30987.31    123951.55   74928.68  198880.23
6           total  212150.49  70715.83    282866.32  194114.93  476981.25

'realizado'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  213755.61   72077.45    285833.06       0.00  285833.06
1  ferias_pecunia  103349.50       0.00    103349.50       0.00  103349.50
2           Total  317105.11   72077.45    389182.56       0.00  389182.56
3            inss   63420.88   14415.32     77836.20       0.00   77836.20
4         ac_trab  158552.48   36038.63    194591.11       0.00  194591.11
5            fgts   25368.23    5765.98     31134.21       0.00   31134.21
6       spprevcom       0.00       0.00         0.00       0.00       0.00
7  total_encargos  247341.59   56219.93    303561.52       0.00  303561.52
8           total  564446.70  128297.38    692744.08       0.00  692744.08

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  44845.47  14948.38     59793.85  119186.25  178980.10
1            inss   8968.88   2989.52     11958.40   18500.25   30458.65
2         ac_trab  22422.61   7474.05     29896.66   46251.28   76147.94
3            fgts   3587.41   1195.66      4783.07    7399.84   12182.91
4       spprevcom      0.00      0.00         0.00    2777.31    2777.31
5  total_encargos  34978.90  11659.23     46638.13   74928.68  121566.81
6           total  79824.37  26607.61    106431.98  194114.93  300546.91

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  242764.33  47297.31    290061.64       0.00  290061.64
1            inss   48552.89   9459.44     58012.33       0.00   58012.33
2         ac_trab  121382.20  23648.67    145030.87       0.00  145030.87
3            fgts   19421.16   3783.74     23204.90       0.00   23204.90
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  189356.25  36891.85    226248.10       0.00  226248.10
6           total  432120.58  84189.16    516309.74       0.00  516309.74

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  12133.84   4044.58     16178.42   12133.84  28312.26
1    spprevcom      0.00      0.00         0.00      87.18     87.18
2        total  12133.84   4044.58     16178.42   12221.02  28399.44
3       spprev      0.00      0.00         0.00   17356.57  17356.57

'realizado'

               ferias 13_ferias total_ferias 13_salario  total
0  apropriacao   0.00     53.77        53.77       0.00  53.77
1    spprevcom   0.00      0.00         0.00       0.00   0.00
2        total   0.00     53.77        53.77       0.00  53.77
3       spprev   0.00      0.00         0.00       0.00   0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  12133.84   4044.58     16178.42   12133.84  28312.26
1    spprevcom      0.00      0.00         0.00      87.18     87.18
2        total  12133.84   4044.58     16178.42   12221.02  28399.44
3       spprev      0.00      0.00         0.00   17356.57  17356.57

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao   81390.26  27129.90    108520.16   81390.26  189910.42
1            inss   16277.77   5425.74     21703.51   12837.20   34540.71
2         ac_trab   40694.97  13564.81     54259.78   32093.48   86353.26
3            fgts    6510.93   2170.11      8681.04    5134.71   13815.75
4       spprevcom       0.00      0.00         0.00    1697.57    1697.57
5  total_encargos   63483.67  21160.66     84644.33   51762.96  136407.29
6           total  144873.93  48290.56    193164.49  133153.22  326317.71

'realizado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  153199.45  51180.03    204379.48       0.00  204379.48
1  ferias_pecunia   53235.78      0.00     53235.78       0.00   53235.78
2           Total  206435.23  51180.03    257615.26       0.00  257615.26
3            inss   41286.94  10235.93     51522.87       0.00   51522.87
4         ac_trab  103217.54  25589.97    128807.51       0.00  128807.51
5            fgts   16514.72   4094.29     20609.01       0.00   20609.01
6       spprevcom       0.00      0.00         0.00       0.00       0.00
7  total_encargos  161019.20  39920.19    200939.39       0.00  200939.39
8           total  367454.43  91100.22    458554.65       0.00  458554.65

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  29952.79   9984.17     39936.96   81390.26  121327.22
1            inss   5990.39   1996.72      7987.11   12837.20   20824.31
2         ac_trab  14976.29   4991.98     19968.27   32093.48   52061.75
3            fgts   2396.04    798.57      3194.61    5134.71    8329.32
4       spprevcom      0.00      0.00         0.00    1697.57    1697.57
5  total_encargos  23362.72   7787.27     31149.99   51762.96   82912.95
6           total  53315.51  17771.44     71086.95  133153.22  204240.17

'revertido'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  154997.76  34034.30    189032.06       0.00  189032.06
1            inss   30999.56   6806.91     37806.47       0.00   37806.47
2         ac_trab   77498.86  17017.14     94516.00       0.00   94516.00
3            fgts   12399.83   2722.75     15122.58       0.00   15122.58
4       spprevcom       0.00      0.00         0.00       0.00       0.00
5  total_encargos  120898.25  26546.80    147445.05       0.00  147445.05
6           total  275896.01  60581.10    336477.11       0.00  336477.11

'apropriado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  13569.91   4523.28     18093.19   13569.91  31663.10
1    spprevcom      0.00      0.00         0.00     119.93    119.93
2        total  13569.91   4523.28     18093.19   13689.84  31783.03
3       spprev      0.00      0.00         0.00   20135.46  20135.46

'realizado'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  13569.91   4523.28     18093.19   13569.91  31663.10
1    spprevcom      0.00      0.00         0.00     119.93    119.93
2        total  13569.91   4523.28     18093.19   13689.84  31783.03
3       spprev      0.00      0.00         0.00   20135.46  20135.46

'revertido'

               ferias 13_ferias total_ferias 13_salario total
0  apropriacao   0.00      0.00         0.00       0.00  0.00
1    spprevcom   0.00      0.00         0.00       0.00  0.00
2        total   0.00      0.00         0.00       0.00  0.00
3       spprev   0.00      0.00         0.00       0.00  0.00

'apropriado'

                      ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  157889.02  52629.28    210518.30  157889.02  368407.32
1            inss   31577.39  10525.39     42102.78   23547.60   65650.38
2         ac_trab   78944.25  26314.28    105258.53   58869.86  164128.39
3            fgts   12630.51   4209.79     16840.30    9418.63   26258.93
4       spprevcom       0.00      0.00         0.00    3394.59    3394.59
5  total_encargos  123152.15  41049.46    164201.61   95230.68  259432.29
6           total  281041.17  93678.74    374719.91  253119.70  627839.61

'realizado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  384929.51  129244.65    514174.16       0.00   514174.16
1  ferias_pecunia   82636.76       0.00     82636.76       0.00    82636.76
2           Total  467566.27  129244.65    596810.92       0.00   596810.92
3            inss   93513.04   25848.70    119361.74       0.00   119361.74
4         ac_trab  233782.96   64622.23    298405.19       0.00   298405.19
5            fgts   37405.03   10339.33     47744.36       0.00    47744.36
6       spprevcom       0.00       0.00         0.00       0.00        0.00
7  total_encargos  364701.03  100810.26    465511.29       0.00   465511.29
8           total  832267.30  230054.91   1062322.21       0.00  1062322.21

'saldo'

                     ferias 13_ferias total_ferias 13_salario      total
0     apropriacao  44063.76  14687.71     58751.47  157889.02  216640.49
1            inss   8812.53   2937.32     11749.85   23547.60   35297.45
2         ac_trab  22031.75   7343.65     29375.40   58869.86   88245.26
3            fgts   3524.77   1174.73      4699.50    9418.63   14118.13
4       spprevcom      0.00      0.00         0.00    3394.59    3394.59
5  total_encargos  34369.05  11455.70     45824.75   95230.68  141055.43
6           total  78432.81  26143.41    104576.22  253119.70  357695.92

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  353741.01   91303.08    445044.09       0.00  445044.09
1            inss   70748.18   18260.63     89008.81       0.00   89008.81
2         ac_trab  176870.46   45651.60    222522.06       0.00  222522.06
3            fgts   28299.29    7304.27     35603.56       0.00   35603.56
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  275917.93   71216.50    347134.43       0.00  347134.43
6           total  629658.94  162519.58    792178.52       0.00  792178.52

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  157747.36  52582.07    210329.43  157747.36  368076.79
1    spprevcom       0.00      0.00         0.00     331.70     331.70
2        total  157747.36  52582.07    210329.43  158079.06  368408.49
3       spprev       0.00      0.00         0.00  237606.48  237606.48

'realizado'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  71986.43  24726.87     96713.30       0.00  96713.30
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  71986.43  24726.87     96713.30       0.00  96713.30
3       spprev      0.00      0.00         0.00       0.00      0.00

'saldo'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  85760.93  28586.60    114347.53  157747.36  272094.89
1    spprevcom      0.00      0.00         0.00     331.70     331.70
2        total  85760.93  28586.60    114347.53  158079.06  272426.59
3       spprev      0.00      0.00         0.00  237606.48  237606.48

'revertido'

                  ferias 13_ferias total_ferias 13_salario     total
0  apropriacao  58034.90  19344.99     77379.89       0.00  77379.89
1    spprevcom      0.00      0.00         0.00       0.00      0.00
2        total  58034.90  19344.99     77379.89       0.00  77379.89
3       spprev      0.00      0.00         0.00       0.00      0.00

'apropriado'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  364641.26  121545.68    486186.94  364641.26   850828.20
1            inss   72926.76   24308.00     97234.76   62057.50   159292.26
2         ac_trab  182319.78   60771.96    243091.74  155146.80   398238.54
3            fgts   29169.32    9721.89     38891.21   24822.20    63713.41
4       spprevcom       0.00       0.00         0.00    1959.04     1959.04
5  total_encargos  284415.86   94801.85    379217.71  243985.54   623203.25
6           total  649057.12  216347.53    865404.65  608626.80  1474031.45

'realizado'

                       ferias  13_ferias total_ferias 13_salario       total
0     apropriacao   491626.71  164915.44    656542.15     562.31   657104.46
1  ferias_pecunia   105434.36       0.00    105434.36       0.00   105434.36
2           Total   597061.07  164915.44    761976.51     562.31   762538.82
3            inss   119411.83   32982.72    152394.55       0.00   152394.55
4         ac_trab   298530.29   82457.55    380987.84       0.00   380987.84
5            fgts    47764.42   13192.79     60957.21       0.00    60957.21
6       spprevcom        0.00       0.00         0.00       0.00        0.00
7  total_encargos   465706.54  128633.06    594339.60       0.00   594339.60
8           total  1062767.61  293548.50   1356316.11     562.31  1356878.42

'saldo'

                      ferias  13_ferias total_ferias 13_salario       total
0     apropriacao  207735.37   69244.05    276979.42  364078.95   641058.37
1            inss   41545.97   13848.06     55394.03   62057.50   117451.53
2         ac_trab  103867.10   34621.38    138488.48  155146.80   293635.28
3            fgts   16617.33    5538.23     22155.56   24822.20    46977.76
4       spprevcom       0.00       0.00         0.00    1959.04     1959.04
5  total_encargos  162030.40   54007.67    216038.07  243985.54   460023.61
6           total  369765.77  123251.72    493017.49  608064.49  1101081.98

'revertido'

                      ferias  13_ferias total_ferias 13_salario      total
0     apropriacao  440155.18  112613.81    552768.99   -4177.52  548591.47
1            inss   88031.04   22522.78    110553.82       0.00  110553.82
2         ac_trab  220077.61   56306.97    276384.58       0.00  276384.58
3            fgts   35212.43    9009.13     44221.56       0.00   44221.56
4       spprevcom       0.00       0.00         0.00       0.00       0.00
5  total_encargos  343321.08   87838.88    431159.96       0.00  431159.96
6           total  783476.26  200452.69    983928.95   -4177.52  979751.43

'apropriado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  261645.95  87214.79    348860.74  261645.95  610506.69
1    spprevcom       0.00      0.00         0.00     164.54     164.54
2        total  261645.95  87214.79    348860.74  261810.49  610671.23
3       spprev       0.00      0.00         0.00  376284.78  376284.78

'realizado'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  146256.84  49705.68    195962.52       0.00  195962.52
1    spprevcom       0.00      0.00         0.00       0.00       0.00
2        total  146256.84  49705.68    195962.52       0.00  195962.52
3       spprev       0.00      0.00         0.00       0.00       0.00

'saldo'

                   ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  143681.76  47781.35    191463.11  261645.95  453109.06
1    spprevcom       0.00      0.00         0.00     164.54     164.54
2        total  143681.76  47781.35    191463.11  261810.49  453273.60
3       spprev       0.00      0.00         0.00  376284.78  376284.78

'revertido'

                  ferias 13_ferias total_ferias 13_salario      total
0  apropriacao  93989.58  31441.96    125431.54       0.00  125431.54
1    spprevcom      0.00      0.00         0.00       0.00       0.00
2        total  93989.58  31441.96    125431.54       0.00  125431.54
3       spprev      0.00      0.00         0.00       0.00       0.00